.flex {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
    height: 100%;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-item {
  // IE needs 'auto' here, otherwise height will be 0
  flex: 0 0 auto;
  &.grow {
    // IE needs units for flex basis for some reason
    // See: https://github.com/philipwalton/flexbugs#flexbug-4
    flex: 1 0 0px;
  }
}

.full-height {
  display: block;
  height: 100%;
}
