@import "./variables.scss";

/**
 * Styles configuarion:
 * 1) https://www.ag-grid.com/javascript-grid-themes/material-theme.php
 * 2) https://github.com/ag-grid/ag-grid-material/blob/master/custom-sizing/styles.scss
 */
$ag-icons-path: '~ag-grid/src/styles/icons/';
$ag-mat-icons-path: '~ag-grid/src/styles/material-icons/';

$font-family: 'Roboto Condensed', sans-serif;

$grid-size: 6px !default;

$icon-size: 14px !default;

$header-height: 32px !default;
$row-height: 32px;

$cell-horizontal-padding: 15px;

.ag-row.active {
  background-color: $brand-info;
}

.inactive {
  background-color: $gray-lighter;
}

.ag-menu-column-select-wrapper {
  height: 200px !important;
}
