/* ========================================================================
     Component: typo
 ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400,400i,600&subset=cyrillic);

body {
  // font-family: "Cuprum", sans-serif;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #1F1F1F;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
