<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.scheduleEvents.dialog.remove.title"
  actionTranslationKey="widgets.scheduleEvents.dialog.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-schedule-event-dialog-start
  *ngIf="isDialog('start')"
  (cancel)="onCloseDialog()"
  (action)="onStartEventSubmit($event)"
>
</app-schedule-event-dialog-start>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.scheduleEvents"
  selectionType="single"
  [columns]="columns"
  [footerHeight]="false"
  [rows]="events"
  (onSelect)="onSelect($event)"
  (onDblClick)="onEdit($event)"
></app-grid>
