.multiselect-container, .multiselect-control-bar, .multiselect-control-bar > .row {
  height: 100%;
}

.multiselect-control-bar .container-align {
  text-align: center;
  display: table;
  & .vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
  }
}
