.popup {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.36);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.popup-content {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
  position: relative;
  width: 50vw;
}

.popup-close {
  color: #aaa;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 10px;
  transition: color 0.2s ease;

  &:hover {
    color: #000;
  }
}
