<div *ngIf="hasTemplate" class="mb">
  <label>{{ 'modules.contactRegistration.outcome.template' | translate }}</label>
  <app-html-textarea [ngModel]="template"></app-html-textarea>
</div>

<div class="mb">
  <label>{{ 'modules.contactRegistration.outcome.autoCommentId' | translate }}</label>
  <app-select
    [(ngModel)]="autoCommentId"
    [disabled]="!(hasAutoComment$ | async)"
    [options]="autoCommentOptions"
    [nullable]="true"
    (onSelect)="onAutoCommentIdChange($event)"
  ></app-select>
</div>

<div class="mb">
  <label>{{ 'modules.contactRegistration.outcome.autoComment' | translate }}</label>
  <app-html-textarea [ngModel]="autoComment"></app-html-textarea>
</div>

<div class="mb">
  <label>{{ 'modules.contactRegistration.outcome.comment' | translate }}</label>
  <textarea
    class="form-control"
    rows="3"
    [(ngModel)]="comment"
    [disabled]="!(hasComment$ | async)"
  ></textarea>
</div>

<div class="mb">
  <app-tree
    layout="horizontal"
    selectionMode="single"
    [collapseAdjacentNodes]="true"
    [expandNodeOnClick]="true"
    [value]="nodes"
    [selection]="selectedNode$ | async"
    (onNodeSelect)="onNodeSelect($event)"
    (onNodeExpand)="onNodeSelect($event)">
  </app-tree>
</div>

<app-button type="next" [disabled]="!(canSubmit$ | async)" (click)="onNextClick()"></app-button>
