<app-dialog-action
  *ngIf="isDialog('removeIdentity')"
  actionMode="danger"
  actionTranslationKey="debtor.identityDocs.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  [messageParams]="identityDoc"
  titleTranslationKey="debtor.identityDocs.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()"
>
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/debtor-card/identityDocs"
  [columns]="columns"
  [rows]="rows"
  [toolbar]="toolbarItems"
  (select)="onSelect($event)"
  (dblClick)="onDoubleClick($event)"
></app-simple-grid>
