.log-filter-form {
  padding: 0;
}

:host {
  background-color: #fff;
}

:host /deep/ ul.app-toolbar {
  padding-right: 10px;
  border: 0;
  background-color: inherit;
}

.search-button {
  font-size: 14px;
  border-color: #dde6e9;
}
