<div class="form-toolbar">
  <div class="form-toolbar-section">
    <div class="form-title mt0">{{ 'actionsLog.title' | translate }}</div>
  </div>
  <div class="form-toolbar-section">
    <div class="icon-section">
      <div class="icon" (click)="onSearch()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="icon" (click)="onExport()">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<app-dynamic-form
  *ngIf="controls"
  [controls]="controls"
  [data]="data"
></app-dynamic-form>
