<app-guarantor-grid
  *ngIf="isDialog('findGuarantor')"
  [searchParams]="searchParams"
  (close)="onCloseDialog()"
  (select)="onSelect($event)"
>
</app-guarantor-grid>

<div>
  <button class="btn btn-default" (click)="onClear()">
    <i class="fa fa-times"></i> {{ 'default.buttons.clear' | translate }}
  </button>
  <button class="btn btn-default" (click)="onSearch()" [disabled]="!(canSubmit$ | async)">
    <i class="fa fa-search"></i> {{ 'widgets.guarantor.search.title' | translate }}
  </button>
</div>

<div class="pb-lg">
  <app-dynamic-form *ngIf="controls" [controls]="controls" [data]="guarantor">
  </app-dynamic-form>
</div>
