<div class="pb-lg">
  <app-dynamic-form
    #eventType
    *ngIf="eventTypeControls"
    [config]="eventTypeConfig"
    [controls]="eventTypeControls"
    [data]="selectedType"
  ></app-dynamic-form>
</div>

<ng-container *ngFor="let controls of addParamsControls; let i = index">
  <div class="pb-lg" *ngIf="selectedEventTypeCode === i + 1">
    <app-dynamic-form
      #addParams
      [config]="eventTypeConfig"
      [controls]="controls"
      [data]="selectedType"
    ></app-dynamic-form>
  </div>
</ng-container>

<app-custom-operation-params
  #addOperationParams
  *ngIf="addOperationParams && addOperationParams.length"
  key="schedule-operation-params"
  [inputParams]="addOperationParams"
></app-custom-operation-params>
