<div
  *ngIf="!horizontal"
  [ngClass]="{'ui-tree ui-widget ui-widget-content':true,'ui-tree-selectable':selectionMode}"
  [ngStyle]="style"
  [class]="styleClass">
  <ul class="app-tree-container">
    <app-tree-node
      *ngFor="let node of value;let firstChild=first;let lastChild=last; let index=index"
      [collapseAdjacentNodes]="collapseAdjacentNodes"
      [expandNodeOnClick]="expandNodeOnClick"
      [node]="node"
      [firstChild]="firstChild"
      [lastChild]="lastChild"
      [index]="index">
    </app-tree-node>
  </ul>
</div>

<div
  *ngIf="horizontal"
  [ngClass]="{'ui-tree ui-tree-horizontal ui-widget ui-widget-content':true,'ui-tree-selectable':selectionMode}"
  [ngStyle]="style"
  [class]="styleClass">
  <ng-container *ngIf="value?.length">
    <table *ngIf="value[0].children">
      <app-tree-node
        *ngFor="let child of value[0].children"
        [collapseAdjacentNodes]="collapseAdjacentNodes"
        [expandNodeOnClick]="expandNodeOnClick"
        [node]="child"
        [root]="true">
      </app-tree-node>
    </table>
    <table *ngIf="!value[0].children">
      <app-tree-node
        [collapseAdjacentNodes]="collapseAdjacentNodes"
        [expandNodeOnClick]="expandNodeOnClick"
        [node]="value[0]"
        [root]="true">
      </app-tree-node>
    </table>
  </ng-container>
</div>

<div class="context-menu" *ngIf="ctxMenu" [ngStyle]="ctxMenu.style">
  <div class="list-group m0">
    <a class="list-group-item" (click)="onCopyClick(false)">
      {{ 'default.contextMenu.copy' | translate }}
    </a>
    <a class="list-group-item" (click)="onCopyClick(true)">
        {{ 'default.contextMenu.copyWithChildren' | translate }}
    </a>
    <a *ngIf="canPaste" class="list-group-item" (click)="onPasteClick()">
      {{ 'default.contextMenu.paste' | translate }}
    </a>
  </div>
</div>
