<div
  *ngIf="!horizontal"
  [ngClass]="{'ui-tree ui-widget ui-widget-content ui-corner-all':true,'ui-tree-selectable':selectionMode}"
  [ngStyle]="style"
  [class]="styleClass">
  <ul class="ui-tree-container">
    <app-tree-node
      *ngFor="let node of value;let firstChild=first;let lastChild=last; let index=index"
      [node]="node"
      [firstChild]="firstChild"
      [lastChild]="lastChild"
      [index]="index">
    </app-tree-node>
  </ul>
</div>
<div
  *ngIf="horizontal"
  [ngClass]="{'ui-tree ui-tree-horizontal ui-widget ui-widget-content ui-corner-all':true,'ui-tree-selectable':selectionMode}"
  [ngStyle]="style"
  [class]="styleClass">
  <div *ngIf="value?.length">
    <table *ngIf="value[0].children">
      <app-tree-node
        *ngFor="let child of value[0].children"
        [node]="child"
        [root]="true">
      </app-tree-node>
    </table>
    <table *ngIf="!value[0].children">
      <app-tree-node [node]="value[0]" [root]="true"></app-tree-node>
    </table>
  </div>
</div>
