.selected {
  border-color: #88839d;
  .app-tree-toggler {
    border-left-color: #88839d;
  }
}
.app-treenode-content {
  &.dnd-swapped-active {
    background-color: #88839d !important;
  }
  &.dnd-active {
    background-color: #88839d !important;
  }
}

.app-tree-container {
  height: 100%;
  overflow: auto;
  padding: .25em;
  border: 1px solid #ddd;
}

.app-tree-toggler {
  position: absolute;
  cursor: pointer;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #dcdae2;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: -15px;
}

.ui-tree-horizontal .app-treenode-label, .gu-mirror .app-treenode-label {
  display: inline-block;
  text-align: center;
  min-width: 130px;
  max-width: 130px;
  font-size: 13px;
  padding: 5px 0;
}

.ui-tree-horizontal .ui-treenode.ui-treenode-leaf, .ui-tree-horizontal .ui-treenode.ui-treenode-collapsed {
  padding-right: 0;
}

.ui-tree-horizontal .app-treenode-content, .app-treenode-content.gu-mirror {
  padding: 4px 6px;
}

.ui-treenode-children {
  padding: 0 0 0 1em;
}

.ui-treenode {
  background-attachment: scroll;
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat-y;
  list-style: none outside none;
  padding: .125em 0 0 0;
}

.ui-tree {
    &.ui-tree-horizontal {
      .ui-treenode {
        padding: 0.25em 1.5em;
      }
    }
   .ui-treenode-selectable.app-treenode-content {
        cursor: pointer;
        user-select: none;
    }

    .ui-treenode-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .ui-treenode.ui-treenode-leaf > .app-treenode-content > .app-tree-toggler {
        visibility: hidden;
    }

    .ui-chkbox-box {
        cursor: pointer;
        width: 1em;
        height: 1em;
        text-align: center;
        border-radius: 3px;
    }

    .ui-chkbox {
        display: inline-block;
        vertical-align: middle;
    }

    .ui-chkbox .ui-chkbox-icon {
        margin-left: 1px;
    }
}

.ui-tree-horizontal table, .ui-tree-horizontal tr, .ui-tree-horizontal td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.ui-tree-horizontal {
  .app-treenode-content {
    position: relative;
  }

  table {
    height: 0;
  }

  .ui-chkbox {
    vertical-align: bottom;
    margin-right: .25em;
  }

  .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
  }

  .ui-treenode-children {
    padding: 0;
    margin: 0;
  }

  .ui-treenode {
    &:first-child {
      padding-left: 0;
    }
  }
}

.context-menu {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  position: fixed;
}
