.ui-tree {
  .ui-treenode-content {
    min-width: 160px;
    &.dnd-swapped-active {
      background-color: #d8ffe1 !important;
    }
    &.dnd-active {
      background-color: #99e5a9 !important;
    }
  }

    .ui-treenode-selectable.ui-treenode-content {
        cursor: pointer;
        user-select: none;
    }

    .ui-tree-container {
        height: 100%;
        margin: 0;
        overflow: auto;
        padding: .25em;
        white-space: nowrap;
    }

    .ui-treenode-children {
        margin: 0;
        padding: 0 0 0 1em;
    }

    .ui-treenode {
        background-attachment: scroll;
        background-color: transparent;
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat-y;
        list-style: none outside none;
        margin: 0;
        padding: .125em 0 0 0;
    }

    .ui-tree-toggler {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    .ui-treenode-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .ui-treenode-label {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
    }

    .ui-treenode-label.ui-state-hover,
    .ui-treenode-label.ui-state-highlight {
        font-weight: normal;
        border: 0 none;
    }

    .ui-treenode.ui-treenode-leaf > .ui-treenode-content > .ui-tree-toggler {
        visibility: hidden;
    }

    .ui-chkbox-box {
        cursor: pointer;
    }

    .ui-chkbox {
        display: inline-block;
        vertical-align: middle;
    }

    .ui-chkbox .ui-chkbox-icon {
        margin-left: 1px;
    }
}

/** Fluid **/
.ui-fluid .ui-tree {
    width: 100%;
}

/** Horizontal Tree **/
.ui-tree-horizontal {
    width: auto;
    padding: .5em 1em;
    overflow: auto;
}

.ui-tree.ui-tree-horizontal table,
.ui-tree.ui-tree-horizontal tr,
.ui-tree.ui-tree-horizontal td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.ui-tree.ui-tree-horizontal .ui-treenode-content {
    position: relative;
}

.ui-tree.ui-tree-horizontal .ui-tree-toggler {
    position: absolute;
    height: 16px;
    line-height: 16px;
    left: 2px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

.ui-tree-horizontal .ui-treenode-content, .ui-treenode-content.gu-mirror {
    font-size: 12px;
    font-weight: normal;
    padding: 0.5em 1.2em;
}

.ui-tree.ui-tree-horizontal .ui-treenode-label {
    display: table-cell;
    width: 130px;
    height: 36px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    font-weight: normal;
    white-space: nowrap;
}

.ui-tree.ui-tree-horizontal .ui-treenode {
    &:first-child {
        padding-left: 0;
    }
}

.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-leaf,
.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-collapsed {
    padding-right: 0;
}

.ui-tree.ui-tree-horizontal .ui-treenode-children {
    padding: 0;
    margin: 0;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
}

.ui-tree.ui-tree-horizontal table {
	height: 0;
}

.ui-tree.ui-tree-horizontal .ui-chkbox {
    vertical-align: bottom;
    margin-right: .25em;
}
