<form *ngIf="config" [formGroup]="formGroup">
  <ng-container *ngFor="let item of config.items">
    <ng-container [ngSwitch]="item.type">
      <app-text
        *ngSwitchCase="'text'"
        [formControlName]="item.name"
        [label]="item.label"
      ></app-text>
      {{ errors | json }}
      {{ status | json }}
    </ng-container>
  </ng-container>
</form>

<!--
[minLength]="getValidator(item.min) | async"
[maxLength]="getValidator(item.max) | async"
[required]="getValidator(item.required) | async"
-->
