:host {
  display: flex;
  flex-direction: row;
  user-select: none;

  .wheel {
    color: #aaa;
    flex: 1;
    text-align: center;

    span {
      display: block;
      padding: 2px 0;

      &.arrow {
        padding: 0;
      }
    }
  }

  .divider {
    align-self: center;
    flex: 0 0 32px;
    text-align: center;
  }
}

.arrow {
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s ease;
  &:hover {
    color: #46a2f9;
  }
}

.current {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #444;
}
