<app-schedule-event-dialog
  *ngIf="isDialog('add')"
  (close)="closeDialog()"
></app-schedule-event-dialog>

<app-schedule-event-dialog
  *ngIf="isDialog('edit')"
  [eventId]="selectedEventId"
  (close)="closeDialog()"
></app-schedule-event-dialog>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.scheduleEvents.dialog.remove.title"
  actionTranslationKey="widgets.scheduleEvents.dialog.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-schedule-log-view-dialog
  *ngIf="isDialog('scheduleLogView')"
  [eventId]="selectedEventId"
  (close)="closeDialog()"
></app-schedule-log-view-dialog>

<app-simple-grid
  persistenceKey="[grid] utilities/schedule/events/log"
  selectionType="multiple"
  [columns]="columns"
  [rows]="events"
  [toolbar]="toolbarItems"
  (selectRow)="onSelect($event)"
  (dblClick)="onEdit()"
></app-simple-grid>
