@import '../../../styles/app/variables.scss';

:host {
  display: block;
}

.errors {
  color: $brand-danger;
  font-size: 11px;
  height: 11px;
  line-height: 11px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
