<ng-container [formGroup]="formGroup">
  <ng-container [ngSwitch]="control.controlType">

    <!-- Checkbox -->
    <app-checkbox
      *ngSwitchCase="'checkbox'"
      [formControlName]="control.name"
      [label]="control.label"
    ></app-checkbox>

    <!-- Date -->
    <app-datepicker
      *ngSwitchCase="'date'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-datepicker>

    <!-- Date time -->
    <app-datetimepicker
      *ngSwitchCase="'datetimepicker'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-datetimepicker>

    <!-- Grid Select -->
    <app-grid-select
      *ngSwitchCase="'gridselect'"
      [filterParams]="control.filterParams"
      [filterType]="control.filterType"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
      (onSelect)="onGridSelect(control, $event)"
    ></app-grid-select>

    <!-- Multiselect dialog -->
    <app-dialog-multi-select
      *ngSwitchCase="'dialogmultiselect'"
      [label]="control.label"
      [required]="isRequired(control) | async"
      [filterType]="control.filterType"
      [filterParams]="control.filterParams"
      [formControlName]="control.name"
    ></app-dialog-multi-select>

    <!-- Password -->
    <app-password-input
      *ngSwitchCase="'password'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-password-input>

    <!-- Select -->
    <app-select
      *ngSwitchCase="'select'"
      [dictCode]="control.dictCode"
      [formControlName]="control.name"
      [isRequired]="isRequired(control) | async"
      [isNullable]="control.isNullable"
      [label]="control.label"
      [lookupKey]="control.lookupKey"
    ></app-select>

    <!-- Multiselect -->
    <app-multi-select
      *ngSwitchCase="'multiselect'"
      [dictCode]="control.dictCode"
      [formControlName]="control.controlName"
      [label]="control.label"
      [lookupKey]="control.lookupKey"
      [required]="isRequired(control) | async"
    ></app-multi-select>

    <!-- Text -->
    <app-text
      *ngSwitchCase="'text'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-text>

    <!-- Number -->
    <app-number
      *ngSwitchCase="'number'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-number>

    <!-- Textarea -->
    <app-textarea
      *ngSwitchCase="'textarea'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="isRequired(control) | async"
    ></app-textarea>
  </ng-container>

  <div class="errors">
    {{ getErrorMessage(control) }}
  </div>
</ng-container>
