<app-debt-responsible-set
  *ngIf="isDialog('debtSetResponsible')"
  [debts]="selectedDebts$ | async"
  (close)="onCloseDialog()"
></app-debt-responsible-set>

<app-debt-responsible-clear
  *ngIf="isDialog('debtClearResponsible')"
  [debts]="selectedDebts$ | async"
  (close)="onCloseDialog()"
></app-debt-responsible-clear>

<app-action-grid
  [metadataKey]="gridKey"
  [persistenceKey]="gridKey"
  rowIdKey="debtId"
  [ngClass]="'debt-processing-grid'"
  [rows]="rows"
  [rowCount]="rowCount"
  [contextMenuItems]="contextMenuItems"
  (request)="onRequest()"
  (dblClick)="onDblClick($event)"
  (select)="onSelect($event)"
  (action)="onAction($event)"
></app-action-grid>
