<app-dialog [styles]="{ width: '70%' }" (onClose)="onCancel()">
  <div dialog-header>
    <h3>TITLE</h3>
  </div>
  <div>
    <app-container [node]="node"></app-container>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.ok' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
