<app-dialog [styles]="{ width: '70%' }" (onClose)="onCancel()">
  <div dialog-header>
    <h3>TITLE</h3>
  </div>
  <div>
    <app-tabstrip [inverse]="true" (select)="onTabSelect($event)">
      <app-tab
        [closable]="false"
        [disabled]="isPhonesTabDisabled$ | async"
        [title]="'debtor.information.phone.title'"
      >
        <app-register-contact-phone-grid
          [entityType]="entityType"
          [entityId]="entityId"
          [debtId]="debtId"
          (action)="onPhoneAction($event)"
        ></app-register-contact-phone-grid>
      </app-tab>
      <app-tab
        [closable]="false"
        [disabled]="isAddressesTabDisabled$ | async"
        [title]="'debtor.information.address.title'"
      >
        <app-register-contact-address-grid
          [entityType]="entityType"
          [entityId]="entityId"
          [debtId]="debtId"
          (action)="onAddressAction($event)"
        ></app-register-contact-address-grid>
      </app-tab>
      <app-tab
        [closable]="false"
        [disabled]="isMiscTabDisabled$ | async"
        [title]="'debtor.information.misc.title'"
      >
        <app-register-contact-misc></app-register-contact-misc>
      </app-tab>
    </app-tabstrip>
  </div>
  <div dialog-footer>
    <app-button color="primary" type="ok" [disabled]="!(canSubmit$ | async)" (click)="onSubmit()"></app-button>
    <app-button type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
