<app-action-dialog
  *ngIf="isDialog('editLdap')"
  titleTranslationKey="users.ldap.title"
  actionTranslationKey="default.buttons.ok"
  [canSubmit]="!!ldapDialog.selectedUser"
  [styles]="{ width: '80%', 'max-width': '80%' }"
  (action)="onLdapDialogAction(ldapDialog.selectedUser.login)"
  (cancel)="onCloseDialog()"
>
  <app-user-ldap-dialog #ldapDialog (submit)="onLdapDialogAction($event)">
  </app-user-ldap-dialog>
</app-action-dialog>

<div>
  <app-button type="back" (click)="onClose()"></app-button>
  <app-button type="save" (click)="onSubmit()" [disabled]="!canSubmit"></app-button>
</div>

<app-dynamic-form *ngIf="controls" [controls]="controls" [data]="formData"></app-dynamic-form>
