<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.operator.dialog.title' | translate }}</h3>
  </div>

  <div style="height: 75vh;">
    <app-simple-grid
      *ngIf="columns"
      persistenceKey="[grid] workplaces/shared/phone/operators"
      [columns]="columns"
      [rows]="operators"
      (selectRow)="onSelectRow($event)"
    ></app-simple-grid>
  </div>

  <div dialog-footer>
    <app-button type="select" [disabled]="!selection" (click)="onSubmit()"></app-button>
    <app-button type="cancel" (click)="onClose()"></app-button>
  </div>
</app-dialog>
