<app-dialog (close)="cancel()">
  <div dialog-header>
    <h3>{{ 'massOperations.debtStatus.dialog.title' | translate:{ count: debtsCount } }}</h3>
  </div>

  <app-dynamic-form
    *ngIf="controls"
    [controls]="controls"
    [data]="formData">
</app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="submit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
