@import "../../styles/app/variables.scss";

/**
 * Styles configuarion:
 * 1) https://www.ag-grid.com/javascript-grid-themes/material-theme.php
 * 2) https://github.com/ag-grid/ag-grid-material/blob/master/custom-sizing/styles.scss
 */
$ag-icons-path: '../../../../../node_modules/ag-grid/src/styles/icons/';
$ag-mat-icons-path: '../../../../../node_modules/ag-grid/src/styles/material-icons/';

$font-family: 'Roboto Condensed', sans-serif;

$grid-size: 6px !default;

$icon-size: 14px !default;

$header-height: 42px !default;
$row-height: 36px;

$cell-horizontal-padding: 15px;

@import '~ag-grid/src/styles/ag-grid.scss';
@import '~ag-grid/src/styles/ag-theme-material.scss';
