<app-dialog (close)="cancel()">
  <div dialog-header>
    <h3>{{ title | translate }}</h3>
  </div>

  <app-grid
    *ngIf="terms"
    columnTranslationKey="terms"
    selectionType="single"
    rowIdKey="nodeId"
    [styles]="{height: '200px'}"
    [columns]="columns"
    [rows]="terms"
    [allowDblClick]="false"
    (onSelect)="onSelect($event)">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="submit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
