<div class="flex vertical">

  <!-- Debt Form -->
  <div class="flex-item">
    <div class="pb-lg">
      <button class="btn btn-default" (click)="onBack()">
        <i class="fa fa-arrow-left"></i> {{ 'default.buttons.back' | translate }}
      </button>
      <button class="btn btn-success" (click)="onSubmit()" [disabled]="!canSubmit">
        <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
      </button>
    </div>
    <div class="pb-lg" style="height: 500px;">
      <!--
      <app-metadata-form config="debt" [data]="debt"></app-metadata-form>
      -->
      <app-dynamic-layout
        *ngIf="templates"
        layout="debt"
        [data]="{ default: debt }"
        [templates]="templates"
      ></app-dynamic-layout>
    </div>
  </div>

  <!-- Debt Details Tab -->
  <div *ngIf="!!debt" class="flex-item grow">
    <app-tabview [noMargin]="true" [fullHeight]="true" (select)="onTabSelect($event)">

      <!-- Debt Components -->
      <app-tabview-tab [title]="tabs[0].title">
        <app-debt-component-grid
          *ngIf="tabs[0].isInitialised"
          [debtId]="debtId$ | async"
        ></app-debt-component-grid>
      </app-tabview-tab>

      <!-- Portfolio Log -->
      <app-tabview-tab [title]="tabs[1].title">
        <app-portfolio-log-grid
          *ngIf="tabs[1].isInitialised && (canViewPortfolioLog$ | async)"
          [debtId]="debtId$ | async"
        ></app-portfolio-log-grid>
      </app-tabview-tab>

      <!-- Component Log -->
      <app-tabview-tab [title]="tabs[2].title">
        <app-component-log-grid
          *ngIf="tabs[2].isInitialised && (canViewComponentLog$ | async)"
          [debtId]="debtId$ | async"
        ></app-component-log-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>
</div>

<ng-template #foo>
  I am a template. Nice to have you here.
</ng-template>
