<div class="flex vertical">
  <div class="flex-item mb-lg">
    <app-button type="back" (click)="onBack()"></app-button>
    <app-button type="save" color="primary" (click)="onSubmit()" [disabled]="isDisabled$ | async"></app-button>
  </div>
  <div class="flex-item grow">
    <app-dynamic-layout
      *ngIf="templates"
      layout="debt"
      [data]="{ default: debt }"
      [templates]="templates"
    ></app-dynamic-layout>
  </div>
</div>

<ng-template #debtComponents>
  <app-debt-component-grid
    [debtId]="debtId$ | async"
  ></app-debt-component-grid>
</ng-template>

<ng-template #portfolioLog>
  <app-portfolio-log-grid
    *ngIf="canViewPortfolioLog$ | async"
    [debtId]="debtId$ | async"
  ></app-portfolio-log-grid>
</ng-template>

<ng-template #componentLog>
  <app-component-log-grid
    *ngIf="canViewComponentLog$ | async"
    [debtId]="debtId$ | async"
  ></app-component-log-grid>
</ng-template>
