<app-info-dialog
  *ngIf="isDialog('infoNotFound')"
  titleTranslationKey="widgets.pledgorProperty.dialog.title"
  (close)="onClose()"
>
  <section class="pv-xl">{{ 'widgets.pledgorProperty.dialog.notFound' | translate }}</section>
</app-info-dialog>

<app-dialog *ngIf="!!propertyList?.length" (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.pledgorProperty.dialog.title' | translate }}</h3>
  </div>

  <app-grid
    *ngIf="columns"
    columnTranslationKey="widgets.property"
    [columns]="columns"
    [footerHeight]="false"
    [rows]="propertyList"
    selectionType="single"
    [styles]="gridStyles"
    (onDblClick)="onSelect()">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!hasSelection" (click)="onSelect()">
      <i class="fa fa-check"></i> {{ 'default.buttons.select' | translate }}
    </button>
    <button class="btn btn-default" (click)="onClose()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
