<app-attribute-version-edit
  *ngIf="isDialog('edit')"
  [selectedVersion]="selectedVersion$ | async"
  [selectedAttribute]="selectedAttribute"
  [entityTypeId]="entityTypeId"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-attribute-version-edit>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  class="flat"
  [styles]="{ height: '250px' }"
  [columns]="columns"
  [columnTranslationKey]="'widgets.attribute'"
  [rows]="rows"
  selectionType="single"
  (onSelect)="onRowSelect($event)"
  (onDblClick)="onRowDblClick($event)">
</app-grid>
