<div *ngIf="hasDebt$ | async; else noActiveDebts" class="row">
  <div class="col-lg-4">
    <app-call-center-overview></app-call-center-overview>
  </div>
  <div class="col-lg-8">
    <div class="mb">

      <app-tabview (select)="onTabSelect($event)" [noMargin]="true">

        <app-tabview-tab [title]="'modules.callCenter.tabs.phonesAndAddresses'">
          <div class="mb">
            <app-call-center-phones *ngIf="shouldDisplayTab(0)"></app-call-center-phones>
          </div>
          <div>
            <app-call-center-addresses *ngIf="shouldDisplayTab(0)"></app-call-center-addresses>
          </div>
        </app-tabview-tab>

        <app-tabview-tab [title]="'modules.callCenter.tabs.debtComponents'">
          <app-call-center-debt-components *ngIf="shouldDisplayTab(1)"></app-call-center-debt-components>
        </app-tabview-tab>

        <app-tabview-tab [title]="'modules.callCenter.tabs.contacts'">
          <app-call-center-contacts *ngIf="shouldDisplayTab(2)"></app-call-center-contacts>
        </app-tabview-tab>

        <app-tabview-tab [title]="'modules.callCenter.tabs.payments'">
          <app-call-center-payments *ngIf="shouldDisplayTab(3)"></app-call-center-payments>
        </app-tabview-tab>

        <app-tabview-tab [title]="'modules.callCenter.tabs.promises'">
          <app-call-center-promises *ngIf="shouldDisplayTab(4)"></app-call-center-promises>
        </app-tabview-tab>

        <app-tabview-tab [title]="'modules.callCenter.tabs.documents'">
          <app-call-center-documents *ngIf="shouldDisplayTab(5)"></app-call-center-documents>
        </app-tabview-tab>

      </app-tabview>
    </div>
    <div>
      <app-call-center-toolbar></app-call-center-toolbar>
    </div>
  </div>
</div>

<ng-template #noActiveDebts>
  <div class="message-container">
    {{ 'modules.callCenter.messages.noActiveDebts' | translate }}
  </div>
</ng-template>
