<app-dialog [styles]="{ width: '80%' }" (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.address.dialogs.mark.title' | translate }}</h3>
  </div>
  <div>
    <div class="mb" style="height: 25vh;">
      <app-simple-grid
        persistenceKey="[grid] workplaces/shared/address/mark"
        selectionType="multiple"
        [columns]="columns"
        [rows]="debts"
        [selection]="selection"
        (selectRow)="onSelect($event)"
      ></app-simple-grid>
    </div>
    <app-dynamic-form
      *ngIf="controls"
      [controls]="controls"
    ></app-dynamic-form>
  </div>
  <div dialog-footer>
    <app-button type="ok" [disabled]="!canSubmit" (click)="onSubmit()"></app-button>
    <app-button type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
