<h4>{{ 'modules.contactRegistration.dialogs.contactType.address.title' | translate }}</h4>

<div class="mb">
  <app-grid
    columnTranslationKey="debtor.information.address"
    selectionType="single"
    [columns]="columns"
    [footerHeight]="false"
    [rows]="addresses"
    [styles]="{ height: '200px' }"
    (onSelect)="onSelect($event)"
    (onDblClick)="onDoubleClick($event)"
  ></app-grid>
</div>

<app-button
  color="primary"
  type="registerContact"
  label="modules.contactRegistration.dialogs.contactType.address.button"
  [disabled]="!(canRegisterSelectedAddress$ | async)"
  (click)="onSubmit()"
></app-button>
