<ng-template #labelTemplate let-action="action">
  <span *ngIf="action.hasLabel" class="app-toolbar-action-text">
    {{ action.text | translate }}
  </span>
</ng-template>

<ul class="app-toolbar">
  <ng-container *ngFor="let action of actions">
   <li *ngIf="!action.hidden" class="app-control">

    <ng-container [ngSwitch]="action.control">

      <ng-container *ngSwitchCase="ToolbarControlEnum.SELECT">
        <app-select
          [autoAlign]="true"
          [isDisabled]="!!action.disabled"
          [isRequired]="true"
          [ngModel]="action.activeValue"
          [options]="action.value"
          [styles]="action.styles"
          (select)="onSelect(action, $event)"
        >
        </app-select>
      </ng-container>

      <ng-container *ngSwitchCase="ToolbarControlEnum.LABEL">
        <span class="app-label">{{ action.text }}</span>
      </ng-container>

      <button
        *ngSwitchDefault
        [attr.title]="action.text | translate"
        [disabled]="isActionDisabled(action) | async"
        (click)="onActionClick(action, $event)"
        class="toolbar-button"
        aria-hidden="true"
      >
        <i class="fa fa-{{ getIconCls(action) }}" aria-hidden="true"></i>
        <ng-container
          *ngTemplateOutlet="labelTemplate; context: { action: action }">
        </ng-container>
      </button>

    </ng-container>

   </li>
  </ng-container>
</ul>
