<app-entity-attribute-grid-edit
  *ngIf="isDialog('edit')"
  [selectedAttribute]="selectedAttribute$ | async"
  [debtId]="debtId"
  [entityTypeId]="entityTypeId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-entity-attribute-grid-edit>

<div class="flex vertical">
  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="persistenceKey"
      [columns]="columns"
      [rows]="rows"
      [treeData]="true"
      [toolbar]="toolbarItems"
      (dblClick)="onRowDblClick($event)"
      (select)="onRowSelect($event)">
    </app-simple-grid>
  </div>
</div>
