<app-entity-attribute-grid-edit
  *ngIf="isDialog('edit')"
  [selectedAttribute]="selectedAttribute$ | async"
  [debtId]="debtId"
  [entityTypeId]="entityTypeId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-entity-attribute-grid-edit>

<app-simple-grid
  [persistenceKey]="persistenceKey"
  [columns]="columns"
  [rows]="rows"
  [treeData]="true"
  [toolbar]="toolbar"
  (dblClick)="onRowDblClick($event)"
  (selectRow)="onRowSelect($event)">
</app-simple-grid>
