<app-entity-attribute-grid-edit
  *ngIf="isDialog('edit')"
  [selectedAttribute]="selectedAttribute$ | async"
  [debtId]="debtId"
  [entityTypeId]="entityTypeId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-entity-attribute-grid-edit>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-gridtree2-wrapper
  *ngIf="rows && rows.length > 0"
  [translateColumnLabels]="true"
  [columns]="columns"
  [rows]="rows"
  (dblclick)="onRowDblClick($event)"
  (select)="onRowSelect($event)">
</app-gridtree2-wrapper>
