<app-dialog-action
  *ngIf="isDialog('removeContact')"
  actionMode="danger"
  actionTranslationKey="debtor.contactsTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  [messageParams]="selectedContact"
  titleTranslationKey="debtor.contactsTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
>
</app-dialog-action>


<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>
  </div>

  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] workplaces/debtor-card/contacts"
      [columns]="columns"
      [rows]="contacts"
      (select)="onSelect($event)"
      (dblClick)="onDoubleClick($event)"
    ></app-simple-grid>
  </div>
</div>


<!-- <app-grid
  columnTranslationKey="widgets.contact"
  selectionType="single"
  [styles]="{ height: '500px' }"
  [columns]="columns"
  [rows]="contacts"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid> -->
