
<app-participants-add
  *ngIf="isDialog('PARTICIPANT_ADD')"
  (submit)="onAddSubmit($event)"
  (cancel)="cancelAction()">
</app-participants-add>

<app-dialog-action
  *ngIf="isDialog('PARTICIPANT_REMOVE')"
  [titleTranslationKey]="'utilities.campaigns.participants.remove.title'"
  [actionTranslationKey]="'utilities.campaigns.participants.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemove()"
  (cancel)="closeDialog()"
>
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] utilities/campaigns/participants"
  selectionType="multiple"
  [toolbar]="toolbar"
  [columns]="columns"
  [rows]="participants"
  (selectRow)="onSelectParticipant($event)">
</app-simple-grid>
