<div class="flex vertical">
  <div class="flex-item grow">
    <app-dynamic-layout
      [layout]="layout"
      [templates]="templates"
    ></app-dynamic-layout>
  </div>
</div>


<ng-template #incomingCallToolbar>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
</ng-template>

<ng-template #incomingCallFilter>
  <app-incoming-call-filter></app-incoming-call-filter>
</ng-template>

<ng-template #incomingCallDebtorGrid>
  <app-incoming-call-debtor-grid></app-incoming-call-debtor-grid>
</ng-template>

<ng-template #incomingCallPhoneGrid>
  <app-incoming-call-phone-grid></app-incoming-call-phone-grid>
</ng-template>

<ng-template #incomingCallDebtorCard>
  <app-incoming-call-debtor-card></app-incoming-call-debtor-card>
</ng-template>


