<app-dialog-action
  *ngIf="isDialog('removeGroup')"
  actionMode="danger"
  actionTranslationKey="debtor.groupTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.groupTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>
  </div>
  <div class="flex-item grow">
    <app-grid
      columnTranslationKey="widgets.groups"
      selectionType="single"
      [columns]="columns"
      [selection]="selection"
      [styles]="{ height: '320px' }"
      [footerHeight]="false"
      [rows]="groups"
      (onSelect)="onSelect($event)"
      (onDblClick)="onEdit($event)"
    ></app-grid>
  </div>
</div>
