<app-dialog-action
  *ngIf="isDialog('removeGroup')"
  actionMode="danger"
  actionTranslationKey="debtor.groupTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.groupTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-action-grid
  persistenceKey="[grid] utilities/schedule/groups"
  permissionKey="GROUP_VIEW"
  entityKey="group"
  [isSimple]="true"
  [fullHeight]="true"
  [actions]="actions"
  [rows]="groups"
  [columns]="columns"
  (request)="fetch()"
  [toolbarItems]="toolbarItems"
  (selectRow)="onSelectRow($event)"
  (dblClick)="onEdit($event)"
></app-action-grid>
