<app-dialog-action
  *ngIf="isDialog('removeGroup')"
  actionMode="danger"
  actionTranslationKey="debtor.groupTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.groupTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] utilities/schedule/groups"
  [columns]="columns"
  [rows]="groups"
  [selection]="selection"
  [toolbar]="toolbarItems"
  (selectRow)="onSelectRow($event)"
  (dblClick)="onEdit($event)"
></app-simple-grid>
