<div class="contact-log-detail-container" [ngStyle]="{ paddingBottom: offset.y, paddingTop: offset.x }">
  <app-toolbar [toolbar]="toolbar">
      {{ 'widgets.contactLog.grid.fullName' | translate }}: {{ contactFullName }}
  </app-toolbar>
  <div class="contact-log-detail-list">
    <div class="contact-log-detail" *ngFor="let contact of contacts$ | async"
    >
      <div class="contact-log-detail-info">
        {{ contact.contactDateTime | momentFormat:'L LTS' }}
        {{ contact.contactType }}
        {{ contact.msgStatusName }}
        {{ contact.contract }}
        {{ contact.createDateTime | momentFormat:'L LTS' }}
        {{ contact.personRole }}
        {{ contact.resultName }}
      </div>
      <div>
          {{ 'widgets.contactLog.grid.userFullName' | translate }}: {{ contact.userFullName }}
      </div>
    </div>
  </div>
</div>
