<app-dialog-action
  *ngIf="isDialog('removeTemplate')"
  actionMode="danger"
  actionTranslationKey="routes.utilities.letters.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="routes.utilities.letters.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-downloader
  entityTranslationKey="entities.letterTemplates.gen.singular"
  [fallbackName]="exportFileName"
  [url]="exportUrl"
></app-downloader>

<app-simple-grid
  persistenceKey="[grid] utilities/letterTemplates"
  [columns]="columns"
  [toolbar]="toolbar"
  [selection]="selection"
  [rows]="templates"
  (selectRow)="onSelect($event)"
  (dblClick)="onEdit($event)"
></app-simple-grid>
