<label>

  <span *ngIf="label" class="form-label">
    {{ label | translate }}
    <b *ngIf="required" class="text-danger">*</b>
  </span>

  <div
    class="select-container dropdown open"
    [ngStyle]="styles"
    >

    <input
      #input
      type="text"
      class="form-control select-search"
      autocomplete="off"
      [attr.placeholder]="(placeholder || '') | translate"
      [disabled]="disabled"
      [ngModel]="selectionLabel"
      (click)="onInputClick($event)"
      (ngModelChange)="onInputChange($event)"
    >
    <i
      *ngIf="!disabled"
      class="co co-back select-caret"
      [ngClass]="caretCls"
      (click)="onCaret($event)"
    ></i>
    <i
      *ngIf="!disabled && !required && hasSelection"
      class="co co-clear select-clear"
      (click)="onClear($event)"
    ></i>

    <ul
      #list
      *ngIf="open"
      class="select-options dropdown-menu"
      appAlignment
      [alignTarget]="input"
      [autoAlign]="autoAlign"
    >
      <li class="select-item" *ngFor="let option of options">
        <app-checkbox
          [label]="option.label"
          [ngModel]="option.checked"
          (ngModelChange)="onSelect($event, option)"
        ></app-checkbox>
      </li>

      <li class="select-buttons">
        <button type="button" class="btn btn-default" (click)="onClear($event)">Clear</button>
        <button type="button" class="btn btn-info" (click)="onClose($event)">Select</button>
      </li>

    </ul><!-- select-options -->

  </div><!-- select-container -->

  <div>
    <span *ngIf="errors">{{ errors | json }}</span>
  </div>

</label>
