<div appDropdown>
  <div #dropdownTrigger class="form-control clickable" [attr.disabled]="isDisabled || undefined">
    <span [ngSwitch]="selectionLength">
      <ng-container *ngSwitchCase="0"></ng-container>
      <ng-container *ngSwitchCase="1">{{ label }}</ng-container>
      <ng-container *ngSwitchDefault>{{ 'default.select.selected' | translate }}: {{ selectionLength }}</ng-container>
    </span>
    <i class="caret"></i>
  </div>
  <div #dropdownContent style="z-index: 10000;">
    <app-multi-list
      *ngIf="!isDisabled"
      [hideSearchBar]="false"
      [getId]="getId"
      [getName]="getName"
      [items]="options"
      (select)="onSelect($event)">
    </app-multi-list>
  </div>
</div>
