<label appDropdown [disabled]="disabled" (change)="onDropdownToggle($event)" class="m0">

  <span *ngIf="label" class="form-label">
    {{ label | translate }}
    <b *ngIf="isRequired" class="text-danger">*</b>
  </span>

  <div
    #dropdownParent
    class="select-container dropdown open"
    [ngStyle]="styles"
  >
    <div #dropdownTrigger class="select-dropdown-trigger">
      <input
        #input
        type="text"
        readonly="readonly"
        [ngClass]="{'form-control select-search': true, disabled: disabled}"
        autocomplete="off"
        [attr.placeholder]="(placeholder || '') | translate"
        [disabled]="disabled"
        [ngModel]="selectionLabel"
        (ngModelChange)="onInputChange()"
      >
      <div class="select-controls">
        <i
          *ngIf="!disabled"
          class="co co-back select-caret select-control"
          [ngClass]="caretCls"
          (click)="$event.preventDefault()"
        ></i>
      </div>
    </div>
    <div class="dropdown-menu" #dropdownContent>
        <ul class="select-options">
          <li class="select-item" *ngFor="let option of tempOptions; trackBy: trackByFn; let index = index;">
            <app-checkbox
              [label]="option.label"
              [ngModel]="option.checked"
              [disabled]="isClosed(option)"
              (ngModelChange)="onSelect($event, option)"
            ></app-checkbox>
            <span class="orderable" *ngIf="orderable">
              <i class="ordering move-up co co-back" (click)="moveUp(index - 1)" [ngClass]="{ 'disabled': !allowMove(index - 1) }"></i>
              <i class="ordering move-down co co-back" (click)="moveDown(index + 1)" [ngClass]="{ 'disabled': !allowMove(index + 1) }" ></i>
            </span>
          </li>
      </ul><!-- select-options -->
      <div class="select-buttons">
          <button type="button" class="btn btn-default" (click)="onClear($event)">{{ 'default.buttons.clear' | translate }}</button>
          <button type="button" class="btn btn-info" (click)="onApply($event)">{{ 'default.buttons.select' | translate }}</button>
        </div>
    </div>

  </div><!-- select-container -->

  <div>
    <span *ngIf="errors">{{ errors | json }}</span>
  </div>

</label>
