@import '../../../../styles/app/variables.scss';

i.co {
  font-size: 12px;
  width: 1em;
  height: 1em;
}

.select-search {
  width: 100%;

  &:not(.disabled) {
    padding-right: 3.5em;
  }
}

.dropdown-menu {
  display: block;
  z-index: $zindex-app-dialog;
  padding: 0;
  border: none;
  min-width: unset;
  overflow: hidden;
}

.select-controls {
  position: absolute;
  top: 0.55em;
  right: 0.3em;
  .select-caret {
    transition: transform 400ms ease;
    transform: rotateZ(270deg);
    &.up {
      transform: rotateZ(90deg);
      top: 0.4em;
    }
  }
  cursor: pointer;
}

.select-options {
  max-height: 180px;
  overflow-x: auto;
  border: none;
  list-style: none;
  padding: 0;

  .select-item {
    padding: 3px $padding-base-horizontal;
    position: relative;
    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #E0E0E0;
    }
  }
}

.select-buttons {
  padding: $padding-base-horizontal;
  text-align: center;
  border-top: 1px solid $gray;
}

.select-container {
  font-weight: normal;
  > .select-match > .form-control {
    padding-right: 24px;
    white-space: nowrap;
  }
  &[disabled] {
    > .select-match > .form-control {
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

.select-container[disabled] * {
  background-color: $gray-lighter;
  cursor: not-allowed;
}

.select-container:hover .select-dropdown-trigger > input:not(:disabled) {
  & ~ .select-controls {
    color: $text-light;
  }
  & ~ .select-controls .select-control:hover {
    color: $link-color;
  }
}

