.form-control {
  font-weight: normal;
  position: relative;
  span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .caret {
    margin-top: -2px;
    position: absolute;
    right: 10px;
    top: 50%;
  }
}
