<app-dialog-action
  *ngIf="isDialog('removeProperty')"
  actionMode="danger"
  actionTranslationKey="debtor.propertyTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.propertyTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/debtor-card/property"
  [columns]="columns"
  [selection]="selection"
  [rows]="propertyList"
  [toolbar]="toolbar"
  (selectRow)="onSelect($event)"
  (dblClick)="onEdit($event)">
</app-simple-grid>
