<app-dialog-action
  *ngIf="isDialog('removeProperty')"
  actionMode="danger"
  actionTranslationKey="debtor.propertyTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.propertyTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.property"
  selectionType="single"
  [columns]="columns"
  [selection]="selection"
  [footerHeight]="false"
  [rows]="propertyList"
  [styles]="{ height: '230px' }"
  (onSelect)="onSelect($event)"
  (onDblClick)="onEdit($event)">
</app-grid>
