<app-dialog [display]="role" (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>{{ popupTitle }}</h3>
  </div>

  <app-dynamic-form [controls]="controls"></app-dynamic-form>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div dialog-footer>
    <button class="btn btn-primary" (click)="onActionClick()" [disabled]="!form.canSubmit">
      <i class="fa fa-check"></i> Save
    </button>
    <button class="btn btn-default" (click)="onCancelClick()">
      <i class="fa fa-remove"></i> Cancel
    </button>
  </div>
</app-dialog>
