<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="payment">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.payment.title' | translate }}</h3>

    <!-- Payment Date -->
    <div>
      <app-datepicker
        formControlName="date"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.date"
        [maxDate]="today"
        [required]="true"
      ></app-datepicker>
    </div>

    <!-- Payment Amount -->
    <div>
      <app-number
        formControlName="amount"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.amount"
        [disabled]="isPaymentAmountDisabled$ | async"
        [min]="paymentMinAmount$ | async"
        [max]="paymentMaxAmount$ | async"
        [positive]="true"
        [required]="true"
        (input)="onPaymentAmountInput($event)"
      ></app-number>
    </div>

    <!-- Payment Percentage -->
    <div>
      <app-number
        formControlName="percentage"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.percentage"
        [disabled]="isPaymentAmountDisabled$ | async"
        [min]="paymentMinPercentage$ | async"
        [max]="100"
        [positive]="true"
        [required]="true"
        (input)="onPaymentPercentageInput($event)"
      ></app-number>
    </div>

    <!-- Currency -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.payment.form.currency' | translate }}
          <b class="text-danger">*</b>
        </span>
        <app-select-wrapper
          formControlName="currencyId"
          lookupKey="currencies"
          [required]="true"
        ></app-select-wrapper>
      </label>
    </div>

    <hr>
  </div>
</div>
