<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="payment">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.payment.title' | translate }}</h3>

    <!-- Payment Date -->
    <div>
      <app-datepicker
        formControlName="date"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.date"
        [maxDate]="today"
        [required]="true"
      ></app-datepicker>
    </div>

    <!-- Payment Amount -->
    <div>
      <app-number
        formControlName="amount"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.amount"
        [isReadonly]="fullPaymentMode$ | async"
        [ngModel]="paymentAmount$ | async"
        [min]="paymentMinAmount$ | async"
        [max]="paymentMaxAmount$ | async"
        [positive]="true"
        [required]="true"
        (input)="onPaymentAmountInput($event)"
      ></app-number>
    </div>

    <!-- Payment Percentage -->
    <div>
      <app-number
        formControlName="percentage"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.percentage"
        [isReadonly]="fullPaymentMode$ | async"
        [ngModel]="paymentPercentage$ | async"
        [min]="paymentMinPercentage$ | async"
        [max]="100"
        [positive]="true"
        [required]="true"
        (input)="onPaymentPercentageInput($event)"
      ></app-number>
    </div>

    <!-- Currency -->
    <div>
      <app-select
        formControlName="currencyId"
        label="routes.workplaces.shared.contactRegistration.edit.form.payment.form.currency"
        lookupKey="currencies"
        [isRequired]="true"
      ></app-select>
    </div>

    <hr>
  </div>
</div>
