$day-light: #b3b2b7;
$day-dark: #49455e;

:host {
  display: block;
  user-select: none;
}

header {
  text-align: center;
  padding-bottom: 10px;
}

.arrow {
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  transition: color 0.2s ease;
  &:hover {
    color: #46a2f9;
  }
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    color: $day-dark;
    cursor: pointer;
    flex: 1 0 14.28%;
    padding: 5px 0;
    text-align: center;

    &.current {
      outline: 1px solid #46a2f9;
    }

    &.outside {
      color: $day-light;
    }

    &.selected {
      background-color: #46a2f9;
      color: #fff;
    }
  }

  &.header {
    border-bottom: 1px solid #eee;
    li {
      color: $day-light;
    }
  }
}
