<div class="ngx-datatable-context-menu-wrapper context-menu"
    [ngStyle]="styles"
    tabindex="-1">
  <ul class="ngx-datatable-context-menu context-menu__body">
    <li
      *ngFor="let item of actionItems"
      class="context-menu__item"
      (click)="onAction(item)"
      [ngClass]="{'disabled': isDisabled(item) | async }"
    >
      <span *ngIf="(item.actionItems || item.fieldActionItems) && (item.enabled | async)" class="arrow right"></span>
      {{ item.label | translate }}
      <app-context-submenu
        [parent]="item"
        [items]="item.actionItems"
        (action)="onAction($event)"
        *ngIf="!item.hideActionSubmenu"
        (isHidden)="onHide($event)"
      >
      </app-context-submenu>
      <app-context-submenu
        [parent]="item"
        [items]="item.fieldActionItems"
        (action)="onCtxMenuClick($event)"
        [isFieldActionType]="true"
        *ngIf="!item.hideFieldActionSubmenu"
        (isHidden)="onHide($event)"
      >
      </app-context-submenu>
    </li>
    <li
      *ngFor="let item of fieldActionItems"
      class="context-menu__item"
      (click)="onCtxMenuClick($event, item)"
      [ngClass]="{'disabled': isDisabled(item) | async }"
    >
      {{ item.label }}
      <span *ngIf="(item.actionItems || item.fieldActionItems) && (item.enabled | async)" class="arrow right"></span>
      <app-context-submenu
        [parent]="item"
        [items]="item.actionItems"
        (action)="onAction($event)"
        *ngIf="!item.hideActionSubmenu"
        (isHidden)="onHide($event)"
      >
      </app-context-submenu>
      <app-context-submenu
        [parent]="item"
        [items]="item.fieldActionItems"
        (action)="onCtxMenuClick($event)"
        [isFieldActionType]="true"
        *ngIf="!item.hideFieldActionSubmenu"
        (isHidden)="onHide($event)"
      >
      </app-context-submenu>
    </li>
  </ul>
</div>
