<div class="ngx-datatable-context-menu-wrapper context-menu"
    [ngStyle]="styles"
    tabindex="-1">
  <ul class="ngx-datatable-context-menu context-menu__body">
    <li
      *ngFor="let item of actions"
      class="context-menu__item"
      (click)="onAction(item)"
      [ngClass]="{'disabled': isDisabled(item) | async }"
    >
      {{ item.label | translate }}
      <app-context-submenu
        [parent]="item"
        (action)="onAction($event)"
        (simpleAction)="onSimpleAction($event)"
      >
      </app-context-submenu>
    </li>
    <li
      *ngFor="let item of simpleActions"
      class="context-menu__item"
      (click)="onSimpleAction($event, item)"
      [ngClass]="{'disabled': isDisabled(item) | async }"
    >
      {{ item.label }}
      <app-context-submenu
        [parent]="item"
        (action)="onAction($event)"
        (simpleAction)="onSimpleAction($event)"
      >
      </app-context-submenu>
    </li>
  </ul>
</div>
