<section [formGroup]="formGroup">
  <div class="form-group">
    <label class="label">
      <app-checkbox
        formControlName="checkbox1"
        label="Not Checked"
      ></app-checkbox>
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox
        formControlName="checkbox2"
        label="Checked"
      ></app-checkbox>
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox
        formControlName="checkbox3"
        label="Not Checked & Disabled"
      ></app-checkbox>
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox
        formControlName="checkbox4"
        label="Checked & Disabled"
      ></app-checkbox>
    </label>
  </div>
</section>
