<app-dialog
  [display]="!!editedRole"
  (displayChange)="onDisplayChange($event)"
>
  <div dialog-header>
    <h3>{{ title }}</h3>
  </div>

  <app-dynamic-form *ngIf="!!form" [form]="form" [controls]="controls"></app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-primary" (click)="save()">
      <i class="fa fa-check"></i>
      {{ actionButtonTitle }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i>
      Cancel
    </button>
  </div>
</app-dialog>

<app-grid
  selectionType="single"
  [columns]="columns"
  [dataSource]="dataSource"
  [parseFn]="parseFn"
  (onSelectedRowChange)="onSelectedRowChange($event)"
  (onEdit)="onEdit($event)">
</app-grid>

<button class="btn btn-sm btn-default" title="Create new role" (click)="create()">
  <i class="fa fa-plus"></i>
</button>
<button class="btn btn-sm btn-default" title="Edit selected role" (click)="edit()" [disabled]="!canEdit()">
  <i class="fa fa-edit"></i>
</button>
<button class="btn btn-sm btn-default" title="Copy selected role" (click)="copy()" [disabled]="!canCopy()">
  <i class="fa fa-copy"></i>
</button>
<button class="btn btn-sm btn-danger" title="Delete selected role" (click)="delete()" [disabled]="!canDelete()">
  <i class="fa fa-remove"></i>
</button>
