<app-action-dialog
  [titleTranslationKey]="'default.grid.filter.title'"
  (action)="onSaveFilterChanges()"
  (cancel)="onCloseFilterDialog()"
>
  {{ 'default.grid.filter.showOnlyLines' | translate }}
  <br><br>
  <div class="row">
    <div class="col-lg-6">
      <app-dynamic-form-field
        [control]="firstSelectionControl"
        [form]="form">
      </app-dynamic-form-field>
    </div>
    <div class="col-lg-6">
      <app-dynamic-form-field
        [control]="firstValueControl"
        [form]="form">
      </app-dynamic-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <input type="radio" value="AND" [(ngModel)]="condition">{{ 'default.grid.filter.and' | translate }}&nbsp;&nbsp;
      <input type="radio" value="OR" [(ngModel)]="condition">{{ 'default.grid.filter.or' | translate }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-dynamic-form-field
        [control]="secondSelectionControl"
        [form]="form">
      </app-dynamic-form-field>
    </div>
    <div class="col-lg-6">
      <app-dynamic-form-field
        [control]="secondValueControl"
        [form]="form">
      </app-dynamic-form-field>
    </div>
  </div>
</app-action-dialog>
