<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="phone">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.phone.title' | translate }}</h3>

    <!-- Phone Type -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.phone.form.type' | translate }}
          <b class="text-danger">*</b>
        </span>
        <app-select-wrapper
          formControlName="typeCode"
          [dictCode]="phoneTypeDictCode"
          [nullable]="false"
        ></app-select-wrapper>
      </label>
    </div>

    <!-- Phone Number -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.phone.form.number' | translate }}
          <b class="text-danger">*</b>
        </span>
        <!-- TODO(d.maltsev): double check form control name -->
        <input type="text" class="form-control" formControlName="phone"/>
      </label>
    </div>

    <!-- Phone Auto SMS -->
    <div>
      <div class="checkbox mt0 mb0">
        <app-checkbox
          formControlName="stopAutoSms"
          label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.stopAutoSms"
        ></app-checkbox>
      </div>
    </div>

    <!-- Phone Auto Info -->
    <div>
      <div class="checkbox mt0 mb0">
        <app-checkbox
          formControlName="stopAutoInfo"
          label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.stopAutoInfo"
        ></app-checkbox>
      </div>
    </div>

    <!-- Phone Comment -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.phone.form.comment' | translate }}
        </span>
        <textarea
          class="form-control"
          formControlName="comment"
          rows="2"
        ></textarea>
      </label>
    </div>

    <!-- Contact Person -->
    <div>
      <app-contact-registration-contact-select [excludeCurrentPersonId]="false"></app-contact-registration-contact-select>
    </div>

    <hr>
  </div>
</div>
