<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="phone">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.phone.title' | translate }}</h3>

    <!-- Phone Type -->
    <div>
      <app-select
        formControlName="typeCode"
        label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.type"
        [isRequired]="true"
        [dictCode]="phoneTypeDictCode"
      ></app-select>
    </div>

    <!-- Phone Number -->
    <div>
      <!-- TODO(d.maltsev): double check form control name -->
      <app-text
        formControlName="phone"
        label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.number"
        [required]="true"
      ></app-text>
    </div>

    <!-- Phone Auto SMS -->
    <div>
      <app-checkbox
        formControlName="stopAutoSms"
        label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.stopAutoSms"
      ></app-checkbox>
    </div>

    <!-- Phone Auto Info -->
    <div>
      <app-checkbox
        formControlName="stopAutoInfo"
        label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.stopAutoInfo"
      ></app-checkbox>
    </div>

    <!-- Phone Comment -->
    <div>
      <app-textarea
        formControlName="comment"
        label="routes.workplaces.shared.contactRegistration.edit.form.phone.form.comment"
        [required]="true"
      ></app-textarea>
    </div>

    <!-- Contact Person -->
    <div>
      <app-contact-registration-contact-select [excludeCurrentPersonId]="false"></app-contact-registration-contact-select>
    </div>

    <hr>
  </div>
</div>
