<app-dialog
  [autoWidth]="autoWidth"
  [styles]="styles"
  (displayChange)="onDisplayChange($event)"
>
  <div dialog-header>
    <h3>{{ titleTranslationKey | translate:titleTranslationParams }}</h3>
  </div>

  <div class="action-dialog-content">
    <ng-content></ng-content>
  </div>

  <div dialog-footer>
    <button class="btn btn-{{ actionMode }}" [disabled]="!canSubmit" (click)="onAction()">
      <i class="fa fa-check"></i> {{ actionTranslationKey | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ cancelTranslationKey | translate }}
    </button>
  </div>
</app-dialog>
