<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'organizations.employees.add.title' | translate }}</h3>
  </div>

  <!-- TODO(d.maltsev): styles -->
  <div style="margin: 0 0 12px">
    <app-grid
      class="flat"
      [styles]="{ height: '250px' }"
      [columns]="columns"
      [columnTranslationKey]="'organizations.employees.add'"
      [rows]="notAddedEmployees | async"
      (onSelect)="onSelectEmployees()">
    </app-grid>
  </div>

  <app-dynamic-form [controls]="controls" [data]="formData"></app-dynamic-form>

  <div dialog-footer>
    <button
      class="btn btn-success"
      [disabled]="!canSubmit()"
      (click)="onSubmit()"
    >
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
