::ng-deep .wrapper > .content {
  overflow-y: scroll;
}

section {
  margin-bottom: 24px;
}

.form-group {
  margin: 0;
}

.form-group + .form-group {
  margin-top: 10px;
}

.label {
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  width: auto;
}
