<h1>Input Module</h1>

<h2>Text</h2>
<app-route-ui-text></app-route-ui-text>

<h2>Textarea</h2>
<app-route-ui-textarea></app-route-ui-textarea>

<h2>Number</h2>
<app-route-ui-number></app-route-ui-number>

<h1>Checkbox & Radio Module</h1>

<h2>Checkbox</h2>
<app-route-ui-checkbox></app-route-ui-checkbox>

<h2>Radiobutton</h2>
<app-route-ui-radiobutton></app-route-ui-radiobutton>

<h1>Date/Time Module</h1>

<h2>DateTimePicker Module</h2>
<app-route-ui-datetimepicker></app-route-ui-datetimepicker>

<h2>DatePicker</h2>
<app-route-ui-datepicker></app-route-ui-datepicker>

<h2>TimePicker</h2>
<app-route-ui-timepicker></app-route-ui-timepicker>

<h1>Icons Module</h1>
<app-route-ui-icons></app-route-ui-icons>

<h1>Grids Module</h1>
<app-route-ui-grids></app-route-ui-grids>

<br>
