<section [formGroup]="formGroup">
  <h1>Input Module</h1>

  <h2>Text</h2>

  <div class="form-group">
    <label>Empty</label>
    <app-text formControlName="text1"></app-text>
  </div>

  <div class="form-group">
    <label>Not so empty</label>
    <app-text formControlName="text2"></app-text>
  </div>

  <div class="form-group">
    <label>Disabled</label>
    <app-text formControlName="text3"></app-text>
  </div>

  <h2>Textarea</h2>

  <div class="form-group">
    <label>Empty</label>
    <app-textarea formControlName="textarea1"></app-textarea>
  </div>

  <div class="form-group">
    <label>Not empty</label>
    <app-textarea formControlName="textarea2"></app-textarea>
  </div>

  <div class="form-group">
    <label>Disabled</label>
    <app-textarea formControlName="textarea3"></app-textarea>
  </div>

  <div class="form-group">
    <label>Custom height</label>
    <app-textarea formControlName="textarea4" rows="5"></app-textarea>
  </div>

  <h1>Check Module</h1>

  <h2>Checkbox</h2>

  <div class="form-group">
    <label class="label">
      <app-checkbox formControlName="checkbox1"></app-checkbox>
      Not checked
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox formControlName="checkbox2"></app-checkbox>
      Checked
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox formControlName="checkbox3"></app-checkbox>
      Not checked & disabled
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-checkbox formControlName="checkbox4"></app-checkbox>
      Checked & disabled
    </label>
  </div>

  <h2>Radiobutton</h2>

  <div class="form-group">
    <label class="label">
      <app-radiobutton formControlName="radioGroup1" [value]="false"></app-radiobutton>
      Not checked
    </label>
    <label class="label">
      <app-radiobutton formControlName="radioGroup1" [value]="true"></app-radiobutton>
      Checked
    </label>
  </div>

  <div class="form-group">
    <label class="label">
      <app-radiobutton formControlName="radioGroup2" [value]="false"></app-radiobutton>
      Not checked & disabled
    </label>
    <label class="label">
      <app-radiobutton formControlName="radioGroup2" [value]="true"></app-radiobutton>
      Checked & disabled
    </label>
  </div>

  <h1>Date/Time</h1>

  <h2>DateTimePicker Module</h2>

  <div class="form-group">
    <label class="label">Empty value</label>
    <app-datetimepicker formControlName="datetime1"></app-datetimepicker>
  </div>

  <div class="form-group">
    <label class="label">Now</label>
    <app-datetimepicker formControlName="datetime2"></app-datetimepicker>
  </div>

  <h2>DatePicker</h2>

  <div class="form-group">
    <label class="label">Empty value</label>
    <app-datepicker formControlName="date1"></app-datepicker>
  </div>

  <div class="form-group">
    <label class="label">Now</label>
    <app-datepicker formControlName="date2"></app-datepicker>
  </div>

  <h2>TimePicker</h2>

  <div class="form-group">
    <label class="label">Empty value</label>
    <app-timepicker formControlName="time1"></app-timepicker>
  </div>

  <div class="form-group">
    <label class="label">Now</label>
    <app-timepicker formControlName="time2"></app-timepicker>
  </div>
</section>
