<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="portfolios.remove.title"
  actionTranslationKey="portfolios.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selection[0]"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-portfolio-move
  *ngIf="isDialog('move')"
  [contractor]="selectedContractor"
  [portfolio]="selection[0]"
  (onSubmit)="onMoveSubmit($event)"
  (onCancel)="onCloseDialog()">
</app-portfolio-move>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  columnTranslationKey="portfolios"
  [selection]="selection"
  selectionType="single"
  [styles]="{height: '400px'}"
  [columns]="columns"
  [rows]="portfolios"
  [allowDblClick]="canEdit$ | async"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>
