<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="portfolios.remove.title"
  actionTranslationKey="portfolios.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedPortfolio$ | async"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-portfolio-move
  *ngIf="isDialog('move')"
  [contractor]="selectedContractor$ | async"
  [portfolio]="selectedPortfolio$ | async"
  (onSubmit)="onMoveSubmit($event)"
  (onCancel)="onCloseDialog()">
</app-portfolio-move>

<app-portfolio-send
  *ngIf="isDialog('sendOutsource')"
  [portfolio]="selectedPortfolio$ | async"
  (onSubmit)="onSendOutsourceSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<app-portfolio-send
  *ngIf="isDialog('sendCession')"
  [portfolio]="selectedPortfolio$ | async"
  (onSubmit)="onSendCessionSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<app-portfolio-send
  *ngIf="isDialog('returnOutsource')"
  [isReturn]="true"
  [portfolio]="selectedPortfolio$ | async"
  (onSubmit)="onReturnOutsourceSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<app-titlebar [titlebar]="titlebar"></app-titlebar>

<app-grid
  columnTranslationKey="portfolios"
  selectionType="single"
  [styles]="{height: '400px'}"
  [columns]="columns"
  [rows]="portfolios"
  [allowDblClick]="canEdit$ | async"
  [contextMenuOptions]="contextMenuOptions"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>
