@import '../../../../styles/app/variables.scss';

:host {
  display: block;
}

.input-container {
  position: relative;
}

i {
  color: $gray;
  cursor: pointer;
  line-height: 0.5;
  position: absolute;
  right: 5px;
  transition: color 0.2s ease;

  &:before {
    display: inline-block;
  }

  &.fa-angle-up {
    top: 5px;
  }

  &.fa-angle-down {
    bottom: 5px;
  }
}

.input-container:hover > input:not(:disabled) {
  & ~ i {
    color: $text-light;
  }
  & ~ i:hover {
    color: $link-color;
  }
}
