<app-dialog (close)="cancel()">
  <div dialog-header>
    <h3>{{ 'widgets.mass.changePortfolioAttr.title' | translate }}</h3>
  </div>

  <app-grid
    *ngIf="portfolios"
    columnTranslationKey="widgets.mass.changePortfolioAttr"
    selectionType="single"
    [selection]="selection"
    [styles]="{height: '200px'}"
    [columns]="columns"
    [rows]="portfolios"
    [allowDblClick]="false"
    (onSelect)="onSelect($event)">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="submit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>