<app-grid2
  metadataKey="debtsprocessingall"
  persistenceKey="debtsprocessingall"
  rowIdKey="debtId"
  [ngClass]="'debt-processing-grid'"
  [page]="currentPage$ | async"
  [pageSize]="pageSize$ | async"
  [rows]="rows$ | async"
  [rowCount]="rowCount$ | async"
  [selected]="selected$ | async"
  (onPage)="onRequestData($event)"
  (onPageSize)="onRequestData($event)"
  (onSort)="onRequestData($event)"
  (onFilter)="onFilter($event)"
  (onSelect)="onSelect($event)"
  (onDblClick)="onDblClick($event)">
</app-grid2>
