<app-debt-responsible-set 
  *ngIf="isDialog('debtResponsibleSet')"
  [debts]="selectedDebts$ | async"
  (close)="onCloseDialog()">
</app-debt-responsible-set>

<app-debt-responsible-clear
  *ngIf="isDialog('debtResponsibleClear')"
  (close)="onCloseDialog()">
</app-debt-responsible-clear>

<app-grid2
  metadataKey="debtsprocessingall"
  persistenceKey="debtsprocessingall"
  rowIdKey="debtId"
  [ngClass]="'debt-processing-grid'"
  [rows]="rows"
  [rowCount]="rowCount"
  [contextMenuItems]="contextMenuItems"
  (onPage)="onRequest()"
  (onPageSize)="onRequest()"
  (onSort)="onRequest()"
  (onFilter)="onRequest()"
  (onDblClick)="onDblClick($event)"
  (onContextMenu)="onContextMenu($event)"
  (onSelect)="onSelect($event)">
</app-grid2>
