<app-dialog-action
  *ngIf="isDialog('removeFormula')"
  actionMode="danger"
  actionTranslationKey="routes.utilities.formulas.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="routes.utilities.formulas.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-formula-calculate-dialog
  *ngIf="isDialog('calculateFormula')"
  [formulaId]="selectedFormula.id"
  (close)="onCloseDialog()"
></app-formula-calculate-dialog>

<app-simple-grid
  persistenceKey="[grid] utilities/formulas"
  [columns]="columns"
  [selection]="selection"
  [toolbar]="toolbar"
  [rows]="formulas"
  (selectRow)="onSelect($event)"
  (dblClick)="onEdit($event)"
></app-simple-grid>
