@import "../../shared/styles/app/variables";

nav {
  background-color: $brand-primary;
  padding-left: 10px;
  padding-right: 3px;

  .logo {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: $layout-top-menu-height;
    padding: 0 15px;
    white-space: nowrap;

    .logo-version {
      color: #ffead8;
    }
  }

  ::ng-deep ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: $brand-white;
      cursor: pointer;
      display: block;
      font-size: $layout-top-menu-font-size;
      line-height: $layout-top-menu-height;
      padding: 0 12px;
      white-space: nowrap;
      &.active,
      &:hover {
        color: #fff;
      }
    }
  }
}
