@import "../../shared/styles/app/variables";

nav {
  background-color: $brand-primary;
  padding-left: 10px;
  padding-right: 3px;

  .logo {
    margin-right: 18px;
    padding: ($layout-top-menu-height - $layout-logo-height) / 2 10px;

    img {
      height: $layout-logo-height;
    }
  }

  ::ng-deep ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .menu-item {
      color: $brand-white;
      cursor: pointer;
      display: block;
      font-size: $layout-top-menu-font-size;
      line-height: $layout-top-menu-height;
      padding: 0 12px;
      white-space: nowrap;

      &.active,
      &:hover {
        color: #fff;
      }
    }
  }
}
