<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" (click)="showLicenseInfo()">
      <div class="brand-logo">
        <div>Contact <span class="brand-logo-version">2.0</span></div>
      </div>
      <div class="brand-logo-collapsed">
        <div>C <span class="brand-logo-version">2.0</span></div>
      </div>
    </a>
  </div>

  <div class="nav-wrapper">
    <ul class="nav navbar-nav">
      <li>
        <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSidebar()" *ngIf="!isCollapsedText()">
          <i class="fa fa-navicon"></i>
        </a>
        <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled = !settings.layout.asideToggled">
          <i class="fa fa-navicon"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a title="Search" (click)="openNavSearch($event)">
          <i class="icon-magnifier"></i>
        </a>
      </li>

      <li class="visible-lg">
        <a title="Language" (click)="toggleLanguage()">
          <i class="fa fa-language"></i>
        </a>
      </li>

      <li>
        <app-dropdown #dropdown class="menu-item" [enabled]="hasNotifications$ | async">
          <a trigger title="Messages">
            <i class="icon-bell"></i>
            <div *ngIf="hasNotifications$ | async" class="label label-danger">
              {{ notificationsCount$ | async }}
            </div>
          </a>
          <app-notifications
            [filters]="filters$ | async"
            [notifications]="notifications$ | async"
            (onClose)="dropdown.close()"
          >
          </app-notifications>
        </app-dropdown>
      </li>

      <li *ngIf="false">
        <a (click)="toggleOffsidebar()">
          <i class="icon-notebook"></i>
        </a>
      </li>

      <li>
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a title="Settings" (click)="toggleUserSettings($event)">
          <i class="icon-user"></i>
        </a>
      </li>

      <li>
        <a title="Logout" (click)="logout($event)">
          <i class="icon-lock"></i>
        </a>
      </li>
    </ul>
  </div>

  <app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch>
</nav>

<app-info-dialog
  *ngIf="isLicenseVisible"
  titleTranslationKey="header.license.title"
  (onClose)="closeLicenseInfo()"
>
  <section class="pv-xl">{{ 'header.license.info' | translate }} <em>CRIF-CO-9821-9873-4259-5601</em>.</section>
</app-info-dialog>
