<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'shared.components.actionGrid.excelFilter.title' | translate }}</h3>
  </div>

  <div [formGroup]="formGroup">
    <div formArrayName="filters" class="mb">
      <div *ngFor="let control of controls; let i = index;">
        <div [formGroupName]="i">
          <app-action-grid-excel-filter-guid-control
            formControlName="control"
            [columns]="columns"
            (remove)="onRemove(i)"
          ></app-action-grid-excel-filter-guid-control>
        </div>
      </div>
    </div>
    <app-button type="add" (click)="onAdd()"></app-button>
  </div>

  <div dialog-footer>
    <app-button type="ok" [disabled]="!canSubmit" (click)="onSubmit()"></app-button>
    <app-button type="close" (click)="onClose()"></app-button>
  </div>
</app-dialog>
