<div class="row">
  <div class="col-md-6">
    <label>
      <span>{{ 'widgets.contactProperty.contactType' | translate }}</span>
      <app-select
        [ngModel]="contactType"
        [nullable]="false"
        [options]="contactTypeOptions"
        (onSelect)="onContactTypeChange($event)">
      </app-select>
    </label>
  </div>
  <div class="col-md-6">
    <label>
      <span>{{ 'widgets.contactProperty.treeType' | translate }}</span>
      <app-select
        [ngModel]="treeType"
        [nullable]="false"
        [options]="treeTypeOptions"
        (onSelect)="onTreeTypeChange($event)">
      </app-select>
    </label>
  </div>
</div>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-tree
  layout="horizontal"
  selectionMode="single"
  [dndEnabled]="true"
  [dblClickEnabled]="true"
  [collapseAdjacentNodes]="true"
  [expandNodeOnClick]="true"
  [value]="nodes"
  [selection]="selectedNode$ | async"
  (changeNodesLocation)="onNodeMove($event)"
  (onNodeSelect)="onNodeSelect($event)"
  (onNodeDblClick)="onNodeDoubleClick($event)"
  (onNodeExpand)="onNodeSelect($event)">
</app-tree>
