<div class="pb-lg">
    <button class="btn btn-default" (click)="onBack()">
      <i class="fa fa-arrow-left"></i> {{ 'default.buttons.back' | translate }}
    </button>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="!canSubmit">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
  </div>

  <div class="pb-lg">

    <app-dynamic-form
      *ngIf="controls"
      [config]="config"
      [controls]="controls"
      [data]="group"
    ></app-dynamic-form>
  </div>
