<app-info-dialog
  *ngIf="isDialog('infoNotFound')"
  titleTranslationKey="widgets.pledgor.dialog.title"
  (close)="onClose()"
>
  <section class="pv-xl">{{ 'widgets.pledgor.dialog.notFound' | translate }}</section>
</app-info-dialog>

<app-dialog *ngIf="!!persons?.length" (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.pledgor.dialog.title' | translate }}</h3>
  </div>

  <app-simple-grid
    *ngIf="columns"
    persistenceKey="workplaces/debtor-card/pledge/pledgor"
    [columns]="columns"
    [rows]="persons"
    (dblClick)="onSelect($event)"
  ></app-simple-grid>

  <div dialog-footer>
    <app-button type="select" [disabled]="!selection" (click)="onSelect()"></app-button>
    <app-button type="cancel" (click)="onClose()"></app-button>
  </div>
</app-dialog>
