label {
  line-height: 16px;
  margin: 0;
  vertical-align: baseline;
}

.form-label {
  display: block;
  margin-bottom: 2px;
}

textarea {
  min-height: 4em;
}

::ng-deep .input-group-btn > .btn {
  padding-left: 8px;
  padding-right: 8px;
}
