label {
  margin: 0;
  vertical-align: baseline;

  &.inline-label {
    display: inline-block;
    width: auto;

    & + &.inline-label {
      padding-left: 10px;
    }
  }
}

::ng-deep .input-group-btn > .btn {
  padding-left: 8px;
  padding-right: 8px;
}
