<div [ngSwitch]="control.type" [formGroup]="form" [hidden]="isHidden">

  <ng-container *ngSwitchCase="'number'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <input
        type="number"
        class="form-control"
        [attr.min]="control.min"
        [attr.max]="control.max"
        [attr.placeholder]="(control.placeholder || '') | translate"
        [formControlName]="control.controlName"
        (input)="control.onChange ? control.onChange($event) : undefined">
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <input
        type="text"
        class="form-control"
        [attr.placeholder]="(control.placeholder || '') | translate"
        [formControlName]="control.controlName">
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'boolean'">
    <span class="form-label">
      <b>{{ control.label | translate }}</b>
      <b *ngIf="control.required" class="text-danger">*</b>
    </span>
    <label class="inline-label">
      <app-radiobutton [formControlName]="control.controlName" value="1"></app-radiobutton>
      {{'default.boolean.TRUE' | translate}}
    </label>
    <label class="inline-label">
      <app-radiobutton [formControlName]="control.controlName" value="0"></app-radiobutton>
      {{'default.boolean.FALSE' | translate}}
    </label>
  </ng-container>

  <app-checkbox
    *ngSwitchCase="'checkbox'"
    [formControlName]="control.controlName"
    [label]="control.label"
  ></app-checkbox>

  <ng-container *ngSwitchCase="'select'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-select
        [formControlName]="control.controlName"
        [actions]="control.optionsActions"
        [closableSelectedItem]="control.closableSelectedItem"
        [controlDisabled]="control.disabled"
        [multiple]="control.multiple"
        [nullable]="!control.required"
        [options]="control.options"
        [placeholder]="control.placeholder"
        [readonly]="control.readonly"
        [renderer]="control.optionsRenderer"
        (onSelect)="selectHandler({ control: control, items: $event})"
      ></app-select>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'selectwrapper'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-select-wrapper
        [formControlName]="control.controlName"
        [dictCode]="control.dictCode"
        [parentCode]="control.parentCode"
        [lookupKey]="control.lookupKey"
        [nullable]="!control.required"
      ></app-select-wrapper>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'singleselectwrapper'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-single-select-wrapper
        [formControlName]="control.controlName"
        [dictCode]="control.dictCode"
        [lookupKey]="control.lookupKey">
      </app-single-select-wrapper>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'multiselectwrapper'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-multi-select-wrapper
        [formControlName]="control.controlName"
        [dictCode]="control.dictCode"
        [lookupKey]="control.lookupKey">
      </app-multi-select-wrapper>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'multiselect'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-multi-select
        [formControlName]="control.controlName"
        [options]="control.options"
        [controlDisabled]="control.disabled"
        (select)="selectHandler({ control: control, items: $event})"
      ></app-multi-select>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <textarea
        [attr.placeholder]="(control.placeholder || '') | translate"
        [formControlName]="control.controlName"
        class="form-control"
        [rows]="control.rows || 2"
      ></textarea>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'htmltextarea'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-html-textarea [formControlName]="control.controlName"></app-html-textarea>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'datetimepicker'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-datetimepicker
      [formControlName]="control.controlName"
      [displaySeconds]="control.displaySeconds"
      [minDateTime]="control.minDateTime"
      [maxDateTime]="control.maxDateTime"
      [required]="control.required"
    ></app-datetimepicker>
  </ng-container>

  <ng-container *ngSwitchCase="'datepicker'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-datepicker
      [formControlName]="control.controlName"
      [minDate]="control.minDate"
      [maxDate]="control.maxDate"
      [required]="control.required"
    ></app-datepicker>
  </ng-container>

  <ng-container *ngSwitchCase="'timepicker'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-timepicker
      [formControlName]="control.controlName"
      [displaySeconds]="control.displaySeconds"
      [minTime]="control.minTime"
      [maxTime]="control.maxTime"
      [required]="control.required"
    ></app-timepicker>
  </ng-container>

  <ng-container *ngSwitchCase="'image'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-image-upload
      [formControlName]="control.controlName"
      [height]="control.height"
      [url]="control.url">
    </app-image-upload>
  </ng-container>

  <ng-container *ngSwitchCase="'dialog'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <!-- TODO(d.maltsev): can we somehow use app-popup-input here? -->
      <div class="popupinput">
        <span class="input-group">
          <input class="form-control" [formControlName]="control.controlName"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="control.action()">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </button>
          </span>
        </span>
      </div>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'gridselect'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-grid-dropdown
      [columns]="control.gridColumns"
      [formControlName]="control.controlName"
      [controlDisabled]="control.disabled"
      [rows]="control.gridRows"
      [labelGetter]="control.gridLabelGetter"
      [valueGetter]="control.gridValueGetter"
      [translationKey]="control.translationKey"
      (select)="control.gridOnSelect ? control.gridOnSelect($event) : null">
    </app-grid-dropdown>
  </ng-container>

  <ng-container *ngSwitchCase="'dialogmultiselect'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-dialog-multi-select
      [filterType]="control.filterType"
      [filterParams]="control.filterParams"
      [formControlName]="control.controlName"
    ></app-dialog-multi-select>
  </ng-container>

  <ng-container *ngSwitchCase="'password'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-password-input [formControlName]="control.controlName"></app-password-input>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'radio'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-radio-group [formControlName]="control.controlName" [options]="control.radioOptions"></app-radio-group>
  </ng-container>

  <ng-container *ngSwitchCase="'file'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-file-upload [formControlName]="control.controlName" [fileName]="control.fileName"></app-file-upload>
  </ng-container>

  <ng-container *ngSwitchCase="'button'">
    <label><span class="form-label">&nbsp;</span></label>
    <button
      class="btn btn-labeled btn-default"
      type="button"
      (click)="control.action()"
      [disabled]="control.disabled"
    >
      <span class="btn-label">
        <i *ngIf="control.iconCls" class="fa" [ngClass]="control.iconCls" aria-hidden="true"></i>
      </span>
      {{ control.label | translate }}
      <b *ngIf="control.required" class="text-danger">*</b>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="'searchBtn'">
    <label><span class="form-label">&nbsp;</span></label>
    <button
      class="btn btn-search btn-default form-control"
      type="button"
      (click)="control.action()"
      [disabled]="control.disabled"
    >
      <span>
        <i *ngIf="control.iconCls" class="fa" [ngClass]="control.iconCls" aria-hidden="true"></i>
      </span>
      {{ control.label | translate }}
      <b *ngIf="control.required" class="text-danger">*</b>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="'texteditor'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-text-editor
      [disabled]="control.disabled"
      [formControlName]="control.controlName"
      [richTextMode]="control.richTextMode"
      [codeMode]="control.codeMode"
      (init)="control.onInit ? control.onInit($event) : null"
    ></app-text-editor>
  </ng-container>

  <ng-container *ngSwitchCase="'segmented'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
    </label>
    <app-segmented-input
      [formControlName]="control.controlName"
      [options]="control.segmentedInputOptions">
    </app-segmented-input>
  </ng-container>

  <ng-container *ngSwitchCase="'multilanguage'">
    <app-multilanguage-input
      [disabled]="control.disabled"
      [formControlName]="control.controlName"
      [label]="control.label"
      [langOptions]="control.langOptions"
      [placeholderKey]="control.placeholder"
      [required]="control.required"
    ></app-multilanguage-input>
  </ng-container>

  <ng-container *ngSwitchCase="'colorpicker'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-colorpicker-input [formControlName]="control.controlName"></app-colorpicker-input>
    </label>
  </ng-container>

  <ng-container *ngSwitchCase="'debt-amount'">
    <label>
      <span class="form-label">
        {{ control.label | translate }}
        <b *ngIf="control.required" class="text-danger">*</b>
      </span>
      <app-debt-amount
        [formControlName]="control.controlName"
        [total]="control.total"
      ></app-debt-amount>
    </label>
  </ng-container>

</div> <!-- ngSwitch:control.type -->
