label {
  margin: 0;
  vertical-align: baseline;

  &.inline-label {
    display: inline-block;
    width: auto;

    & + &.inline-label {
      padding-left: 10px;
    }
  }
}

/*
.form-label {
  display: block;
  margin-bottom: 2px;
}

textarea {
  min-height: 4em;
}
*/

::ng-deep .input-group-btn > .btn {
  padding-left: 8px;
  padding-right: 8px;
}
