<app-dialog [styles]="{ width: '70%' }" (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.contactProperty.dialogs.edit.title' | translate }}</h3>
  </div>

  <div class="contact-tree-dlg-body">
    <app-tabview [noMargin]="true" (selectTab)="onTabSelect($event)">

      <app-tabview-tab [title]="'widgets.contactProperty.dialogs.edit.mainSettings'">
        <div class="mt">
          <app-dynamic-form
            *ngIf="controls"
            [config]="config"
            [controls]="controls"
            [data]="data"
          ></app-dynamic-form>
        </div>
      </app-tabview-tab>

      <app-tabview-tab [title]="'widgets.contactProperty.dialogs.edit.attributesSettings'">
        <div class="mt" *ngIf="tabs[1].isInitialised">
          <div class="flex vertical">
              <div class="flex-item contact-tree-dlg-attributes">
                <app-simple-grid
                  *ngIf="attributeTypes && attributeTypes.length > 0"
                  persistenceKey="[grid] utilities/contact-property-tree/edit/attributes"
                  [columns]="columns"
                  [rows]="attributeTypes"
                  [treeData]="true"
                  (cellValueChanged)="onCellValueChanged($event)"
                  >
                </app-simple-grid>
              </div>
          </div>
        </div>
      </app-tabview-tab>

    </app-tabview>
  </div>

  <div dialog-footer>
    <div class="flex justify-center contact-tree-dlg-footer">
      <app-button class="contact-tree-dlg-footer-btn" type="cancel" (click)="onCancel()"></app-button>
      <app-button class="contact-tree-dlg-footer-btn" color="primary" type="save" (click)="onSubmit()" [disabled]="!canSubmit"></app-button>
    </div>
  </div>
</app-dialog>
