<app-debt-grid (select)="onDebtSelect($event)"></app-debt-grid>

<app-hdivider></app-hdivider>

<app-tabstrip [scrollerEnabled]="false" [inverse]="true">
  <app-tab [title]="'debtor.paymentsTab.title'" [closable]="false">
    <app-payment-grid
      [debtId]="debtId"
    ></app-payment-grid>
  </app-tab>
  <app-tab [title]="'debtor.promisesTab.title'" [closable]="false">
    <app-promise-grid
      [debtId]="debtId"
      [debtStatusCode]="debtStatusCode"
    ></app-promise-grid>
  </app-tab>
</app-tabstrip>
