<section [formGroup]="formGroup">

  <label>
    Boolean - dictCode #2 - Selected: 'True'
    <app-single-select
      [dictCode]="2"
      formControlName="select1"
      [ngModel]="select1Model"
      (ngModelChange)="onSingleSelect1Change($event)"
    ></app-single-select>
  </label>

  <label>
    Payment Type - dictCode #41 - Selected: '{{ select2Model }}'
    <app-single-select
      [dictCode]="41"
      formControlName="select2"
      [ngModel]="select2Model"
      (ngModelChange)="onSingleSelect2Change($event)"
    ></app-single-select>
  </label>

  <label>
    Lookup - Currencies
    <app-single-select
      lookupKey="currencies"
      formControlName="select3"
      [ngModel]="select3Model"
      (ngModelChange)="onSingleSelect3Change($event)"
    ></app-single-select>
  </label>

  <label>
    Lookup - Disabled
    <app-single-select
      [isDisabled]="true"
      lookupKey="currencies"
      formControlName="select3"
      [ngModel]="select3Model"
      (ngModelChange)="onSingleSelect3Change($event)"
    ></app-single-select>
  </label>

</section>
