.maps-markers-popup-inputs {
  flex-wrap: wrap;
  justify-content: space-between;
}

:host ::ng-deep .map-toolbar-placement {
  margin-bottom: 5px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
