<app-map
  [layers]="layers"
  [styles]="{ height: '500px' }"
  [controls]="controls"
></app-map>
<br>
<h2> Dynamic popup content </h2>
<div class="flex maps-markers-popup-inputs" *ngIf="layers && layers.length">
  <div *ngFor="let layer of layers[0]; let i = index">
    <h4> Marker №{{ i + 1 }} </h4>
    <div class="flex horizontal">
      <div class="flex-item">
        <app-text label="Choose name" [ngModel]="layer.data.name" (ngModelChange)="onNameChange($event, i)"></app-text>
      </div>
      <div class="flex-item" >
        <app-text label="Choose address" [ngModel]="layer.data.address" (ngModelChange)="onAddressChange($event, i)"></app-text>
      </div>
    </div>
  </div>
</div>
<ng-template #tpl let-data="data">
  <div class="col-xs-12">
    <span class="text-left">{{ data.name }}</span>&nbsp;<span class="text-right">{{ data.address }}</span>
  </div>
</ng-template>
