.group {
  position: relative;
  margin-top: 20px;
  padding: 16px 12px 8px;
  border: 1px solid #d5d5d5;
}

.legend {
  position: absolute;
  top: -12px;
  left: 12px;
  padding: 1px 8px 0;
  background: #d5d5d5;
  font-weight: bold;
}
