@import "../../../styles/app/variables.scss";
.address-map-container {
  height: 500px;
  width: 100%;
}

::ng-deep .map-toolbar-placement {
  margin-bottom: 5px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.description {
  padding: 5px;
}

.description-entry {
  margin-bottom: 5px;
  color: $text;
  font-size: 13px;
}

.description-title {
  font-weight: bold;
}

.desription-info {
  color: $text-light;
  font-size: 12px;
}
