<app-tabview [noMargin]="true" (select)="onTabSelect($event)">
  <app-tabview-tab [title]="tabs[0].title" [closable]="false">
    <app-contact-registration-contact-select-grid
      *ngIf="tabs[0].isInitialised"
      [personId]="personId"
      [debtId]="debtId"
    ></app-contact-registration-contact-select-grid>
  </app-tabview-tab>
  <app-tabview-tab [title]="tabs[1].title" [closable]="false">
    123
  </app-tabview-tab>
  <app-tabview-tab [title]="tabs[2].title" [closable]="false">
    <app-contact-registration-contact-select-card
      *ngIf="tabs[2].isInitialised"
    ></app-contact-registration-contact-select-card>
  </app-tabview-tab>
</app-tabview>
