<app-dialog-action
  *ngIf="isDialog('removeEmployment')"
  actionMode="danger"
  actionTranslationKey="debtor.employmentRecordTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.employmentRecordTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
>
</app-dialog-action>


<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.employment"
  selectionType="single"
  [styles]="gridStyles"
  [columns]="columns"
  [rows]="employments"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>
