<app-term-edit *ngIf="isEntityBeingCreated"
               (submit)="onEditSubmit($event, true)"
               (cancel)="cancelAction()"></app-term-edit>

<app-term-edit *ngIf="isEntityBeingEdited"
               [editedEntity]="selectedEntity"
               (submit)="onEditSubmit($event, false)"
               (cancel)="cancelAction()"></app-term-edit>

<app-submitted-popup *ngIf="isEntityBeingRemoved"
                     [titleTranslationKey]="'terms.remove.title'"
                     [actionTranslationKey]="'terms.remove.confirmMessage'"
                     [submitMessage]="'default.buttons.remove'"
                     [messageParams]="selectedEntity"
                     (action)="onRemoveSubmit()"
                     (cancel)="cancelAction()"></app-submitted-popup>

<app-grid
  selectionType="single"
  [styles]="{height: '200px'}"
  [columns]="columns"
  [dataSource]="dataSource"
  [autoLoad]="false"
  [parseFn]="parseFn"
  [columnTranslationKey]="'terms'"
  [editPermission]="'DICT_TERM_EDIT'"
  (onRowSelect)="onSelectedRowChange($event)"
  (onEdit)="onEdit()"
  [bottomActions]="bottomActions"
  (onAction)="onAction($event)">
</app-grid>
