<app-term-edit
  *ngIf="isReadyForCreating | async"
  displayControlName="translatedName"
  translatedControlName="nameTranslations"
  [languages]="languages | async"
  [mode]="'create'"
  [terms]="dropdownTerms | async"
  [title]="'terms.create.title'"
  (submit)="onCreateEntity($event)"
  (cancel)="cancelAction()">
</app-term-edit>

<app-term-edit
  *ngIf="isReadyForEditing | async"
  displayControlName="translatedName"
  translatedControlName="nameTranslations"
  [editedEntity]="selectedEntity | async"
  [languages]="languages | async"
  [mode]="'update'"
  [terms]="dropdownTerms | async"
  [title]="'terms.edit.title'"
  (submit)="onUpdateEntity($event)"
  (cancel)="cancelAction()">
</app-term-edit>

<app-dialog-action
  *ngIf="isEntityBeingRemoved | async"
  [actionMode]="'danger'"
  [actionMessage]="'default.buttons.remove'"
  [actionTranslationKey]="'terms.remove.confirmMessage'"
  [messageParams]="selectedEntity | async"
  [titleTranslationKey]="'terms.remove.title'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  selectionType="single"
  [columns]="columns"
  [columnTranslationKey]="'terms'"
  [emptyMessage]="emptyMessage$ | async"
  [rows]="rows"
  [styles]="{height: '400px'}"
  (onDblClick)="onEdit($event)"
  (onSelect)="onSelect($event)">
</app-grid>
