<app-term-edit
  *ngIf="isEntityBeingCreated"
  [title]="'terms.create.title'"
  (submit)="onEditSubmit($event, true)"
  (cancel)="cancelAction()">
</app-term-edit>

<app-term-edit
  *ngIf="isEntityBeingEdited"
  [title]="'terms.edit.title'"
  [editedEntity]="selectedEntity"
  (submit)="onEditSubmit($event, false)"
  (cancel)="cancelAction()">
</app-term-edit>

<app-dialog-action
  *ngIf="isEntityBeingRemoved"
  [titleTranslationKey]="'terms.remove.title'"
  [actionTranslationKey]="'terms.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [messageParams]="selectedEntity"
  [actionMode]="'danger'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  selectionType="single"
  [autoLoad]="false"
  [columns]="columns"
  [columnTranslationKey]="'terms'"
  [emptyMessage]="emptyMessage$ | async"
  [rows]="rows"
  [styles]="{height: '200px'}"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>
