
i {
  display: block;
  margin: 6px 3px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

li span.menu-item {
  padding: 0;
}
