@import "../../../../shared/styles/app/variables";

li .menu-item {
  padding: 0;

  i, span {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 8px 4px;
    text-align: center;
    width: 32px;
  }

  span {
    padding: 7px 12px;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:not(.disabled) {
    .co-call-pause {
      background-color: #ff0000;
    }

    .co-call-unpause {
      background-color: #00aeff;
    }

    .co-call-transfer {
      background-color: #00aeff;
    }

    .co-call-cancel {
      background-color: #ff0000;
    }
  }
}
