<ul class="flex">
  <li class="flex-item">
    <span class="menu-item">
      <i class="icon co-pause"></i>
    </span>
  </li>
  <li class="flex-item">
    <span class="menu-item">
      <i class="icon co-call-unpause"></i>
    </span>
  </li>
  <li class="flex-item">
    <span class="menu-item">
      <i class="icon co-call-transfer"></i>
    </span>
  </li>
  <li class="flex-item">
    <span class="menu-item">
      <i class="icon co-call-campaigns"></i>
    </span>
  </li>
  <li class="flex-item">
    <span class="menu-item">
      <i class="icon co-call-cancel"></i>
    </span>
  </li>
</ul>
