@import "../../../../shared/styles/app/variables";

i {
  display: block;
  margin: 8px 4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0.3);
}

li span.menu-item {
  padding: 0;
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}
