<app-dynamic-form
  [ngClass]="'app-debtor-container'"
  [controls]="controls"
  [data]="debtor">
</app-dynamic-form>

<app-tabstrip
  [scrollerEnabled]="true"
>
  <app-tab [title]="'debtor.generalInformationTab.title'">
    <app-debtor-information
      [phones]="generalInformationPhones"
      [data]="generalInformation"
    >
    </app-debtor-information>
  </app-tab>
  <app-tab
    title="debtor.debtsTab.title"
    [closable]="false">
  </app-tab>
  <app-tab
    title="debtor.propertyTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.guarantorsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.contactsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.planningTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.documentationTab.title"
    [closable]="false"
  >
    <app-debtor-documents></app-debtor-documents>
  </app-tab>
  <app-tab
    title="debtor.accountsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.tasksTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.workHistoryTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.actionLogTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.arbitraryAttributesTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.commentTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.promotionsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.socialNetworksTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    title="debtor.extrasDebtInfoTab.title"
    [closable]="false"
  >
  </app-tab>
</app-tabstrip>
