<div class="pb-lg">
  <button class="btn btn-success" (click)="onSubmit()" [disabled]="!canSubmit">
    <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
  </button>
</div>

<app-dynamic-form
  #form
  *ngIf="controls && person"
  [ngClass]="'app-debtor-container'"
  [controls]="controls"
  [data]="person">
</app-dynamic-form>

<app-tabstrip
  [scrollerEnabled]="true"
>
  <app-tab [title]="'debtor.information.title'">
    <app-debtor-information
      #information
      [person]="person">
    </app-debtor-information>
  </app-tab>
  <app-tab
    [title]="debtor.debtsTab.title"
    [closable]="false">
    <app-debt-grid></app-debt-grid>
  </app-tab>
  <app-tab
    [title]="debtor.propertyTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    [title]="debtor.guarantorsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    [title]="debtor.documentationTab.title"
    [closable]="false"
  >
    <app-debtor-documents></app-debtor-documents>
  </app-tab>
  <app-tab
    [title]="debtor.accountsTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    [title]="debtor.workHistoryTab.title"
    [closable]="false"
  >
    <app-employment-grid></app-employment-grid>
  </app-tab>
  <app-tab
    [title]="debtor.actionLogTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    [title]="debtor.commentTab.title"
    [closable]="false"
  >
  </app-tab>
  <app-tab
    [title]="debtor.extrasDebtInfoTab.title"
    [closable]="false"
  >
  </app-tab>
</app-tabstrip>
