<div class="flex vertical">
  <div class="flex-item grow">
    <app-tabview [fullHeight]="true" (select)="onTabSelect($event)">
      <app-tabview-tab *ngFor="let grid of grids" [title]="grid.title" [closable]="false">
        <app-info-debt-grid
          *ngIf="grid.isInitialised"
          [gridKey]="grid.gridKey$ | async"
          [rowIdKey]="grid.rowIdKey"
          (select)="onSelect($event)"
        ></app-info-debt-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>
  <div class="flex-item grow">
    <app-tabview [fullHeight]="true" (select)="onDetailTabSelect($event)">
      <app-tabview-tab *ngFor="let grid of detailGrids" [title]="grid.title" [closable]="false">
        <app-info-debt-detail-grid
          *ngIf="grid.isInitialised"
          [gridKey]="grid.gridKey$ | async"
          [rowIdKey]="grid.rowIdKey"
          [columns]="grid.columns"
        ></app-info-debt-detail-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>
</div>
