<app-area layout="column">
  <app-area initialSize="2">
    <app-tabview [fullHeight]="true" (selectTab)="onTabSelect($event)">
      <app-tabview-tab *ngFor="let grid of grids" [title]="grid.title" [visible]="grid.permission | async">
        <app-info-debt-grid
          *ngIf="grid.isInitialised"
          [gridKey]="grid.gridKey$ | async"
          [rowIdKey]="grid.rowIdKey"
          (onSelect)="onSelect($event)"
        ></app-info-debt-grid>
      </app-tabview-tab>
    </app-tabview>
  </app-area>
  <app-area initialSize="1">
    <app-tabview [fullHeight]="true" (selectTab)="onDetailTabSelect($event)">
      <app-tabview-tab *ngFor="let grid of detailGrids" [title]="grid.title" [visible]="grid.permission | async">
        <app-info-debt-detail-grid
          *ngIf="grid.isInitialised"
          [gridKey]="grid.gridKey$ | async"
          [rowIdKey]="grid.rowIdKey"
          [actions]="grid.actions"
          [columns]="grid.columns"
          (action)="onAction($event)"
        ></app-info-debt-detail-grid>
      </app-tabview-tab>
    </app-tabview>
  </app-area>
</app-area>

<app-downloader
  #downloader
  entityTranslationKey="entities.letters.gen.singular"
></app-downloader>