<app-dialog [styles]="{ width: '80%' }" (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'modules.callCenter.processedDebts.title' | translate }}</h3>
  </div>

  <div style="height: 75vh;">
    <app-action-grid
      persistenceKey="[grid] workplaces/call-center/processed-debts"
      [columns]="columns"
      [fullHeight]="true"
      [rows]="debts"
      [isSimple]="true"
      [actions]="actions"
      (close)="onClose()"
    ></app-action-grid>
  </div>

  <div dialog-footer>
    <app-button type="close" (click)="onClose()"></app-button>
  </div>
</app-dialog>
