<div class="wrapper">
  <div class="block-center wd-xl">
    <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
        <img class="block-center" src="assets/img/crif.svg" width="120" alt="CRIF Logo" />
      </div>
      <div class="panel-body">
        <p class="text-center pv-lg">{{ 'login.please_authenticate' | translate }}</p>
        <app-metadata-form [config]="config" [data]="data" (submit)="onSubmit()"></app-metadata-form>
        <button class="btn btn-block btn-primary mt-lg" [disabled]="!canSubmit" (click)="onSubmit()">
          {{ 'login.login_button' | translate }}
        </button>
      </div>
    </div>
    <div class="p-lg text-center">
      <span>{{ settings.app.description }} &copy; {{ settings.app.year }} - {{ settings.app.name }}</span>
    </div>
  </div>
</div>
