<!-- TODO(d.maltsev): minAmountPercent -->

<app-dialog-action
  *ngIf="isDialog('confirm')"
  actionMode="warning"
  actionTranslationKey="debtor.promisesTab.confirmInsufficient.message"
  actionMessage="default.buttons.save"
  [messageParams]="{ percent: minAmountPercent }"
  titleTranslationKey="debtor.promisesTab.confirmInsufficient.title"
  (action)="onConfirm()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-info-dialog
  *ngIf="isDialog('info')"
  titleTranslationKey="debtor.promisesTab.infoIncreaseAmount.title"
  (onClose)="onCloseDialog()"
>
  <section class="pv-xl">{{ 'debtor.promisesTab.infoIncreaseAmount.message' | translate: { percent: minAmountPercent} }}</section>
</app-info-dialog>

<div class="flex vertical">
  <!-- Form -->
  <div class="flex-item grow" style="overflow-y: auto;">
    <div [formGroup]="form">

      <!-- PROMISE GROUP -->
      <app-contact-registration-promise [formGroup]="form"></app-contact-registration-promise>

      <!-- PAYMENT GROUP -->
      <app-contact-registration-payment [formGroup]="form"></app-contact-registration-payment>

      <!-- NEXT CALL DATE GROUP -->
      <app-contact-registration-next-call [formGroup]="form"></app-contact-registration-next-call>

      <!-- COMMENT GROUP -->
      <div *ngIf="displayCommentForm$ | async">
        <div>
          <label>
            <span class="form-label">
              <!-- TODO(d.maltsev): i18n -->
              Комментарий <b *ngIf="isCommentRequired$ | async" class="text-danger">*</b>
            </span>
            <textarea
              class="form-control"
              formControlName="comment"
              rows="2"
              [required]="isCommentRequired$ | async"
            ></textarea>
          </label>

          <hr>
        </div>
      </div>

      <!-- AUTOCOMMENT GROUP -->
      <app-contact-registration-auto-comment [formGroup]="form"></app-contact-registration-auto-comment>

      <!-- PHONE GROUP -->
      <app-contact-registration-phone [formGroup]="form"></app-contact-registration-phone>

      <!-- CONTACT PERSON GROUP -->
      <div *ngIf="displayContactPersonForm$ | async">
        <!-- TODO(d.maltsev): i18n -->
        <h3>Изменение контактного лица</h3>
        <app-contact-registration-contact-select [excludeCurrentPersonId]="true"></app-contact-registration-contact-select>

        <hr>
      </div>

      <!-- DEBT REASON GROUP -->
      <div *ngIf="displayDebtReasonForm$ | async">
        <div>
          <label>
            <span class="form-label">
              <!-- TODO(d.maltsev): i18n -->
              Причина возникновения задолженности <b *ngIf="isDebtReasonCodeRequired$ | async" class="text-danger">*</b>
            </span>
            <app-select-wrapper
              formControlName="debtReasonCode"
              dictCode="11"
              [nullable]="!(isDebtReasonCodeRequired$ | async)"
              [required]="isDebtReasonCodeRequired$ | async"
            ></app-select-wrapper>
          </label>
        </div>

        <hr>
      </div>

      <!-- REFUSAL GROUP -->
      <div *ngIf="displayRefusalForm$ | async">
        <div>
          <label>
            <span class="form-label">
              <!-- TODO(d.maltsev): i18n -->
              Причина отказа от оплаты <b class="text-danger">*</b>
            </span>
            <!-- TODO(d.maltsev): filter by parent 3 -->
            <app-select-wrapper
              formControlName="refusalReasonCode"
              dictCode="19"
              [nullable]="false"
              [required]="true"
            ></app-select-wrapper>
          </label>
        </div>

        <hr>
      </div>

      <!-- ATTACHMENTS GROUP -->
      <div *ngIf="displayAttachmentForm$ | async">
        <!-- TODO(d.maltsev): i18n -->
        <h3>Прикрепленные файлы</h3>
        <app-contact-registration-attachment></app-contact-registration-attachment>

        <hr>
      </div>

      <!-- CALL REASON GROUP -->
      <div *ngIf="displayCallReasonForm$ | async">
        <div>
          <label>
            <span class="form-label">
              <!-- TODO(d.maltsev): i18n -->
              Причина звонка должника <b *ngIf="isCallReasonRequired$ | async" class="text-danger">*</b>
            </span>
            <app-select-wrapper
              formControlName="callReasonCode"
              dictCode="49"
              [nullable]="!(isCallReasonRequired$ | async)"
              [required]="isCallReasonRequired$ | async"
            ></app-select-wrapper>
          </label>
        </div>

        <hr>
      </div>

      <!-- STATUS CHANGE REASON GROUP -->
      <div *ngIf="displayChangeReasonForm$ | async">
        <div>
          <label>
            <span class="form-label">
              <!-- TODO(d.maltsev): i18n -->
              Причина перевода в пользовательский статус <b *ngIf="isChangeReasonRequired$ | async" class="text-danger">*</b>
            </span>
            <!-- Filter by terms whose parent is debtStatusCode -->
            <app-select-wrapper
              formControlName="statusReasonCode"
              dictCode="19"
              [nullable]="!(isChangeReasonRequired$ | async)"
              [required]="isChangeReasonRequired$ | async"
            ></app-select-wrapper>
          </label>
        </div>

        <hr>
      </div>

      <!-- ATTRIBUTES GROUP -->
      <div>
        <app-contact-registration-attributes></app-contact-registration-attributes>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
    <app-button type="ok" [disabled]="!canSubmit" (click)="onSubmit()"></app-button>
  </div>
</div>
