@import "../../../../styles/app/variables.scss";

.language-selector {
  border: 1px solid $app-widget-border-color-dark;
  border-bottom-width: 0;
  padding: 3px;
}

.language-tab {
  display: inline-block;
  border: 1px solid $app-widget-border-color-dark;
  border-radius: 5px;
  padding: 2px 12px;
  &:not(:first-child) {
    margin-left: 6px;
  }
  &.active, &:active {
    background-color: $label-primary-bg;
  }
}
