<div class="mv">
  <ng-container *ngIf="isPerson$ | async">
    <app-debtor-information-person></app-debtor-information-person>
  </ng-container>
  <ng-container *ngIf="isCompany$ | async">
    <app-debtor-information-company [personTypeCode]="debtorTypeCode$ | async"></app-debtor-information-company>
  </ng-container>
</div>

<app-tabview (select)="onTabSelect($event)" [noMargin]="true">
  <app-tabview-tab *ngFor="let tab of tabs" [title]="tab.title">
    <app-container *ngIf="tab.isInitialised" [node]="tab"></app-container>
  </app-tabview-tab>
</app-tabview>
