<app-contractor-objects-grid-add
  *ngIf="isDialog('add')"
  [contractorId]="contractorId"
  [typeCode]="selectedTypeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()"
></app-contractor-objects-grid-add>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.contractorObject.dialogs.delete.title"
  actionTranslationKey="widgets.contractorObject.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedObject$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="panel m0 p ba">
  <app-select
    [ngModel]="selectedTypeCode"
    [nullable]="false"
    [options]="typeCodeOptions"
    (onSelect)="onSelectType($event)"
  ></app-select>
</div>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.contractorObject"
  selectionType="multi"
  [columns]="columns"
  [rows]="rows"
  [styles]="{ height: '600px' }"
  (onSelect)="onSelect($event)"
></app-grid>
