<app-dialog [autoWidth]="true"
            (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>{{ title | translate:titleParams }}</h3>
  </div>

  <p>{{ message | translate:messageParams }}</p>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div dialog-footer>
    <button class="btn btn-success" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ submitMessage | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ cancelMessage | translate }}
    </button>
  </div>
</app-dialog>
