<app-dialog-action
  *ngIf="isDialog('removeContact')"
  actionMode="danger"
  actionTranslationKey="debtor.employmentRecordTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.employmentRecordTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
>
</app-dialog-action>


<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.contact"
  selectionType="single"
  [styles]="{ height: '600px' }"
  [columns]="columns"
  [rows]="contacts"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>
