<div class="flex vertical">

  <!-- Header -->
  <div class="flex-item">
    <ul class="layout-tabview" [ngClass]="{'no-margin': noMargin}">
      <li
        #tabHeader
        *ngFor="let tab of visibleTabs"
        (click)="onSelectTab($event, tab)"
        [class.active]="tab.active"
        [class.disabled]="tab.disabled"
        [class.invisible]="!tab.visible || !feetsInView(tab)"
      >
        <a>{{ tab.title | translate }}</a>
        <div class="selection"></div>
      </li>
      <li menu #tabHeaderMenu *ngIf="menuTabs.length">
        <div appDropdown fitWidthToContent="true">
          <div #dropdownTrigger>
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <div #dropdownContent class="dropdown">
            <ul class="list-group m0">
              <li
                *ngFor="let tab of menuTabs"
                class="list-group-item b0 clickable"
                [class.active]="tab.active"
                (click)="onSelectTab($event, tab)"
              >
                {{ tab.title | translate }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Contents -->
  <div [ngClass]="{ 'flex-item': true, grow: fullHeight }">
    <ng-content></ng-content>
  </div>
</div>
