<div class="flex vertical">

  <!-- Header -->
  <div class="flex-item">
    <ul class="layout-tabview" [ngClass]="{'no-margin': noMargin}">
      <li
        #tabHeader
        *ngFor="let tab of visibleTabs"
        (click)="selectTab($event, tab)"
        [class.active]="tab.active"
        [class.disabled]="tab.disabled"
      >
        <a>{{ tab.title | translate }}</a>
        <div class="selection"></div>
      </li>
      <li menu #tabHeaderMenu *ngIf="hiddenTabs.length">
        <app-dropdown position="right">
          <i class="fa fa-ellipsis-h" trigger></i>
          <ul class="list-group m0">
            <li
              *ngFor="let tab of hiddenTabs"
              class="list-group-item b0 clickable"
              [class.active]="tab.active"
              (click)="selectTab($event, tab)"
            >
              {{ tab.title | translate }}
            </li>
          </ul>
        </app-dropdown>
      </li>
    </ul>
  </div>

  <!-- Contents -->
  <div [ngClass]="{ 'flex-item': true, grow: fullHeight }">
    <ng-content></ng-content>
  </div>
</div>
