<app-dialog [display]="displayProperties.editPermit"
            (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>Доступ</h3>
  </div>

  <app-dynamic-form [form]="form"
                    [controls]="controls">
  </app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-danger"
            [disabled]="!canSaveChanges()"
            (click)="onSave()">
      <i class="fa fa-check"></i> Сохранить
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> Отмена
    </button>
  </div>
</app-dialog>
