<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="promise">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.promise.title' | translate }}</h3>

    <!-- Promise Date -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.promise.form.date' | translate }}
          <b class="text-danger">*</b>
        </span>
      </label>
      <app-datepicker
        formControlName="date"
        [minDate]="today"
        [maxDate]="promiseMaxDate$ | async"
        [required]="true"
      ></app-datepicker>
    </div>

    <!-- Promise Amount -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.promise.form.amount' | translate }}
          <b class="text-danger">*</b>
        </span>
        <input
          class="form-control"
          type="number"
          formControlName="amount"
          [disabled]="isPromiseAmountDisabled$ | async"
          [min]="promiseMinAmount$ | async"
          [max]="promiseMaxAmount$ | async"
          [positive]="true"
          [required]="true"
          (input)="onPromiseAmountInput($event)"
        />
      </label>
    </div>

    <!-- Promise Percentage -->
    <div>
      <label>
        <span class="form-label">
          {{ 'routes.workplaces.shared.contactRegistration.edit.form.promise.form.percentage' | translate }}
          <b class="text-danger">*</b>
        </span>
        <input
          class="form-control"
          type="number"
          formControlName="percentage"
          [disabled]="isPromiseAmountDisabled$ | async"
          [min]="percentageMinPercentage$ | async"
          [max]="100"
          [positive]="true"
          [required]="true"
          (input)="onPromisePercentageInput($event)"
        />
      </label>
    </div>

    <hr>
  </div>
</div>
