<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div formGroupName="promise">
    <h3>{{ 'routes.workplaces.shared.contactRegistration.edit.form.promise.title' | translate }}</h3>

    <!-- Promise Date -->
    <div>
      <app-datepicker
        formControlName="date"
        label="routes.workplaces.shared.contactRegistration.edit.form.promise.form.date"
        [minDate]="today"
        [maxDate]="promiseMaxDate$ | async"
        [required]="true"
      ></app-datepicker>
    </div>

    <!-- Promise Amount -->
    <div>
      <app-number
        formControlName="amount"
        label="routes.workplaces.shared.contactRegistration.edit.form.promise.form.amount"
        [isReadonly]="fullPromiseMode$ | async"
        [ngModel]="promiseAmount$ | async"
        [min]="promiseMinAmount$ | async"
        [max]="promiseMaxAmount$ | async"
        [positive]="true"
        [required]="true"
        [precision]="2"
      ></app-number>
    </div>

    <!-- Promise Percentage -->
    <div>
      <app-number
        formControlName="percentage"
        label="routes.workplaces.shared.contactRegistration.edit.form.promise.form.percentage"
        [isReadonly]="fullPromiseMode$ | async"
        [ngModel]="promisePercentage$ | async"
        [min]="promiseMinPercentage$ | async"
        [max]="100"
        [positive]="true"
        [required]="true"
        [precision]="5"
      ></app-number>
    </div>

    <hr>
  </div>
</div>
