<div appDropdown [container]="container" fitWidthToContent="true">
  <div #dropdownTrigger>
    <app-button
      [disabled]="isDisabled(config) | async"
      [label]="false"
      [withBtnClass]="false"
      [btnClass]="'map-filter-btn'"
      type="search">
    </app-button>
  </div>
  <div class="dropdown-content" #dropdownContent>
    <ng-container *ngFor="let item of config.children">
      <div class="dropdown-item">
        <app-map-filter-item
          [config]="item"
          (action)="onAction($event)"
        ></app-map-filter-item>
        <!-- Separator -->
        <div *ngIf="item.type === 'separator'" class="separator"></div>
      </div>
    </ng-container>
  </div>
</div>
