@import "../../../../../styles/app/variables.scss";
.separator {
  height: 1px;
  width: 100%;
  background-color: #d5d5d5 !important;
}

.dropdown-control-btn {
  text-decoration: none;
  color: #222;
}

.dropdown-content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: $zindex-app-map-filter;
}

.dropdown-item {
  position: relative;
}

.dropdown-item-control {
  line-height: 24px !important;
  padding: 2px 12px !important;
  display: block;
  text-align: left;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}
