<div appDropdown [container]="container" fitWidthToContent="true">
  <div #dropdownTrigger>
    <app-button
      [disabled]="isDisabled(config) | async"
      [label]="false"
      type="search">
    </app-button>
  </div>
  <div class="dropdown-content" #dropdownContent>
    <ng-container *ngFor="let child of config.children">
      <div class="dropdown-item" [ngSwitch]="child.type">
        <!-- Lookup -->
        <app-menu-select
          *ngSwitchCase="'lookup'"
          [label]="child.label"
          [lookupKey]="child.lookupKey"
          [disabled]="isDisabled(child) | async"
          (action)="onChildSelect(child)"
        ></app-menu-select>
        <!-- Dict -->
        <app-menu-select
          *ngSwitchCase="'dict'"
          [label]="child.label"
          [dictCode]="child.dictCode"
          [disabled]="isDisabled(child) | async"
          (action)="onChildSelect(child)"
        ></app-menu-select>
        <!-- Separator -->
        <div *ngSwitchCase="'separator'" class="separator"></div>
        <!-- Button -->
        <button
          *ngSwitchCase="'button'"
          class="btn btn-link filter-btn"
          [disabled]="isDisabled(child) | async"
          (click)="onChildSelect(child)"
        >
        {{ child.label | translate }}
        </button>
        <!-- Checkbox -->
        <app-tick
          *ngSwitchCase="'checkbox'"
          [label]="child.label"
          [disabled]="isDisabled(child) | async"
          [ngModel]="child.checked"
          (ngModelChange)="onChildSelect($event)"
        ></app-tick>
      </div>
    </ng-container>

  </div>
</div>
