<div class="flex horizontal wrap">
  <div *ngFor="let item of items" class="flex horizontal wrap flex-item" [ngStyle]="getStyle(item.control)">
    <app-view-form-group
      *ngIf="item.control.children; else field"
      [controls]="item.control.children"
      [data]="data"
    ></app-view-form-group>
    <ng-template #field>
      <div class="field">
        <span class="field-label">{{ item.control.label | translate }}</span>
        <span class="field-value">{{ item.value || '&nbsp;' }}</span>
      </div>
    </ng-template>
  </div>
</div>
