<div>
  <b>Должник</b> {{ fullName$ | async }}
</div>

<div class="row">
  <div class="col-sm-12" style="height: 360px;">
    <app-phone-grid
      [contactType]="contactType"
      [debtId]="debtId"
      [personId]="personId"
      [personRole]="personRole"
      [styles]="{ height: '420px' }"
      (add)="onPhoneAdd()"
      (dblClick)="onPhoneEdit($event)"
      (edit)="onPhoneEdit($event)"
      (register)="onPhoneRegister($event)"
      (select)="onSelect($event)"
    ></app-phone-grid>
  </div>
</div>

<div class="row mt">
  <div class="col-sm-12">
    <app-button
      color="secondary"
      type="registerContact"
      label="Регистрация контакта"
      [disabled]="contactButtonDisabled"
      (click)="onRegisterContact()"
    ></app-button>

    <app-button
      color="secondary"
      type="registerContact"
      label="Регистрация контакта по неопределенному номеру"
      [disabled]="unidentifiedContactButtonDisabled$ | async"
      (click)="onRegisterUnidentifiedContact()"
    ></app-button>

    <app-button
      color="secondary"
      type="registerContact"
      label="Регистрация визита в офис"
      [disabled]="officeVisitButtonDisabled$ | async"
      (click)="onRegisterOfficeVisit()"
    ></app-button>
  </div>
</div>
