<app-message-template-grid-edit
  *ngIf="isDialog('add')"
  [typeCode]="typeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-message-template-grid-edit>

<app-message-template-grid-edit
  *ngIf="isDialog('edit')"
  [typeCode]="typeCode"
  [templateId]="selectedTemplateId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-message-template-grid-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="utilities.messageTemplates.dialogs.delete.title"
  actionTranslationKey="utilities.messageTemplates.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedTemplate$ | async"
  (action)="onDeleteDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] utilities/message-templates"
  [columns]="columns"
  [rows]="templates"
  [selection]="selection$ | async"
  [toolbar]="toolbarItems"
  (select)="onSelect($event)"
  (dblClick)="onDblClick($event)">
</app-simple-grid>
