<app-message-template-grid-edit
  *ngIf="isDialog('add')"
  [typeCode]="typeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-message-template-grid-edit>

<app-message-template-grid-edit
  *ngIf="isDialog('edit')"
  [typeCode]="typeCode"
  [templateId]="selectedTemplateId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-message-template-grid-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="utilities.messageTemplates.dialogs.delete.title"
  actionTranslationKey="utilities.messageTemplates.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedTemplate$ | async"
  (action)="onDeleteDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar-2
      class="bh"
      [items]="toolbarItems">
    </app-toolbar-2>
  </div>
  <div class="flex-item grow">
    <app-grid
      columnTranslationKey="utilities.messageTemplates"
      selectionType="single"
      [columns]="columns"
      [rows]="templates"
      [selection]="selection$ | async"
      [styles]="{height: '600px'}"
      (onSelect)="onSelect($event)"
      (onDblClick)="onDblClick($event)">
    </app-grid>
  </div>
</div>
