<div class="flex vertical">

  <!-- Titlebar -->
  <div class="flex-item">
    <app-button type="back"></app-button>
    <h1>Добавление залогодателя</h1>
  </div>

  <!-- Forms -->
  <div class="flex-item grow" style="overflow-y: auto;">
    <div class="flex horizontal">

      <!-- Contract Form -->
      <div class="flex-item grow pr">
        <h2>Contract</h2>
        <app-metadata-form [config]="contractForm"></app-metadata-form>
        <app-button type="clear"></app-button>
      </div>

      <!-- Pledgor Form -->
      <div class="flex-item grow ph">
        <h2 appPopupOutlet="select-person">Pledgor</h2>
        <app-metadata-form [config]="pledgorForm"></app-metadata-form>
        <app-button type="clear"></app-button>
      </div>

      <!-- Property Form -->
      <div class="flex-item grow pl">
        <h2 appPopupOutlet="select-property">Property</h2>
        <app-metadata-form [config]="propertyForm"></app-metadata-form>
        <app-button type="clear"></app-button>
      </div>
    </div>
  </div>

  <!-- Additional Info -->
  <div class="flex-item grow">
    <app-tabview [fullHeight]="true">

      <!-- Identifications -->
      <app-tabview-tab title="Удостоверения личности">
        Удостоверения личности
      </app-tabview-tab>

      <!-- Employment -->
      <app-tabview-tab title="Трудоустройство">
        Трудоустройство
      </app-tabview-tab>

      <!-- Phones -->
      <app-tabview-tab title="Телефоны">
        <app-phone-grid
          [contactType]="1"
          [debtId]="1"
          [personId]="4"
          [personRole]="1"
        ></app-phone-grid>
      </app-tabview-tab>

      <!-- Addresses -->
      <app-tabview-tab title="Адреса">
        <app-address-grid
          [debtId]="1"
          [personId]="4"
          [personRole]="1"
        ></app-address-grid>
      </app-tabview-tab>

      <!-- Documents -->
      <app-tabview-tab title="Документы">
        <app-document-grid
          [entityType]="19"
          [entityId]="1"
        ></app-document-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>

  <!-- Toolbar -->
  <div class="flex-item">
    <app-button type="save"></app-button>
  </div>
</div>
