<div class="flex vertical">

  <!-- Titlebar -->
  <div class="flex-item">
    <app-button type="back"></app-button>
    <h1>Добавление залогодателя</h1>
  </div>

  <!-- Forms -->
  <div class="flex-item grow" style="overflow-y: auto;">
    <div class="flex horizontal">

      <!-- Contract Form -->
      <div class="flex-item grow pr">
        <h2>Contract</h2>
        <app-metadata-form [config]="contractForm"></app-metadata-form>
      </div>

      <!-- Pledgor Form -->
      <div class="flex-item grow ph">
        <h2>Pledgor</h2>
        <app-metadata-form [config]="pledgorForm"></app-metadata-form>
      </div>

      <!-- Property Form -->
      <div class="flex-item grow pl">
        <h2>Property</h2>
        <app-metadata-form [config]="propertyForm"></app-metadata-form>
      </div>
    </div>
  </div>

  <!-- Toolbar -->
  <div class="flex-item">
    <app-button type="save"></app-button>
  </div>
</div>
