<app-person-select-dialog
  *ngIf="isDialog('create')"
  (select)="onPersonCreated($event)"
  (close)="closeDialog()"
></app-person-select-dialog>

<app-person-select-dialog
  *ngIf="isDialog('edit')"
  [personId]="selectedPersonId"
  (select)="onPersonCreated($event)"
  (close)="closeDialog()"
></app-person-select-dialog>

<app-toolbar-2 class="bh bt" *ngIf="toolbarItems" [items]="toolbarItems"></app-toolbar-2>

<div class="b pb">
  <app-grid2
    *ngIf="columns$ | async"
    [columns]="columns$ | async"
    [persistenceKey]="'person-search-grid'"
    [rowIdKey]="rowIdKey"
    [rows]="rows"
    [rowCount]="rowCount"
    [styles]="{ height: '320px' }"
    [translateColumnLabels]="true"
    (onFilter)="onRequest()"
    (onPage)="onRequest()"
    (onPageSize)="onRequest()"
    (onSort)="onRequest()"
    (onSelect)="onSelect()"
    (onDblClick)="onEdit()"
  ></app-grid2>
</div>
