<app-dialog-action
  *ngIf="isDialog('removePledge')"
  actionMode="danger"
  actionTranslationKey="debtor.pledgorsTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.pledgorsTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()">
</app-dialog-action>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.pledgeContract"
  selectionType="single"
  [columns]="columns"
  [footerHeight]="false"
  [rows]="contracts"
  [styles]="{ height: '230px' }"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>
