<app-organization-edit
  *ngIf="isEntityBeingCreated"
  (submit)="onEditSubmit($event, true)"
  (cancel)="cancelAction()">
</app-organization-edit>

<app-organization-edit
  *ngIf="isEntityBeingEdited"
  [editedEntity]="editedEntity"
  (submit)="onEditSubmit($event, false)"
  (cancel)="cancelAction()">
</app-organization-edit>

<app-dialog-action
  *ngIf="isEntityBeingRemoved"
  [titleTranslationKey]="'organizations.organizations.remove.title'"
  [actionTranslationKey]="'organizations.organizations.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-tree
  #tree
  layout="horizontal"
  selectionMode="single"
  [value]="organizations$ | async"
  (changeNodesLocation)="onChangeNodesLocation($event)"
  (onNodeSelect)="onNodeSelect($event)"
  (onNodeEdit)="onNodeEdit($event)"
  (onNodeExpand)="onNodeExpand($event)"
  [(selection)]="selection">
</app-tree>
