<app-organization-edit
  *ngIf="isEntityBeingEdited"
  (submit)="onEditSubmit($event, true)"
  (cancel)="cancelAction()">
</app-organization-edit>

<!-- TODO: fix border styles -->
<app-toolbar
  class="toolbar-border"
  [actions]="toolbarActions"
  (actionClick)="onToolbarAction($event)">
</app-toolbar>

<app-tree
  #tree
  layout="horizontal"
  selectionMode="single"
  [value]="value"
  [dragulaOptions]="dragulaOptions"
  (changeLocation)="onNodeChangeLocation($event)"
  (onNodeSelect)="onNodeSelect($event)"
  (onNodeEdit)="onNodeEdit($event)"
  (onNodeExpand)="onNodeExpand($event)"
  [(selection)]="selection">
</app-tree>
