<app-organization-edit
  *ngIf="isDialog('create')"
  (submit)="createOrganization($event)"
  (cancel)="cancelAction()">
</app-organization-edit>

<app-organization-edit
  *ngIf="isDialog('edit')"
  [editedEntity]="selectedOrganization | async"
  (submit)="updateOrganization($event)"
  (cancel)="cancelAction()">
</app-organization-edit>

<app-dialog-action
  *ngIf="isDialog('remove')"
  [titleTranslationKey]="'organizations.organizations.remove.title'"
  [actionTranslationKey]="'organizations.organizations.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemove()"
  (cancel)="cancelAction()">
</app-dialog-action>

<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar [toolbar]="toolbar"></app-toolbar>
  </div>
  <div class="flex-item grow">
    <app-tree
      layout="horizontal"
      selectionMode="single"
      [style]="{ height: '100%' }"
      [dndEnabled]="true"
      [dblClickEnabled]="canEditOrganization | async"
      [collapseAdjacentNodes]="true"
      [expandNodeOnClick]="true"
      [value]="organizations | async"
      [selection]="selectedOrganization | async"
      (changeNodesLocation)="onChangeNodesLocation($event)"
      (onNodeSelect)="onNodeSelect($event)"
      (onNodeDblClick)="onNodeEdit($event)"
      (onNodeExpand)="onNodeSelect($event)">
    </app-tree>
  </div>
  <div class="flex-item">
    <span *ngIf="!(canViewOrganization | async)">
      {{ 'organizations.organizations.errors.view' | translate }}
    </span>
  </div>
</div>
