<label class="m0">
  <div *ngIf="label" class="form-label">
    {{ label | translate }}
    <b *ngIf="required" class="text-danger">*</b>
  </div>

  <span class="input-group">
    <input
      class="form-control"
      [disabled]="isDisabled"
      [type]="type"
      [ngModel]="value"
      (focusout)="onFocusOut()"
      (ngModelChange)="onChange($event)"
    />

    <span class="input-group-btn">
      <button [disabled]="isDisabled" class="btn btn-default" type="button" (click)="toggle()">
        <i [ngClass]="iconClass"></i>
      </button>
    </span>
  </span>
</label>
