<div class="content-heading">
    Reorderable & Resizable Columns, Export to CSV
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <div class="pull-right text-muted">
        <em class="fa fa-user mr-sm"></em>
        <strong>{{value?.length}}</strong> users
      </div>
      <h4>Users</h4>
  </div>

  <div class="panel-body">
    <p-dataTable
      #dt
      [value]="value"
      scrollHeight="589px"
      [rows]="20"
      [totalRecords]="totalRecords"
      selectionMode="multiple"
      [(selection)]="selected"
      dataKey="id"
      reorderableColumns="true"
      resizableColumns="true">
      <p-header>
        <div class="ui-helper-clearfix" style="text-align:left">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
      </p-header>

      <p-column *ngFor="let column of columns" [field]="column.field" [header]="column.header" [style]="column.style"></p-column>

    </p-dataTable>
  </div>

</div><!--panel-->
<!-- virtualScroll="virtualScroll" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" -->
