<app-dialog-action
  *ngIf="isDialog('removeContact')"
  actionMode="danger"
  actionTranslationKey="debtor.contactsTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  [messageParams]="selectedContact"
  titleTranslationKey="debtor.contactsTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
>
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/debtor-card/contacts"
  [columns]="columns"
  [rows]="contacts"
  [toolbar]="toolbarItems"
  (select)="onSelect($event)"
  (dblClick)="onDoubleClick($event)"
></app-simple-grid>
