<div class="group-item" [ngStyle]="{ flex: item.width }" *ngFor="let item of items">

  <!-- Form Controls -->
  <ng-container *ngIf="editable" [formGroup]="formGroup">
    <ng-container [ngSwitch]="item.type">

      <!-- Group -->
      <app-metadata-form-group
        *ngSwitchCase="'group'"
        [editable]="editable"
        [formGroup]="formGroup"
        [items]="item.children"
      ></app-metadata-form-group>

      <!-- Checkbox -->
      <app-checkbox
        *ngSwitchCase="'checkbox'"
        [formControlName]="item.name"
        [label]="item.label"
      ></app-checkbox>

      <!-- Text -->
      <app-text
        *ngSwitchCase="'text'"
        [formControlName]="item.name"
        [label]="item.label"
        [required]="false"
      ></app-text>

      <!-- Password -->
      <app-password-input
        *ngSwitchCase="'password'"
        [formControlName]="item.name"
        [label]="item.label"
        [required]="false"
      ></app-password-input>

      <!-- Errors -->
      <div class="errors">
        <span *ngIf="item.type !== 'group'">
          {{ getErrorMessage(item).message | translate:getErrorMessage(item).data }}
        </span>
      </div>
    </ng-container>
  </ng-container>

  <!-- Plain controls -->
  <ng-container *ngIf="!editable">
    <label class="m0">
      <div *ngIf="label" class="form-label">
        {{ label }}
      </div>
      <div>
        {{ item.name }}
      </div>
    </label>
  </ng-container>
</div>
