<span *ngIf="label" class="group-label">
  {{ label }}
</span>

<ng-container [ngSwitch]="groupType">

  <!-- Plain Group -->
  <ng-container *ngSwitchCase="'plain'">
    <div class="group-items">
      <ng-container *ngFor="let item of items">
        <div *ngIf="isDisplayed(item) | async" [ngStyle]="getItemStyle(item.width)" class="group-item">
          <app-metadata-form-item
            [editable]="editable"
            [formGroup]="formGroup"
            [item]="item"
          ></app-metadata-form-item>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Tabbed Group -->
  <ng-container *ngSwitchCase="'tabs'">
    <app-tabview>
      <app-tabview-tab *ngFor="let item of items" [title]="item.label">
        <div *ngIf="isDisplayed(item) | async" [ngStyle]="getItemStyle(item.width)" class="group-item">
          <app-metadata-form-item
            [editable]="editable"
            [formGroup]="formGroup"
            [item]="item"
          ></app-metadata-form-item>
        </div>
      </app-tabview-tab>
    </app-tabview>
  </ng-container>
</ng-container>
