<div class="flex vertical">

  <div class="flex-item">
    <app-titlebar [titlebar]="titlebar$ | async"></app-titlebar>
  </div>

  <div class="flex-item grow mb">
    <app-phone-grid
      [contactType]="contactType"
      [debtId]="debtId"
      [personId]="personId"
      [personRole]="personRole"
      (add)="onPhoneAdd()"
      (edit)="onPhoneEdit($event)"
      (register)="onPhoneRegister($event)"
      (onSelect)="onSelect($event)"
    ></app-phone-grid>
  </div>

  <div class="flex-item">

    <app-button
      label="routes.workplaces.incomingCall.debtor.toolbar.registerContact"
      [disabled]="contactButtonDisabled"
      (click)="onRegisterContact()"
    ></app-button>

    &nbsp;

    <app-button
      label="routes.workplaces.incomingCall.debtor.toolbar.registerUnidentifiedPhone"
      [disabled]="unidentifiedContactButtonDisabled$ | async"
      (click)="onRegisterUnidentifiedContact()"
    ></app-button>

    &nbsp;

    <app-button
      label="routes.workplaces.incomingCall.debtor.toolbar.registerOfficeVisit"
      [disabled]="officeVisitButtonDisabled$ | async"
      (click)="onRegisterOfficeVisit()"
    ></app-button>
  </div>
</div>
