<div class="flex vertical">

  <!-- Titlebar -->
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
  </div>

  <!-- Form -->
  <div class="flex-item grow" style="overflow-y: auto;">
    <h2 appPopupOutlet="select-person" [disabled]="edit$ | async">
      {{ 'routes.workplaces.debtorCard.contactPerson.card.forms.contactPerson.title' | translate }}
    </h2>
    <app-metadata-form #contactPersonForm [config]="contactPersonFormConfig" [data]="contactPerson$ | async" [disabled]="isContactPersonFormDisabled$ | async"></app-metadata-form>
    <app-button *ngIf="!(edit$ | async)" type="clear" (click)="onContactPersonFormClear()"></app-button>
  </div>

  <!-- Additional Info -->
  <div *ngIf="edit$ | async" class="flex-item grow">
    <app-tabview [fullHeight]="true">

      <!-- Identifications -->
      <app-tabview-tab title="Удостоверения личности">
        <app-identity-grid
          [personId]="contactId"
        ></app-identity-grid>
      </app-tabview-tab>

      <!-- Employment -->
      <app-tabview-tab title="Трудоустройство">
        <app-employment-grid
          [personId]="contactId"
        ></app-employment-grid>
      </app-tabview-tab>

      <!-- Phones -->
      <app-tabview-tab title="Телефоны">
        <app-phone-grid
          [contactType]="1"
          [debtId]="debtId"
          [personId]="contactId"
          [personRole]="4"
        ></app-phone-grid>
      </app-tabview-tab>

      <!-- Addresses -->
      <app-tabview-tab title="Адреса">
        <app-address-grid
          [debtId]="debtId"
          [personId]="contactId"
          [personRole]="4"
        ></app-address-grid>
      </app-tabview-tab>

      <!-- Documents -->
      <app-tabview-tab title="Документы">
        <app-document-grid
          [entityType]="19"
          [entityId]="debtId"
        ></app-document-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>

  <!-- Toolbar -->
  <div class="flex-item">
    <app-button type="save" (click)="onSave()"></app-button>
  </div>
</div>
