<div class="pb-lg">
  <app-dynamic-form
    #periodType
    *ngIf="periodTypeControls"
    [config]="periodTypeConfig"
    [controls]="periodTypeControls"
    [data]="period"
  ></app-dynamic-form>
</div>

<ng-container *ngFor="let controls of periodFromControls; let i = index; let last = last;">
  <div class="pb-lg" *ngIf="selectedPeriodTypeCode === i + 1">
    <app-dynamic-form
      #period
      *ngIf="!last"
      [config]="periodConfig[i]"
      [controls]="controls"
      [data]="selectedPeriod"
    ></app-dynamic-form>

    <div *ngIf="last" class="date-control">
      <div class="panel m0 p-sm bt bl br">
        <div class="col-xs-4 p0">
          <app-dynamic-form
            #period
            [controls]="controls"
            [data]="selectedPeriod"
          ></app-dynamic-form>
        </div>
        <div class="p0">
          <app-button type="add" [label]="false" (click)="onDateAdd()"></app-button> 
          <app-button type="delete" [label]="false" (click)="onDateDelete()"></app-button>           
        </div>
      </div>
      <app-grid
        #datesGrid
        selectionType="single"
        [styles]="{height: '120px'}"
        [footerHeight]="false"
        [columns]="periodGridControls"
        [rows]="selectedDates"
      ></app-grid>
    </div>
  </div>
</ng-container>
