@import "../../../styles/app/variables.scss";

.datepicker {
  > .input-group {
    width: 100%;
  }
}

.datepicker-dd-wrapper {
  position: relative;

  .dropdown {
    position: absolute;
    z-index: $zindex-app-datepicker;
    box-shadow: 0 1px 1px lightgrey;
  }
}
