<app-contact-property-tree-edit
  *ngIf="isDialog('add')"
  [contactType]="contactType"
  [treeType]="treeType"
  [selectedId]="selectedNodeId$ | async"
  [isEditing]="false"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-contact-property-tree-edit>

<app-contact-property-tree-edit
  *ngIf="isDialog('edit')"
  [contactType]="contactType"
  [treeType]="treeType"
  [selectedId]="selectedNodeId$ | async"
  [isEditing]="true"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-contact-property-tree-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.contactProperty.dialogs.delete.title"
  actionTranslationKey="widgets.contactProperty.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedNode$ | async"
  (action)="onDeleteDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="row">
  <div class="col-md-6">
    <label>
      <span>{{ 'widgets.contactProperty.contactType' | translate }}</span>
      <app-select
        [ngModel]="contactType"
        [options]="contactTypeOptions"
        (select)="onContactTypeChange($event)">
      </app-select>
    </label>
  </div>
  <div class="col-md-6">
    <label>
      <span>{{ 'widgets.contactProperty.treeType' | translate }}</span>
      <app-select
        [ngModel]="treeType"
        [options]="treeTypeOptions"
        (select)="onTreeTypeChange($event)">
      </app-select>
    </label>
  </div>
</div>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-tree
  layout="horizontal"
  selectionMode="single"
  [canPaste]="hasCopiedNode$ | async"
  [contextMenuEnabled]="canCopy$ | async"
  [dndEnabled]="true"
  [dblClickEnabled]="true"
  [collapseAdjacentNodes]="true"
  [expandNodeOnClick]="true"
  [value]="nodes"
  [selection]="selectedNode$ | async"
  (nodeMove)="onNodeMove($event)"
  (copy)="onNodeCopy($event)"
  (paste)="onNodePaste($event)"
  (onNodeSelect)="onNodeSelect($event)"
  (onNodeDblClick)="onNodeDoubleClick($event)"
  (onNodeExpand)="onNodeSelect($event)">
</app-tree>
