<app-dialog [display]="constant" (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>{{ 'constants.form.title' | translate }}: {{ constant.id }}</h3>
  </div>

  <app-dynamic-form [controls]="controls" [data]="data"></app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-primary" [disabled]="!form.canSubmit" (click)="onActionClick()">
      {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancelClick()">
      {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
