<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'constants.edit.title' | translate }}: {{ constant.id }}</h3>
  </div>

  <app-dynamic-form
    *ngIf="controls"
    [config]="config"
    [controls]="controls"
    [data]="data"
  ></app-dynamic-form>

  <div dialog-footer>
    <app-button color="primary" icon="check" type="save" (click)="onSubmit()" [disabled]="!canSubmit()"></app-button>
    <app-button icon="remove" type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
