<div *ngIf="attributes && attributes.length > 0" class="mb">
  <p-treeTable selectionMode="none" [value]="attributes">
    <p-column field="code" [header]="'modules.contactRegistration.attributes.grid.code' | translate"></p-column>
    <p-column field="name" [header]="'modules.contactRegistration.attributes.grid.name' | translate"></p-column>
    <p-column field="value" [header]="'modules.contactRegistration.attributes.grid.value' | translate">
      <ng-template let-node="rowData" pTemplate="body">
        <app-value-input [(ngModel)]="node.data"></app-value-input>
      </ng-template>
    </p-column>
    <p-column field="mandatory" [header]="'modules.contactRegistration.attributes.grid.mandatory' | translate">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="checkbox" [ngModel]="node.data.mandatory" [disabled]="true">
      </ng-template>
    </p-column>
  </p-treeTable>
</div>

<app-button type="next" (click)="onNextClick()"></app-button>
