@import '../../../../shared/styles/app/variables.scss';

.titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  border-bottom: 1px solid $form-toolbar-border-color;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 7px;
  user-select: none;
}

.titlebar-section {
  order: 0;
  flex: 1 0 0px;
  align-self: auto;
  // The middle part should shrink
  .middle & {
    flex: 1 1 0px;
  }
  // The toolbar with buttons
  .right & {
    flex: 1 0 0px;
  }

  color: $form-toolbar-title-color;
  height: 30px;
  line-height: 30px;

  .form-title {
    font-size: 20px;
    font-weight: 500;
  }

  .icon-section {
    text-align: right;
    color: $form-toolbar-icon-color;
  }
}

.icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 3px;
  border: 0;
  background-color: $form-toolbar-icon-bg-color;
  transition: all 150ms ease-in-out;

  &:not(:disabled):hover {
    box-shadow: 0 0 10px 0px rgba(0,0,0, 0.1);
    cursor: pointer;
  }
  &:disabled {
    color: $form-toolbar-icon-disabled-color;
  }

  .fa {
    font-size: 18px;
  }
}


$button-size: 32px;
$checkbox-size: 15px;

// .titlebar {
//   width: 100%;
//   padding: 8px;
//   background-color: #fff;
//   user-select: none;
// }

// .titlebar-item {
//   display: inline-block;
//   &:not(:last-child) {
//     margin-right: 8px;
//   }
//   &.align-right {
//     float: right;
//     margin-right: 0;
//     padding-left: 8px;
//   }
// }


.checkbox {
  display: inline-block;
  label {
    padding-left: $checkbox-size;
  }
  input[type="checkbox"] {
    margin-left: -$checkbox-size;
  }
}
