<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.operator.dialog.title' | translate }}</h3>
  </div>

  <div class="grid-wrapper">
    <app-debt-responsible-set-grid></app-debt-responsible-set-grid>
  </div>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!hasSelection" (click)="onSelect()">
      <i class="fa fa-check"></i> {{ 'default.buttons.select' | translate }}
    </button>
    <button class="btn btn-default" (click)="onClose()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
