<div class="grid grid-default">
  <div class="grid-body">
    <ngx-datatable
      class="material"
      [ngStyle]="styles"
      [cssClasses]="cssClasses"
      [columns]="columnDefs"
      [columnMode]="'force'"
      [footerHeight]="footerHeight"
      [rowClass]="rowClass"
      [rowHeight]="25"
      [rows]="filteredRows"
      [limit]="25"
      [messages]="messages"
      [selected]="selected"
      [selectionType]="selectionType"
      [scrollbarV]="true"
      [scrollbarH]="false"
      (activate)="onActivate($event)"
      (select)="onSelectRow($event)"
      (tableContextmenu)="onTableContextMenu($event)"
    >
    </ngx-datatable>
  </div>
</div>

<div
  *ngIf="ctxShowMenu"
  class="ngx-datatable-context-menu-wrapper"
  [ngStyle]="ctxStyles"
  tabindex="-1"
>
  <ul class="ngx-datatable-context-menu">
    <li *ngIf="contextFieldName" (click)="onCtxMenuClick($event, contextFieldName)">
      {{ 'default.grid.localeText.copyField' | translate: ctxFieldNameTranslation }}
    </li>
    <li (click)="onCtxMenuClick($event)">{{ 'default.grid.localeText.copyRow' | translate }}</li>
  </ul>
</div>
