<div class="panel panel-default">
  <div class="panel-body">
    <app-toolbar
      *ngIf="bottomActions"
      class="app-toolbar"
      [actions]="bottomActions"
      (actionClick)="onActionClick($event)"
    >
    </app-toolbar>
    <ngx-datatable
      class="material"
      [ngStyle]="styles"
      [cssClasses]="cssClasses"
      [columns]="columns"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="25"
      [rows]="filteredRows"
      [limit]="25"
      [messages]="messages"
      [selected]="selected"
      [selectionType]="selectionType"
      [scrollbarV]="true"
      [scrollbarH]="false"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      (page)="onPage($event)"
    >
    </ngx-datatable>
  </div>
</div>
