.ngx-datatable {
  height: 400px;
}

.ngx-datatable {
  .col-visibility-selector {
    width: 17px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ececec;
    border-bottom: 1px solid lightgrey;
  }

  &.material {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d6d6d6;
  }
}

:host /deep/ .panel {
  margin-bottom: 0;
}

:host.flat /deep/ .panel-default {
  border-color: transparent;
  & .panel-body {
    padding: 0;
  }
}
