<div class="grid grid-default">
  <div class="grid-body">
    <ngx-datatable
      class="material"
      [ngStyle]="styles"
      [cssClasses]="cssClasses"
      [columns]="columnDefs"
      [columnMode]="'force'"
      [footerHeight]="footerHeight"
      [rowClass]="rowClass"
      [rowHeight]="25"
      [rows]="filteredRows"
      [limit]="25"
      [messages]="messages"
      [selected]="selected"
      [selectionType]="selectionType"
      [scrollbarV]="true"
      [scrollbarH]="false"
      (activate)="onActivate($event)"
      (select)="onSelectRow($event)"
      (tableContextmenu)="onTableContextMenu($event)"
    ></ngx-datatable>
  </div>
  <app-context-menu
    *ngIf="ctxShowMenu"
    [styles]="ctxStyles"
    [options]="contextMenuOptions"
    [tableRow]="ctxRow"
    [columns]="columns"
    [fieldNameTranslation]="ctxFieldNameTranslation"
    (action)="onAction($event)"
  ></app-context-menu>
</div>

