<app-dialog *ngIf="isDialog('on')" [styles]="{ width: '80%' }" (close)="onCloseDialog()">
  <div dialog-header>
    <h3>{{ title | translate }}</h3>
  </div>

  <div class="grids-container">
    <div class="grid-container">
      <app-simple-grid
        #gridFrom
        styles="height: 50vh"
        [columns]="columnsFrom"
        [rows]="rowsFrom"
        (dblClick)="onFromDoubleClick($event)"
      ></app-simple-grid>
    </div>
    <div class="buttons-container">
      <button class="btn btn-block btn-default" (click)="onSelect()" [disabled]="isSelectIconDisabled">
        <i class="fa fa-angle-right"></i>
      </button>
      <button class="btn btn-block btn-default" (click)="onSelectAll()" [disabled]="isSelectAllIconDisabled">
        <i class="fa fa-angle-double-right"></i>
      </button>
      <button class="btn btn-block btn-default" (click)="onUnselect()" [disabled]="isUnselectIconDisabled">
        <i class="fa fa-angle-left"></i>
      </button>
      <button class="btn btn-block btn-default" (click)="onUnselectAll()" [disabled]="isUnselectAllIconDisabled">
        <i class="fa fa-angle-double-left"></i>
      </button>
    </div>
    <div class="grid-container">
      <app-simple-grid
        #gridTo
        styles="height: 50vh"
        [columns]="columnsTo"
        [rows]="rowsTo"
        (dblClick)="onToDoubleClick($event)"
      ></app-simple-grid>
    </div>
  </div>

  <div dialog-footer>
    <app-button type="ok" (click)="onSubmit()"></app-button>
    <app-button type="cancel" (click)="onCloseDialog()"></app-button>
  </div>
</app-dialog>

<span class="input-group">
  <span class="form-control" (click)="onShowDialog()">
    <ng-container [ngSwitch]="selectionLength">
      <ng-container *ngSwitchCase="0"></ng-container>
      <ng-container *ngSwitchCase="1">{{ displayValue }}</ng-container>
      <ng-container *ngSwitchDefault>{{ 'default.select.selected' | translate }}: {{ selectionLength }}</ng-container>
    </ng-container>
  </span>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" [disabled]="isDisabled" (click)="onShowDialog()">
      <i class="fa fa-ellipsis-h"></i>
    </button>
  </span>
</span>
