.grids-container {
  display: flex;

  .buttons-container {
    display: flex;
    flex-grow: 0;
    flex-basis: 36px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .grid-container {
    flex-grow: 1;
    flex-basis: 0;
    height: 50vh;
  }
}
