<app-dict-edit *ngIf="isEntityBeingCreated"
               (submit)="onEditSubmit($event)"
               (cancel)="onEditCancel()"></app-dict-edit>

<app-dict-edit *ngIf="isEntityBeingEdited"
               [editedEntity]="selectedEntity"
               (submit)="onEditSubmit($event)"
               (cancel)="onEditCancel()"></app-dict-edit>

<app-grid
  selectionType="single"
  [styles]="{height: '200px'}"
  [columns]="columns"
  [dataSource]="dataSource"
  [parseFn]="parseFn"
  [editPermission]="'DICT_EDIT'"
  (onRowSelect)="onSelectedRowChange($event)"
  (onEdit)="onEdit($event)"
  [bottomActions]="bottomActions"
  (onAction)="onAction($event)">
</app-grid>
