<app-dict-edit
  *ngIf="isEntityBeingCreated"
  [mode]="'create'"
  [title]="'dictionaries.create.title'"
  [languages]="languages"
  [dictionaries]="rows"
  [dictionaryTermTypes]="dictionaryTermTypes"
  (submit)="onCreateEntity($event)"
  (cancel)="cancelAction()">
</app-dict-edit>

<app-dict-edit
  *ngIf="isEntityBeingEdited"
  [mode]="'update'"
  [title]="'dictionaries.edit.title'"
  [editedEntity]="selectedEntity"
  [languages]="languages"
  [dictionaries]="rows"
  [dictionaryTermTypes]="dictionaryTermTypes"
  (submit)="onUpdateEntity($event)"
  (cancel)="cancelAction()">
</app-dict-edit>

<app-dialog-action
  *ngIf="isEntityBeingRemoved"
  [titleTranslationKey]="'dictionaries.remove.title'"
  [actionTranslationKey]="'dictionaries.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [messageParams]="selectedEntity"
  [actionMode]="'danger'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-restricted-view
  message="dictionaries.errors.view"
  [canView]="hasViewPermission$"
>
  <app-toolbar-2
    [items]="toolbarItems">
  </app-toolbar-2>

  <app-grid
    selectionType="single"
    [autoLoad]="false"
    [styles]="{height: '200px'}"
    [columns]="columns"
    [columnTranslationKey]="'dictionaries'"
    [editPermission]="'DICT_EDIT'"
    [rows]="rows"
    (onDblClick)="onEdit()"
    (onSelect)="onSelect($event)">
  </app-grid>
</app-restricted-view>
