<div class="row">
  <div class="col-md-5">
    <div class="grid-wrapper">
      <app-simple-grid
        persistenceKey="[grid] admin/users/edit/ldap/groups"
        selectionType="single"
        [columns]="groupsColumns"
        [rows]="groups$ | async"
        (selectRow)="onGroupSelect($event)">
      </app-simple-grid>
    </div>
  </div>
  <div class="col-md-7">
    <div class="grid-wrapper">
      <app-simple-grid
        persistenceKey="[grid] admin/users/edit/ldap/users"
        selectionType="single"
        [columns]="usersColumns"
        [rows]="users$ | async"
        (onDblClick)="onSubmit($event)"
        (selectRow)="onUserSelect($event)">
      </app-simple-grid>
    </div>
  </div>
</div>
