<app-employee-add
  *ngIf="isDialog('create')"
  (submit)="onAddSubmit($event)"
  (cancel)="cancelAction()">
</app-employee-add>

<app-employee-edit
  *ngIf="isDialog('edit')"
  [editedEntity]="editedEntity"
  (submit)="onEditSubmit($event)"
  (cancel)="cancelAction()">
</app-employee-edit>

<app-dialog-action
  *ngIf="isDialog('remove')"
  [titleTranslationKey]="'organizations.employees.remove.title'"
  [actionTranslationKey]="'organizations.employees.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] admin/organizations/employees"
  [columns]="columns"
  [toolbar]="toolbar"
  [rows]="employees$ | async"
  (dblClick)="onEdit($event)"
  (selectRow)="onSelect($event)"
></app-simple-grid>
