<app-employee-edit
  *ngIf="isEntityBeingCreated"
  (submit)="onEditSubmit($event, true)"
  (cancel)="cancelAction()">
</app-employee-edit>

<app-employee-edit
  *ngIf="isEntityBeingEdited"
  [editedEntity]="selectedEntity"
  (submit)="onEditSubmit($event, false)"
  (cancel)="cancelAction()">
</app-employee-edit>

<app-submitted-popup *ngIf="isEntityBeingRemoved"
                     [titleTranslationKey]="'organizations.employees.remove.title'"
                     [actionTranslationKey]="'organizations.employees.remove.confirmMessage'"
                     [submitMessage]="'default.buttons.remove'"
                     (action)="onRemoveSubmit()"
                     (cancel)="cancelAction()"></app-submitted-popup>

<app-grid
  selectionType="single"
  [columns]="columns"
  [columnTranslationKey]="'organizations'"
  [dataSource]="dataSource"
  [autoLoad]="false"
  [parseFn]="parseFn"
  [editPermission]="'ORGANIZATION_EDIT'"
  (onRowSelect)="onSelectedRowChange($event)"
  (onEdit)="onEdit()"
  [bottomActions]="bottomActions"
  (onAction)="onAction($event)">
</app-grid>
