<app-schedule-event-dialog
  *ngIf="isDialog('schedule')"
  [eventId]="eventId"
  (close)="closeDialog('schedule')"
></app-schedule-event-dialog>

<app-schedule-log-view-dialog
  *ngIf="isDialog('scheduleLogView')"
  [eventId]="eventId"
  (close)="closeDialog('scheduleLogView')"
></app-schedule-log-view-dialog>

<button class="btn btn-default" (click)="openViewLogDialog()" *ngIf="canViewLog$ | async" [disabled]="!eventId">
  <i class="icon-info"></i> {{ 'utilities.schedule.buttons.history' | translate }}
</button>

<app-schedule-event-grid
  (edit)="onEdit($event)"
  (select)="onSelect($event)"
></app-schedule-event-grid>
