<header>
  <span class="arrow" (click)="showPrevMonth()">
    <i class="fa fa-angle-left"></i>
  </span>
  <span>
    {{ page | moment:'MMMM' | capitalize }} {{ page | moment:'YYYY' }}
  </span>
  <span class="arrow" (click)="showNextMonth()">
    <i class="fa fa-angle-right"></i>
  </span>
</header>

<ul class="header">
  <li *ngFor="let date of range | slice:0:7">
    {{ date | moment:'ddd' | capitalize }}
  </li>
</ul>

<ul>
  <li *ngFor="let date of range" [ngClass]="getClass(date)" (click)="onClick(date)">
    {{ date | moment:'D' }}
  </li>
</ul>
