<ul class="app-toolbar">
    <li *ngFor="let action of actions" class="app-control">
        <ng-container [ngSwitch]="action.control">
            <span *ngSwitchCase="ToolbarControlEnum.CHECKBOX" class="checkbox mt0 mb0">
                <label>
                    <!-- TODO: fix styles -->
                    <input type="checkbox" style="position: relative; top: 2px;" [checked]="action.value" (change)="onActionClick(action, $event)"> {{ action.text }}
                </label>
            </span>
            <button
                *ngSwitchDefault
                [disabled]="!action.visible || !isActionAccessible(action)"
                (click)="onActionClick(action, $event)"
                class="app-button fa fa-{{ toIconCls(action) }}"
                aria-hidden="true">
            </button>
        </ng-container>
    </li>
</ul>
