<div class="row">
  <div class="col-md-6 col-xs-12">
    <app-dynamic-form
      [controls]="controls"
      [data]="data">
    </app-dynamic-form>
  </div>
  <div class="col-md-6 col-xs-12 pv-lg">
    <app-identity-grid></app-identity-grid>
  </div>
</div>

<app-container [node]="node"></app-container>

<!-- -->
<!--
<app-tabstrip>
  <app-tab title="debtor.generalInformationTab.addressesTab.title" [closable]="false">
    <app-flat-container [node]="node"></app-flat-container>
  </app-tab>
  <app-tab title="debtor.generalInformationTab.phonesTab.title" [closable]="false">
    <app-phone-grid [rows]="phones"></app-phone-grid>
  </app-tab>
  <app-tab title="debtor.generalInformationTab.emailTab.title" [closable]="false">
  </app-tab>
</app-tabstrip>
-->
