<app-person-select-dialog
  *ngIf="isDialog('create')"
  (select)="onPersonCreated($event)"
  (close)="closeDialog()"
></app-person-select-dialog>

<app-person-select-dialog
  *ngIf="isDialog('edit')"
  [personId]="selectedPersonId"
  (select)="onPersonCreated($event)"
  (close)="closeDialog()"
></app-person-select-dialog>

<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar-2 *ngIf="toolbarItems" [items]="toolbarItems"></app-toolbar-2>
  </div>

  <div class="flex-item grow">
    <app-grid2
      *ngIf="columns$ | async"
      [columns]="columns$ | async"
      [persistenceKey]="'person-search-grid'"
      [rowIdKey]="rowIdKey"
      [rows]="rows"
      [rowCount]="rowCount"
      [fullHeight]="true"
      [translateColumnLabels]="true"
      (onFilter)="onRequest()"
      (onPage)="onRequest()"
      (onPageSize)="onRequest()"
      (onSort)="onRequest()"
      (onSelect)="onSelect()"
      (onDblClick)="onEdit()"
    ></app-grid2>
  </div>
</div>
