<!-- See https://github.com/primefaces/primeng/issues/276 -->
<p-dialog
    appendTo="body"
    [modal]="true"
    [resizable]="false"
    [responsive]="true"
    [(visible)]="isQueryBuilderDialogVisible"
    (onHide)="onQueryBuilderDialogHide()"
>
    <p-header [ngStyle]="{'user-select': 'none'}">
        Query Builder
    </p-header>
    <div style="width: 720px; height: 400px; overflow-y: auto;" [ngSwitch]="isQueryBuilderShown">
        <app-qbuilder *ngSwitchCase="true" [(group)]="group"></app-qbuilder>
        <pre *ngSwitchDefault>{{ toJson(group) }}</pre>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button class="btn btn-primary" (click)="toggleBetweenQueryBuilderAndResultingJson()">
                {{ isQueryBuilderShown ? 'Get Query' : 'Back to Query Builder' }}
            </button>
        </div>
    </p-footer>
</p-dialog>

<div class="content-heading">
    Query Builder
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Query Builder</h4>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" (click)="showQueryBuilderDialog()">Open Query Builder</button>
    </div>
</div>
