<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="portfolios.remove.title"
  actionTranslationKey="portfolios.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedPortfolio"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-portfolio-move
  *ngIf="isDialog('moveOutsource')"
  [contractor]="selectedContractor$ | async"
  [portfolio]="selectedPortfolio"
  (onSubmit)="onMoveSubmit($event)"
  (onCancel)="onCloseDialog()">
</app-portfolio-move>

<app-portfolio-send
  *ngIf="isDialog('sendOutsource')"
  [portfolio]="selectedPortfolio"
  (onSubmit)="onSendOutsourceSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<app-portfolio-send
  *ngIf="isDialog('sendCession')"
  [portfolio]="selectedPortfolio"
  (onSubmit)="onSendCessionSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<app-portfolio-send
  *ngIf="isDialog('returnOutsource')"
  [isReturn]="true"
  [portfolio]="selectedPortfolio"
  (onSubmit)="onReturnOutsourceSubmit($event)"
  (onCancel)="onCloseDialog()"
>
</app-portfolio-send>

<div class="flex vertical">
  <div class="flex-item">
    <app-titlebar [titlebar]="titlebar"></app-titlebar>
  </div>
  <div class="flex-item grow">
    <app-action-grid
      columnTranslationKey="portfolios"
      persistenceKey="[grid] admin/portfolios-and-contractors/portfolios"
      selectionType="single"
      [isSimple]="true"
      [columns]="columns"
      [rows]="portfolios"
      [actions]="actions"
      (action)="onAction($event)"
      (dblClick)="onEdit()"
      (select)="onSelect($event)">
    </app-action-grid>
  </div>
</div>
