<app-next-call-date-set
  *ngIf="isDialog('debtNextCallDate')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-next-call-date-set>

<app-open-debt-card-by-debtor
  *ngIf="isDialog('openDebtCardByDebtor')"
  [personId]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-open-debt-card-by-debtor>

<app-open-debt-card-by-debt
  *ngIf="isDialog('openDebtCard')"
  [debtId]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-open-debt-card-by-debt>

<app-debt-open-incoming-call
  *ngIf="isDialog('openIncomingCall')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-debt-open-incoming-call>

<app-visit-add-dialog
  *ngIf="isDialog('addVisit')"
  [visitParams]="getConfiguredParams('addVisit')"
  (close)="onCloseDialog()"
></app-visit-add-dialog>

<app-sms-delete-dialog
  *ngIf="isDialog('deleteSMS')"
  [smsId]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-sms-delete-dialog>

<app-payments-cancel-dialog
  *ngIf="isDialog('paymentsCancel')"
  [paymentsIds]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-payments-cancel-dialog>

<app-payments-confirm-dialog
  *ngIf="isDialog('paymentsConfirm')"
  [paymentsIds]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-payments-confirm-dialog>

<app-contact-log-dialog
  *ngIf="isDialog('showContactHistory')"
  [personId]="getDialogParam(0)"
  (close)="closeDialog()"
></app-contact-log-dialog>

<app-debt-status
  *ngIf="isDialog('debtChangeStatus')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-debt-status>

<app-debt-responsible-set
  *ngIf="isDialog('debtSetResponsible')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-debt-responsible-set>

<app-debt-responsible-clear
  *ngIf="isDialog('debtClearResponsible')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-debt-responsible-clear>

<app-entity-group-add
  *ngIf="isDialog('objectAddToGroup')"
  [debts]="getSelectionParam(0)"
  [entityTypeId]="getAddOption('entityTypeId', 0)"
  (close)="onCloseDialog()"
></app-entity-group-add>

<app-promise-confirm-dialog
  *ngIf="isDialog('confirmPromise')"
  [promises]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-promise-confirm-dialog>

<app-promise-remove-dialog
  *ngIf="isDialog('deletePromise')"
  [promises]="getSelectionParam(0)"
  (close)="onCloseDialog()"
></app-promise-remove-dialog>

<app-payment-operator-confirm-dialog
  *ngIf="isDialog('confirmPaymentsOperator')"
  [payments]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-payment-operator-confirm-dialog>

<app-payment-operator-reject-dialog
  *ngIf="isDialog('rejectPaymentsOperator')"
  [payments]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-payment-operator-reject-dialog>

<app-mass-attr-dictionary
  *ngIf="isAttrChangeDictionaryDlg()"
  [actionName]="dialog"
  [debts]="getSelectionParam(0)"
  [dictCode]="getAddOptions('dictCode')"
  (close)="onCloseAction($event)"
>
</app-mass-attr-dictionary>

<app-mass-attr-portfolio
  *ngIf="isDialog('changePortfolioAttr')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
>
</app-mass-attr-portfolio>

<app-mass-attr-timezone
  *ngIf="isDialog('changeTimezoneAttr')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-mass-attr-timezone>

<app-mass-email
  *ngIf="isDialog('emailCreate')"
  [debtIds]="getSelectionParam(0)"
  [personIds]="getSelectionParam(1)"
  [personRoles]="getAddOptions('personRole')"
  (close)="onCloseDialog()"
></app-mass-email>

<app-mass-sms
  *ngIf="isDialog('smsCreate')"
  [debtIds]="getSelectionParam(0)"
  [personIds]="getSelectionParam(1)"
  [personRoles]="getAddOptions('personRole')"
  (close)="onCloseDialog()"
></app-mass-sms>

<app-visit-prepare-dialog
  *ngIf="isDialog('prepareVisit')"
  [visits]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-visit-prepare-dialog>

<app-visit-cancel-dialog
  *ngIf="isDialog('cancelVisit')"
  [visits]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-visit-cancel-dialog>

<app-operator-details
  *ngIf="isDialog('openUserDetail')"
  [userId]="getDialogParam(0)"
  (close)="onCloseAction($event)"
></app-operator-details>

<app-outsourcing-send
  *ngIf="isDialog('debtOutsourcingSend')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-outsourcing-send>

<app-outsourcing-exclude
  *ngIf="isDialog('debtOutsourcingExclude')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-outsourcing-exclude>

<app-outsourcing-return
  *ngIf="isDialog('debtOutsourcingReturn')"
  [debts]="getSelectionParam(0)"
  (close)="onCloseAction($event)"
></app-outsourcing-return>

<app-titlebar
  *ngIf="gridActionsForAll$ | async"
  [titlebar]="gridActionsForAll$ | async"
></app-titlebar>

<app-action-grid-filter
  [metadataKey]="metadataKey"
  (filter)="onRequest()"
></app-action-grid-filter>

<ng-container
  *ngIf="isUsingAGGrid; else simpleGrid"
>
  <app-grid2
    #grid
    *ngIf="initialized"
    [actions]="gridActionsForSelected$ | async"
    [columnIds]="columnIds"
    [columns]="columnsDef"
    [fullHeight]="fullHeight"
    [ngClass]="ngClass"
    [persistenceKey]="persistenceKey"
    [rowCount]="rowCount"
    [rowIdKey]="rowIdKey"
    [rows]="rows"
    (action)="onAction($event)"
    (onDblClick)="onDblClick($event)"
    (onFilter)="onRequest()"
    (onPage)="onRequest()"
    (onPageSize)="onRequest()"
    (onSort)="onRequest()"
    (onSelect)="onSelect($event)"
  ></app-grid2>
</ng-container>

<ng-template #simpleGrid>
  <app-grid
    #grid
    [columns]="columns"
    [columnTranslationKey]="columnTranslationKey"
    [contextMenuOptions]="contextMenuOptions"
    [rows]="rows"
    [styles]="styles"
    (action)="onSimpleGridAction($event)"
    (onDblClick)="onDblClick($event)"
    (onSelect)="onSelect($event)"
  ></app-grid>
</ng-template>
