.grid-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.grid-details {
  flex-basis: 40%;
}
.grid-details-with-footer {
  padding-bottom: 39px;
}
.grid-has-details {
  flex-basis: 60%;
}
