<!-- TODO contact-log widget
  <app-contact-log-dialog
  *ngIf="isDialog('showContactHistory')"
  [personId]="getDialogParam('personId')"
  (close)="closeDialog()"
></app-contact-log-dialog> -->

<app-grid2
  [columnIds]="columnIds"
  [metadataKey]="metadataKey"
  [ngClass]="ngClass"
  [persistenceKey]="persistenceKey"
  [rows]="rows"
  [rowCount]="rowCount"
  (action)="onAction($event)"
  (onDblClick)="onDblClick($event)"
  (onFilter)="onRequest()"
  (onPage)="onRequest()"
  (onPageSize)="onRequest()"
  (onSort)="onRequest()"
></app-grid2>
