<ng-template #treeNodeLabelTemplate>
  <span class="app-treenode-label ui-corner-all">
    {{ node.label }}
  </span>
</ng-template>

<ng-template #treeNodeConnectorTemplate>
  <td
    class="ui-treenode-connector"
    *ngIf="!root && canShowConnector()"
  >
    <table class="ui-treenode-connector-table">
      <tbody>
      <tr>
        <td [ngClass]="{ 'ui-treenode-connector-line' : !firstChild}"></td>
      </tr>
      <tr>
        <td [ngClass]="{ 'ui-treenode-connector-line' : !lastChild}"></td>
      </tr>
      </tbody>
    </table>
  </td>
</ng-template>

<ng-template [ngIf]="node">
    <li class="ui-treenode {{node.styleClass}}" *ngIf="!tree.horizontal" [ngClass]="{'ui-treenode-leaf': isLeaf()}">
        <div
            class="app-treenode-content"
            (click)="delegateClick($event)"
            (dblclick)="delegateClick($event)"
            (contextmenu)="onContextMenu($event)"
            [ngClass]="{'ui-treenode-selectable':tree.selectionMode && node.selectable !== false}">
            <span
              class="app-tree-toggler fa fa-fw" [ngClass]="{'fa-caret-right':!node.expanded,'fa-caret-down':node.expanded}"
              (click)="toggle($event)"
              (dblclick)="toggleDbClick($event)">
            </span>
            <div class="ui-chkbox" *ngIf="tree.selectionMode == 'checkbox'">
              <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default">
                <span
                  class="ui-chkbox-icon ui-c fa"
                  [ngClass]="{'fa-check':isSelected(),'fa-minus':node.partialSelected}">
                </span>
              </div>
            </div>
                <span [class]="getIcon()" *ngIf="node.icon||node.expandedIcon||node.collapsedIcon"></span>
            <ng-container *ngTemplateOutlet="treeNodeLabelTemplate;"></ng-container>
        </div>
        <ul
          *ngIf="node.children && node.expanded"
          class="ui-treenode-children"
          style="display: none;"
          [style.display]="node.expanded ? 'block' : 'none'"
        >
          <app-tree-node
              *ngFor="let childNode of node.children; let firstChild=first; let lastChild=last; let index=index"
              [collapseAdjacentNodes]="collapseAdjacentNodes"
              [expandNodeOnClick]="expandNodeOnClick"
              [node]="childNode"
              [parentNode]="node"
              [firstChild]="firstChild"
              [lastChild]="lastChild"
              [index]="index"
          >
          </app-tree-node>
        </ul>
    </li>
  <table *ngIf="tree.horizontal">
    <tbody>
      <tr>
        <ng-container *ngTemplateOutlet="treeNodeConnectorTemplate"></ng-container>
        <td
          class="ui-treenode"
          [ngClass]="{'ui-treenode-collapsed': !node.expanded, 'ui-treenode-ending': !node.children, 'ui-treenode-root': !node.parent.parent}"
        >
          <div
            [attr.nodeid]="node.id"
            [dragula]='"tree-node"'
            [dragulaOptions]="dragulaOptions"
          >
            <div
              class="app-treenode-content ui-state-default ui-corner-all"
              [attr.nodeid]="node.id"
              [ngStyle]="{ 'background-color': getBgColor() }"
              [ngClass]="{ 'ui-treenode-selectable': tree.selectionMode, 'selected': isSelected() }"
              (click)="delegateClick($event)"
              (dblclick)="delegateClick($event)"
              (contextmenu)="onContextMenu($event)"
            >
              <span
                *ngIf="!isLeaf()"
                class="app-tree-toggler fa fa-caret-right"
                (click)="toggle($event)"
                (dblclick)="toggleDbClick($event)">
              </span>
              <span
                [class]="getIcon()"
                *ngIf="node.icon || node.expandedIcon || node.collapsedIcon">
              </span>
              <ng-container *ngTemplateOutlet="treeNodeLabelTemplate"></ng-container>
            </div>
          </div>
        </td>
        <td
          class="ui-treenode-children-container"
          *ngIf="node.children && node.expanded"
          [style.display]="node.expanded ? 'table-cell' : 'none'"
        >
          <div class="ui-treenode-children">
            <app-tree-node
              *ngFor="let childNode of node.children; let firstChild = first; let lastChild = last;"
              [collapseAdjacentNodes]="collapseAdjacentNodes"
              [expandNodeOnClick]="expandNodeOnClick"
              [node]="childNode"
              [firstChild]="firstChild"
              [lastChild]="lastChild">
            </app-tree-node>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
