<app-actions-log-filter
  #filter
  [employeesRows]="employeesRows"
  [actionTypesRows]="actionTypesRows"
  (export)="doExport()"
  (search)="doSearch()"
  (queryBuilderOpen)="openQueryBuilder()"
>
</app-actions-log-filter>

<app-dialog *ngIf="queryBuilderOpen$ | async" [styles]="{ width: '80%', 'max-width': '80%' }" (onClose)="closeQueryBuilder()">
  <div dialog-header>
    <!-- TODO(d.maltsev): i18n -->
    <h3>Query builder</h3>
  </div>
  <div>
    <app-qbuilder-2 [query]="query$ | async"></app-qbuilder-2>
  </div>
</app-dialog>

<app-downloader
  #downloader
  entityTranslationKey="entities.actionsLog.gen.plural"
  name="actions.xlsx"
  url="/list/excel?name=actions">
</app-downloader>

<app-grid2
  columnTranslationKey="actionsLog"
  [columns]="columnDefs | async"
  [ngClass]="'actions-log-grid'"
  [page]="actionsLogCurrentPage | async"
  [pageSize]="actionsLogCurrentPageSize | async"
  persistenceKey="actionsLog"
  [rows]="(actionsLogData | async).data"
  [rowCount]="(actionsLogData | async)?.total"
  [selected]="actionsLogSelected | async"
  (onPage)="onRequestData($event)"
  (onPageSize)="onRequestData($event)"
  (onSort)="onRequestData($event)"
  (onFilter)="onFilter($event)"
  (onSelect)="onSelect($event)"
>
</app-grid2>
