<app-actions-log-filter
  #filter
  [employeesRows]="employeesRows"
  [actionTypesRows]="actionTypesRows"
  (search)="doSearch()"
>
</app-actions-log-filter>

<app-grid2
  columnTranslationKey="actionsLog"
  [ngClass]="'actions-log-grid'"
  [rows]="(actionsLogData | async).data"
  [rowsTotalCount]="(actionsLogData | async).total"
  [columns]="columns"
  [pagination]="true"
  [currentPage]="actionsLogCurrentPage | async"
  [currentPageSize]="actionsLogCurrentPageSize | async"
  [currentFilterColumn]="actionsLogCurrentFilterColumn | async"
  [columnsSettings]="actionsLogColumnsSettings | async"
  [columnMovingInProgress]="actionsLogColumnMovingInProgress | async"
  (nextPage)="refreshData($event)"
  (previousPage)="refreshData($event)"
  (pageSize)="refreshData($event)"
  (sortingDirection)="refreshData($event)"
  (columnMoving)="onStoreDispatch($event)"
  (columnMoved)="refreshData($event)"
  (columnsPositions)="onStoreDispatch($event)"
  (closeFilter)="onStoreDispatch($event)"
  (openFilter)="onStoreDispatch($event)"
  (groupingColumns)="onStoreDispatch($event)"
>
</app-grid2>
