<app-actions-log-filter
  #filter
  [employeesRows]="employeesRows"
  [actionTypesRows]="actionTypesRows"
  (export)="doExport()"
  (search)="onRequest()"
  (queryBuilderOpen)="openQueryBuilder()"
>
</app-actions-log-filter>

<app-dialog *ngIf="queryBuilderOpen$ | async" [styles]="{ width: '80%', 'max-width': '80%' }" (onClose)="closeQueryBuilder()">
  <div dialog-header>
    <h3>{{ 'queryBuilder.title' | translate }}</h3>
  </div>
  <div>
    <app-qbuilder-2 [query]="query$ | async"></app-qbuilder-2>
  </div>
  <div dialog-footer>
    <button class="btn btn-default" (click)="closeQueryBuilder()">OK</button>
  </div>
</app-dialog>

<app-downloader
  #downloader
  entityTranslationKey="entities.actionsLog.gen.plural"
  name="actions.xlsx"
  url="/list/excel?name=actions">
</app-downloader>

<app-action-grid
  [metadataKey]="'actions'"
  [persistenceKey]="'actionsLog'"
  [rowIdKey]="rowIdKey"
  [ngClass]="'actions-log-grid'"
  [rows]="rows"
  [contextMenuOptions]="contextMenuOptions"
  [rowCount]="rowCount"
  (request)="onRequest()"
>
</app-action-grid>
