.splash-screen {
  background-color: #f3f3f3;
  height: 100%;
}

.splash-logo {
  height: 240px;
  left: 50%;
  margin-left: -160px;
  margin-top: -120px;
  position: fixed;
  top: 50%;
  width: 320px;
  z-index: 2;
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: fixed;
  vertical-align: middle;
  background: rgba(111, 194, 250, 0.2);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader::before {
  content: "";
  animation: emission 1.5s infinite;
}
.splash-loader::after {
  content: "";
  animation: emission 1.5s -0.4s infinite;
}

@keyframes emission {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0;
  }
}

@-webkit-keyframes emission {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0;
  }
}
