:host {
  ::ng-deep .date-control app-dynamic-form .form-label {
    display: none;
  }
  ::ng-deep .ag-header {
    display: none !important;
  }
  ::ng-deep .ag-body {
    top: 0 !important;
    height: 100% !important;
  }
  app-button[type='add'] {
    margin-left: 3px;
  }
}
