<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.attribute.dialogs.edit.title' | translate }}</h3>
  </div>

  <div>
    <app-dynamic-form
      *ngIf="controls"
      [config]="config"
      [controls]="controls"
      [data]="attribute"
    ></app-dynamic-form>
  </div>

  <div dialog-footer>
    <app-button color="primary" icon="check" type="save" (click)="onSubmit()" [disabled]="!canSubmit"></app-button>
    <app-button icon="close" type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
