<main class="p-lg">
  <h1>Выбор персоны</h1>

  <div class="mb-lg" style="height: 50vh;">
    <div class="flex horizontal" style="height: 100%;">
      <div class="flex-item pr-lg" style="width: 240px;">
        <app-pledge-card-select-person-filter></app-pledge-card-select-person-filter>
      </div>
      <div class="flex-item grow">
        <app-pledge-card-select-person-grid></app-pledge-card-select-person-grid>
      </div>
    </div>
  </div>
</main>

<footer class="p">
  <app-button type="close"></app-button>
  <app-button type="ok"></app-button>
</footer>
