<app-dialog-action
  *ngIf="isDialog('removeCurrency')"
  actionMode="danger"
  actionTranslationKey="utilities.currenciesTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="utilities.currenciesTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="flex vertical">
  <div class="flex-item">
    <app-titlebar [titlebar]="titlebar"></app-titlebar>
  </div>
  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] utilities/currencies"
      [columns]="columns"
      [selection]="selection"
      [rows]="currencies"
      [toolbar]="toolbarItems"
      (select)="onSelect($event)"
      (dblClick)="onEdit($event)"
    ></app-simple-grid>
  </div>
</div>
