<app-dialog-action
  *ngIf="isDialog('removeCurrency')"
  actionMode="danger"
  actionTranslationKey="utilities.currenciesTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="utilities.currenciesTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] utilities/currencies"
  [columns]="columns"
  [selection]="selection"
  [rows]="currencies"
  [toolbar]="toolbar"
  (selectRow)="onSelect($event)"
  (dblClick)="onEdit($event)"
></app-simple-grid>
