<app-dialog-action
  *ngIf="isDialog('removeCurrency')"
  actionMode="danger"
  actionTranslationKey="utilities.currenciesTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="utilities.currenciesTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.currencies"
  selectionType="single"
  [columns]="columns"
  [selection]="selection"
  [footerHeight]="false"
  [rows]="currencies"
  [styles]="{ height: '230px' }"
  (onSelect)="onSelect($event)"
  (onDblClick)="onEdit($event)"
></app-grid>
