<ng-container [ngSwitch]="value && value.typeCode">

  <!-- Number -->
  <input
    *ngSwitchCase="1"
    type="number"
    class="form-control"
    [ngModel]="value.valueN"
    (ngModelChange)="onNumberChange($event)"
  />

  <!-- Date -->
  <app-datepicker
    *ngSwitchCase="2"
    [ngModel]="date"
    (ngModelChange)="onDateChange($event)">
  </app-datepicker>

  <!-- String -->
  <input
    *ngSwitchCase="3"
    type="text"
    class="form-control"
    [ngModel]="value.valueS"
    (ngModelChange)="onStringChange($event)"
  />

  <!-- Boolean -->
  <app-select
    *ngSwitchCase="4"
    [dictCode]="2"
    [ngModel]="value.valueB"
    (ngModelChange)="onBooleanChange($event)">
  </app-select>

  <!-- Float -->
  <input
    *ngSwitchCase="5"
    type="number"
    class="form-control"
    [ngModel]="value.valueN"
    (ngModelChange)="onNumberChange($event)"
  />

  <!-- Dictionary -->
  <app-select
    *ngSwitchCase="6"
    [dictCode]="value.dictNameCode"
    [ngModel]="value.valueN"
    (ngModelChange)="onNumberChange($event)">
  </app-select>

  <!-- DateTime -->
  <app-datetimepicker
    *ngSwitchCase="7"
    [ngModel]="date"
    (ngModelChange)="onDateChange($event)">
  </app-datetimepicker>
</ng-container>
