@import '../../../../styles/app/variables';

fieldset {
  margin: 0;
  padding: 0;
}

.form-group {
  position: relative;
  margin-bottom: $form-group-bottom-margin;

  .error-messages {
    position: absolute;
    display: none;
    z-index: $zindex-app-validation;

    .alert-danger {
      margin: 0;
      padding: 6px 16px;
      list-style-type: none;
    }
  }

  &:hover > .error-messages {
    display: block;
  }
}

.form-column:last-child > .form-group {
  margin-bottom: 0;
}

.form-column .form-column:last-child > .form-group {
  margin-bottom: $form-group-bottom-margin;
}

.title {
  &.collapsible {
    cursor: pointer;
    background-color: $form-accordion-title;
    padding: 8px;
  }

  .collapse-button {
    display: inline-block;
    margin-left: 4px;
    transform: translateY(1px) rotate(0deg);
    transition: transform 0.1s ease;
    &.collapsed {
      transform: translateY(0) rotate(-90deg);
    }
  }
}
