@import '../../../../styles/app/variables';

fieldset {
  margin: 0;
  padding: 0;
}

.form-group {
  position: relative;
  margin-bottom: $form-group-bottom-margin;

  .error-messages {
    color: $brand-danger;
    display: block;
    font-size: 10px;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: $zindex-app-validation;
  }
}

.form-column:last-child > .form-group {
  margin-bottom: 0;
}

.form-column .form-column:last-child > .form-group {
  margin-bottom: $form-group-bottom-margin;
}

.title {
  &.collapsible {
    cursor: pointer;
    background-color: $form-accordion-title;
    padding: 8px;
  }

  .collapse-button {
    display: inline-block;
    margin-left: 4px;
    transform: translateY(1px) rotate(0deg);
    transition: transform 0.1s ease;
    &.collapsed {
      transform: translateY(0) rotate(-90deg);
    }
  }
}
