<div class="row" [formGroup]="form">
    <ng-container *ngFor="let control of items" >

      <div [ngClass]="'form-column col-xs-' + (control.width || 12)">

        <div *ngIf="!control.children" [ngClass]="{'form-group': control.type !== 'hidden', 'has-error': displayControlErrors(control)}">

          <app-dynamic-form-field
            [control]="control"
            [form]="form"
            (selectedControlItemsChanges)="onSelectedControlItemsChanges($event)"
          >
          </app-dynamic-form-field>

          <div *ngIf="displayControlErrors(control)" class="error-messages">
            <ul class="alert alert-danger">
              <li *ngFor="let error of getControlErrors(control)">
                {{ error.message | translate:error.data }}
              </li>
            </ul>
          </div>
        </div> <!-- ngIf:control.children -->

        <ng-container *ngIf="control.children">
          <app-dynamic-form-group
            [form]="form"
            [items]="control.children"
            [collapsible]="control.collapsible"
            [width]="control.width"
            (selectedControlItemsChanges)="onSelectedControlItemsChanges2($event)">
          </app-dynamic-form-group>
        </ng-container>

      </div>

    </ng-container> <!-- ngFor:controls -->
</div>
