<fieldset [formGroup]="form">
  <h4 *ngIf="title" class="title" (click)="toggle()">
    {{ title | translate }}
    <span *ngIf="collapsible" [ngClass]="{'collapse-button': true, collapsed: isCollapsed}">
      <i class="fa fa-angle-down"></i>
    </span>
  </h4>
  <div class="row" id="collapseExample" *ngIf="!isCollapsed">
    <ng-container *ngFor="let control of items" >
      <div [ngClass]="'form-column col-xs-' + (control.width || 12)">
        <div *ngIf="!control.children" [ngClass]="{'form-group': control.type !== 'hidden', 'has-error': displayControlErrors(control)}">
          <app-dynamic-form-field
            [control]="control"
            [form]="form"
            (selectedControlItemsChanges)="onSelectedControlItemsChanges($event)"
          >
          </app-dynamic-form-field>

          <div *ngIf="displayControlErrors(control)" class="error-messages">
            <ul class="alert alert-danger">
              <li *ngFor="let error of getControlErrors(control)">
                {{ error.message | translate:error.data }}
              </li>
            </ul>
          </div>
        </div>

        <ng-container *ngIf="control.children">
          <app-dynamic-form-group
            [form]="form"
            [items]="control.children"
            [collapsible]="control.collapsible"
            [title]="control.title"
            [width]="control.width"
            (selectedControlItemsChanges)="onSelectedControlItemsChanges($event)">
          </app-dynamic-form-group>
        </ng-container>
      </div>
    </ng-container>
  </div>
</fieldset>
