<fieldset [formGroup]="form">
  <h4 *ngIf="title" [ngClass]="{title: true, collapsible: collapsible}" (click)="toggle()">
    {{ title | translate }}
    <span *ngIf="collapsible" [ngClass]="{'collapse-button': true, collapsed: isCollapsed}">
      <i class="fa fa-angle-down"></i>
    </span>
  </h4>
  <div class="row" *ngIf="!isCollapsed" [@isCollapsed]>
    <ng-container *ngFor="let control of items; let i = index; trackBy: trackByFn">
      <ng-container *ngIf="control.display != false">
        <div [ngClass]="'form-column col-xs-' + (control.width || 12)">
          <div *ngIf="!control.children" [ngClass]="{'form-group': control.type !== 'hidden', 'has-error': displayControlErrors(control)}">
            <app-dynamic-form-field
              [control]="control"
              [form]="form"
              (onSelect)="onSelectItems($event)"
            >
            </app-dynamic-form-field>

            <div *ngIf="displayControlErrors(control)" class="error-messages">
              <span *ngFor="let error of getControlErrors(control)">
                {{ error.message | translate:error.data }}
              </span>
            </div>
          </div>

          <ng-container *ngIf="control.children">
            <app-dynamic-form-group
              [form]="form"
              [items]="control.children"
              [collapsible]="control.collapsible"
              [title]="control.title"
              [width]="control.width"
              (onSelect)="onSelectItems($event)">
            </app-dynamic-form-group>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</fieldset>
