<p-dialog
  appendTo="body"
  [header]="'Выберите доступ'"
  [draggable]="true"
  [modal]="true"
  [resizable]="false"
  [responsive]="false"
  [width]="800"
  [height]="400"
  [(visible)]="displayProperties.addPermit">

  <app-grid
    #addPermitGrid
    [innerStyles]="{height: '200px'}"
    [columns]="columns"
    [parseFn]="parseFn"
    [autoLoad]="false"
    [dataSource]="dataSource"
    (onRowSelect)="selectAccessiblePermissions($event)">
  </app-grid>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button"
              class="ui-button-secondary"
              pButton icon="fa-close"
              label="Cancel"
              (click)="onCancel()"></button>
      <button type="button"
              class="ui-button-success"
              pButton icon="fa-check"
              label="Save"
              (click)="onAddPermission()"></button>
    </div>
  </p-footer>
</p-dialog>
