<p-dialog
  appendTo="body"
  [header]="'Доступ'"
  [draggable]="true"
  [modal]="true"
  [resizable]="false"
  [responsive]="false"
  [(visible)]="displayProperties.editPermit"
  [width]="600"
  [height]="550">

  <app-dynamic-form [form]="form"
                    [controls]="controls">
  </app-dynamic-form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button"
              class="ui-button-secondary"
              pButton icon="fa-close"
              label="Cancel"
              (click)="onCancel()"></button>
      <button type="button"
              class="ui-button-success"
              pButton icon="fa-check"
              label="Save"
              (click)="onSave()"></button>
    </div>
  </p-footer>
</p-dialog>
