<p-dialog
  appendTo="body"
  [header]="'Удаление доступов у роли'"
  [draggable]="true"
  [modal]="true"
  [resizable]="false"
  [responsive]="false"
  [width]="600"
  [height]="180"
  [(visible)]="displayProperties.removePermit">

  <span>
    Вы действительно хотите удалить выделенные доступы из данной роли?
  </span>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button"
              class="ui-button-success"
              pButton icon="fa-check"
              label="Удалить"
              (click)="onConfirm()"></button>
    </div>
  </p-footer>
</p-dialog>
