$checkbox-size: 15px;

.toolbar-item {
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.align-right {
    float: right;
    margin-right: 0;
    padding-left: 8px;
  }
}

.checkbox {
  display: inline-block;
  label {
    padding-left: $checkbox-size;
  }
  input[type="checkbox"] {
    margin-left: -$checkbox-size;
  }
}
