<div class="row">
  <div class="col-md-6">
    <app-button type="back" (click)="onBack()"></app-button>
    <app-button color="primary" type="save" (click)="onSubmit()" [disabled]="!canSubmit()"></app-button>
  </div>
  <div class="col-md-6 text-right">
    <app-button icon="icon-people" [label]="'contractors.buttons.managers' | translate" (click)="onManagersClick()"></app-button>
    <app-button icon="icon-list" [label]="'contractors.buttons.attributes' | translate" (click)="onAttributesClick()" [disabled]="!canViewAttributes"></app-button>
    <app-button icon="fa fa-th" [label]="'contractors.buttons.objects' | translate" (click)="onObjectsClick()" [disabled]="!canViewObjects"></app-button>
  </div>
</div>

<br>

<app-dynamic-form *ngIf="controls" [controls]="controls" [data]="formData"></app-dynamic-form>
