<div class="form-inline">
  <select class="form-control input-sm" [(ngModel)]="filter.name">
    <option *ngFor="let option of fieldOptions" [value]="option.value">{{ option.label }}</option>
  </select>
  <select class="form-control input-sm" [(ngModel)]="filter.operator">
    <option *ngFor="let operator of operators" [value]="operator.name">{{ operator.name }}</option>
  </select>
  <app-qbuilder2-value [controlType]="controlType" [nControls]="nControls" [(ngModel)]="filter.values"></app-qbuilder2-value>
  <button class="btn btn-xs btn-danger" (click)="remove()"><i class="fa fa-close"></i></button>
</div>
