<div class="panel notifications">
  <div *ngIf="hasFilters()" class="panel-heading notifications_heading">
    <ng-container *ngFor="let filterType of filterTypes">
      <label>
        <app-checkbox [ngModel]="filters[filterType]" (ngModelChange)="onFilterChange(filterType, $event)"></app-checkbox>
        {{ getTranslationKey(filterType) | translate }}
      </label>
    </ng-container>
  </div>

  <perfect-scrollbar class="notifications_list_wrapper">
    <ul class="list-group">
      <ng-container *ngFor="let notification of notifications; let i = index;">
        <li *ngIf="filters && filters[notification.type]" class="list-group-item notifications_item" [title]="notification.message | translate">
          <span class="notifications_dismiss" [title]="'notifications.dismiss' | translate" (click)="onDismiss(i)">&#10005;</span>
          <p class="m0 notifications_message">
            <i [class]="getIconClass(notification.type)"></i>
            {{ notification.message | translate }}
          </p>
          <p class="m0 text-right text-muted">
            <!-- TODO: translate -->
            <small>{{ displayDate(notification.created) }}</small>
          </p>
        </li>
      </ng-container>
    </ul>
  </perfect-scrollbar>

  <div class="panel-footer text-right">
    <button class="btn btn-default" (click)="onClear()">{{ 'default.buttons.clear' | translate }}</button>
    <button class="btn btn-default" (click)="onClose()">{{ 'default.buttons.close' | translate }}</button>
  </div>
</div>
