.notifications {
  margin: 0;
  width: 400px;
}

.notifications_heading {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;

  label {
    display: inline-block;
    margin: 0;
    width: auto;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.notifications_item {
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #f5faff;
    & > .notifications_dismiss {
      display: block;
    }
  }
  &.list-group-item {
    border-width: 1px 0;
  }
  &.list-group-item:last-child {
    border-bottom-width: 0;
  }
}

.notifications_dismiss {
    display: none;
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    &:hover {
      color: #000;
    }
}

.notifications_message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  i {
    font-size: 16px;
    padding-right: 5px;
  }
}

.notifications_list_wrapper {
  height: 320px;
}
