<app-dropdown #dropdown [enabled]="!isDisabled" [fullWidth]="true">
  <ng-container trigger>
    <span [ngClass]="controlClass">
      {{ value }}
      <i class="caret"></i>
    </span>
    <input type="hidden" [ngModel]="value">
  </ng-container>
  <div>
    <app-grid
      selectionType="single"
      [columns]="columns"
      [footerHeight]="false"
      [rows]="rows"
      [styles]="{ height: '200px', border: 'none' }"
      (onDblClick)="onDoubleClick($event)">
    </app-grid>
  </div>
</app-dropdown>
