<div (focusOut)="onFocusOut()">
  <app-select [ngModel]="selectedColumn" [options]="columnOptions" (select)="onColumnSelect($event)" style="display: inline-block;"></app-select>
  <input #file type="file" style="display: inline-block; width: 320px;" (change)="onFileChange()"/>
  <span *ngIf="ready">{{ 'shared.components.actionGrid.excelFilter.total' | translate }}: {{ total }}</span>
  <app-button *ngIf="hasFileToUpload" type="upload" (click)="onUpload()"></app-button>
  <app-button type="delete" (click)="onRemove()"></app-button>
</div>
