<app-dialog-action
  *ngIf="isDialog('removeGuarantee')"
  actionMode="danger"
  actionTranslationKey="debtor.guarantorsTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.guarantorsTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
>
</app-dialog-action>


<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.guaranteeContract"
  selectionType="single"
  [styles]="gridStyles"
  [columns]="columns"
  [rows]="contracts"
  (onDblClick)="onDoubleClick()"
  (onSelect)="onSelect($event)">
</app-grid>
