<app-dialog-action
  *ngIf="isDialog('removeGuarantee')"
  actionMode="danger"
  actionTranslationKey="debtor.guarantorsTab.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  titleTranslationKey="debtor.guarantorsTab.remove.title"
  (action)="onRemove()"
  (cancel)="onCancel()"
></app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/debtor-card/guarantee"
  [columns]="columns"
  [rows]="contracts"
  [toolbar]="toolbar"
  (dblClick)="onDoubleClick($event)"
  (selectRow)="onSelect($event)">
</app-simple-grid>
