<div class="dashboard">
  <!-- START indicators -->
  <div class="row mb-lg ml-xl mr-xl pb border-b">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-indicators
        *ngIf="indicators"
        [data]="indicators"
      >
        <!-- START date widget-->
        <div class="panel date-widget">
          <div class="row-flex border">
            <div class="date-widget-left bg-primary">
              <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
              <span appNow class="text-sm" format="MMMM"></span>
              <br/>
              <span appNow class="h2" format="D"></span>
            </div>
            <div class="date-widget-right">
              <span appNow format="dddd"></span>
              <br/>
              <span appNow class="h2" format="hh:mm"></span>
              <!--<span appNow class="text-muted text-sm" format="a"></span>-->
            </div>
          </div>
        </div>
        <!-- END date widget    -->
      </app-indicators>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt border-r">
      <div class="col-md-6 col-sm-12">
        <span class="chart-header border-b minh">{{ 'dashboard.charts.promiseCountStatus.label' | translate }}</span>
        <app-pie-chart
          *ngIf="promiseCountStatus"
          translationKey="dashboard.charts"
          [data]="promiseCountStatus"
          [options]="promiseCountStatusOptions"
        >
        </app-pie-chart>
      </div>
      <div class="col-md-6 col-sm-12">
        <span class="chart-header border-b minh">{{ 'dashboard.charts.promiseCover.label' | translate }}</span>
        <app-progress-chart
          *ngIf="promiseCover"
          translationKey="dashboard.charts"
          [data]="promiseCover"
          [options]="promiseCoverOptions"
        >
        </app-progress-chart>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt border-r">
      <div class="col-md-6 col-sm-12">
        <span class="chart-header border-b minh">{{ 'dashboard.charts.contactsDay.label' | translate }}</span>
        <app-pie-chart
          *ngIf="contactsDay"
          translationKey="dashboard.charts"
          [data]="contactsDay"
          [options]="contactsDayOptions"
        >
        </app-pie-chart>
      </div>
      <div class="col-md-6 col-sm-12">
        <span class="chart-header border-b minh">{{ 'dashboard.charts.contactsDayPlan.label' | translate }}</span>
        <app-progress-chart
          *ngIf="contactsDayPlan"
          translationKey="dashboard.charts"
          [data]="contactsDayPlan"
          [options]="contactsDayPlanOptions"
        >
        </app-progress-chart>
      </div>
    </div>
  </div>  <!-- END indicators  -->
  <!-- START charts -->
  <div class="row mb-xl pb-lg">
      <div class="col-sm-12">
        <span class="chart-header pl-xl">{{ 'dashboard.charts.promiseCount.label' | translate }}</span>
        <app-bar-chart
          *ngIf="promiseCount"
          translationKey="dashboard.charts"
          [data]="promiseCount"
          [options]="promiseCountOptions"
        >
        </app-bar-chart>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="chart-header pl-xl">{{ 'dashboard.charts.promiseAmount.label' | translate }}</span>
      <app-bar-chart
        *ngIf="promiseAmount"
        translationKey="dashboard.charts"
        [data]="promiseAmount"
        [options]="promiseAmountOptions"
      >
      </app-bar-chart>
    </div>
  </div>
  <!-- END charts  -->
</div>
