<div class="dashboard">
  <!-- START indicators -->
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-6 col-sm-12">
      <app-indicators
        [data]="indicators$ | async"
      >
      </app-indicators>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
          <div class="row row-table">
              <div class="col-xs-4 text-center bg-green pv-lg">
                  <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                  <span appNow class="text-sm" format="MMMM"></span>
                  <br/>
                  <span appNow class="h2 mt0" format="D"></span>
              </div>
              <div class="col-xs-8 pv-lg">
                  <span appNow class="text-uppercase" format="dddd"></span>
                  <br/>
                  <span appNow class="h2 mt0" format="h:mm"></span>
                  <span appNow class="text-muted text-sm" format="a"></span>
              </div>
          </div>
      </div>
      <!-- END date widget    -->
    </div>
  </div>  <!-- END indicators  -->
  <!-- START charts -->
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-pie-chart
          [data]="promiseCountStatus$ | async"
          [options]="promiseCountStatusOptions"
        >
        </app-pie-chart>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-bar-chart
          [data]="promiseCount$ | async"
          [options]="promiseCountOptions"
        >
        </app-bar-chart>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-pie-chart
          *ngIf="contactsDay"
          [data]="contactsDay"
          [options]="contactsDayOptions"
        >
        </app-pie-chart>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-progress-chart
        [data]="promiseCover$ | async"
        [options]="promiseCoverOptions"
      >
      </app-progress-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-bar-chart
        [data]="promiseAmount$ | async"
        [options]="promiseAmountOptions"
      >
      </app-bar-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-progress-chart
        *ngIf="contactsDayPlan"
        [data]="contactsDayPlan"
        [options]="contactsDayPlanOptions"
      >
      </app-progress-chart>
    </div>
  </div>
  <!-- END charts  -->
</div>
