<div class="flex vertical">

  <!-- General Info -->
  <div class="flex-item">
    <div class="mv">
      <ng-container *ngIf="isPerson$ | async">
        <app-debtor-information-person></app-debtor-information-person>
      </ng-container>
      <ng-container *ngIf="isCompany$ | async">
        <app-debtor-information-company [personTypeCode]="debtorTypeCode$ | async"></app-debtor-information-company>
      </ng-container>
    </div>
  </div>

  <!-- Contact Info Tabstrip -->
  <div class="flex-item grow">
    <app-tabview [fullHeight]="true" (selectTab)="onTabSelect($event)" [noMargin]="true">
      <app-tabview-tab [title]="tabs[0].title">
        <app-phone-grid
          *ngIf="tabs[0].isInitialised"
          [contactType]="phoneContactType"
          [debtId]="debtId$ | async"
          [personId]="debtorId$ | async"
          [personRole]="personRole"
          (add)="onPhoneAdd()"
          (dblClick)="onPhoneRegister($event)"
          (edit)="onPhoneEdit($event)"
          (register)="onPhoneRegister($event)"
        ></app-phone-grid>
      </app-tabview-tab>
      <app-tabview-tab [title]="tabs[1].title">
        <app-address-grid
          *ngIf="tabs[1].isInitialised"
          [debtId]="debtId$ | async"
          [debtorId]="debtorId$ | async"
          [personId]="debtorId$ | async"
          [personRole]="personRole"
          (add)="onAddressAdd()"
          (dblClick)="onAddressRegister($event)"
          (edit)="onAddressEdit($event)"
          (register)="onAddressRegister($event)"
        ></app-address-grid>
      </app-tabview-tab>
      <app-tabview-tab [title]="tabs[2].title">
        <app-email-grid
          *ngIf="tabs[2].isInitialised"
          [debtId]="debtId$ | async"
          [entityId]="debtorId$ | async"
          [personRole]="personRole"
        ></app-email-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>
</div>
