<div class="mv">
  <ng-container *ngIf="isPerson$ | async">
    <app-debtor-information-person></app-debtor-information-person>
  </ng-container>
  <ng-container *ngIf="isCompany$ | async">
    <app-debtor-information-company [personTypeCode]="debtorTypeCode$ | async"></app-debtor-information-company>
  </ng-container>
</div>

<app-tabview (select)="onTabSelect($event)" [noMargin]="true">
  <app-tabview-tab [title]="tabs[0].title">
    <app-phone-grid
      *ngIf="tabs[0].isInitialised"
      action="edit"
      [contactType]="phoneContactType"
      [debtId]="debtId$ | async"
      [personId]="personId$ | async"
      [personRole]="personRole"
      (add)="onPhoneAdd()"
      (dblClick)="onPhoneRegister($event)"
      (edit)="onPhoneEdit($event)"
      (register)="onPhoneRegister($event)"
    ></app-phone-grid>
  </app-tabview-tab>
  <app-tabview-tab [title]="tabs[1].title">
    <app-address-grid
      *ngIf="tabs[1].isInitialised"
      action="edit"
      [debtId]="debtId$ | async"
      [debtorId]="personId$ | async"
      [personId]="personId$ | async"
      [personRole]="personRole"
      (add)="onAddressAdd()"
      (dblClick)="onAddressRegister($event)"
      (edit)="onAddressEdit($event)"
      (register)="onAddressRegister($event)"
    ></app-address-grid>
  </app-tabview-tab>
  <app-tabview-tab [title]="tabs[2].title">
    <app-email-grid
      *ngIf="tabs[2].isInitialised"
      [debt]="debt$ | async"
      [entityId]="personId$ | async"
      [personRole]="personRole"
    ></app-email-grid>
  </app-tabview-tab>
</app-tabview>
