<app-roles-edit
  *ngIf="isDialog('add')"
  (submit)="onAdd($event)"
  (cancel)="cancelAction()">
</app-roles-edit>

<app-roles-edit
  *ngIf="isDialog('edit')"
  [role]="editedEntity"
  (submit)="onEdit($event)"
  (cancel)="cancelAction()">
</app-roles-edit>

<app-roles-copy
  *ngIf="isDialog('copy')"
  [role]="editedEntity"
  (submit)="onCopy($event)"
  (cancel)="cancelAction()">
</app-roles-copy>

<app-dialog-action
  *ngIf="isDialog('remove')"
  [titleTranslationKey]="'roles.roles.remove.title'"
  [actionTranslationKey]="'roles.roles.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [messageParams]="editedEntity"
  [actionMode]="'danger'"
  (action)="onRemove()"
  (cancel)="cancelAction()">
</app-dialog-action>

<div class="flex vertical">
  <app-titlebar [titlebar]="titlebar" class="flex-item"></app-titlebar>

  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] admin/roles"
      [columns]="columns"
      [rows]="roles$ | async"
      (dblClick)="onDblClick()"
      (selectRow)="onSelect($event)"
    ></app-simple-grid>
  </div>
</div>
