<app-roles-edit
  *ngIf="isRoleBeingCreated"
  (submit)="onAddSubmit($event)"
  (cancel)="cancelAction()">
</app-roles-edit>

<app-roles-edit
  *ngIf="isRoleBeingEdited"
  [editedEntity]="editedEntity"
  (submit)="onEditSubmit($event)"
  (cancel)="cancelAction()">
</app-roles-edit>

<app-roles-copy 
  *ngIf="isRoleBeingCopied"
  [editedEntity]="editedEntity"
  (submit)="onCopySubmit($event)"
  (cancel)="cancelAction()">
</app-roles-copy>

<app-dialog-action
  *ngIf="isRoleBeingRemoved"
  [titleTranslationKey]="'roles.roles.remove.title'"
  [actionTranslationKey]="'roles.roles.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [messageParams]="editedEntity"
  [actionMode]="'danger'"
  (action)="onRemoveSubmit()"
  (cancel)="cancelAction()">
</app-dialog-action>

<app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>

<app-grid
  [autoLoad]="false"
  [columns]="columns"
  [columnTranslationKey]="'roles.permissions'"
  [editPermission]="'ROLE_EDIT'"
  [rows]="rows"
  [selectionType]="'single'"
  [styles]="{height: '200px'}"
  (onEdit)="onEdit()"
  (onRowSelect)="onSelectedRowChange($event)">
</app-grid>
