<span class="value">
  <span *ngIf="displayAsArray">(</span>

  <ng-container *ngFor="let v of value; let i = index; let last = last">
    <app-qbuilder2-input [filterType]="column.filter" [value]="v" (onChange)="updateValue($event, i)"></app-qbuilder2-input>
    <span *ngIf="!last && displayAsArray">,&nbsp;</span>
  </ng-container>

  <span *ngIf="displayAsArray">)</span>

  <ng-container *ngIf="displayButtons">
    <button class="btn btn-xs btn-default" (click)="addValue()">+</button>
    <button class="btn btn-xs btn-default" (click)="removeValue()">-</button>
  </ng-container>
<span>
