<app-dialog (onClose)="cancel()">
  <div dialog-header>
    <h3>{{ title | translate:portfolio }}</h3>
  </div>

  <p>
    Blah blah blah...
  </p>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="submit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
