<div class="pb-lg">
  <app-dynamic-form
    #eventType
    *ngIf="eventTypeControls"
    [config]="eventTypeConfig"
    [controls]="eventTypeControls"
    [data]="type"
  ></app-dynamic-form>
</div>

<label>
  <span>
    {{ 'widgets.scheduleEvents.card.group' | translate }}
    <b class="text-danger">*</b>
  </span>
</label>

<app-grid
  #groupGrid
  *ngIf="selectedEventTypeCode === 1"
  columnTranslationKey="widgets.groups"
  selectionType="single"
  [columns]="groupGridColumns"
  [selection]="groupSelection"
  [footerHeight]="false"
  [styles]="{height: '200px'}"
  [rows]="groups"
  (onSelect)="onGroupSelect($event)"
></app-grid>
