<div class="pb-lg">
  <app-dynamic-form
    #eventType
    *ngIf="eventTypeControls"
    [config]="eventTypeConfig"
    [controls]="eventTypeControls"
    [data]="selectedType"
  ></app-dynamic-form>
</div>

<div class="pb-lg">
  <label>
    <span>
      {{ 'widgets.scheduleEvents.card.group' | translate }}
      <b class="text-danger">*</b>
    </span>
  </label>
  
  <app-grid
    #groupGrid
    columnTranslationKey="widgets.groups"
    selectionType="single"
    [columns]="groupGridColumns"
    [selection]="groupSelection"
    [footerHeight]="false"
    [styles]="{height: '200px'}"
    [rows]="groups"
    (onSelect)="onGroupSelect($event)"
  ></app-grid>
</div>

<div class="pb-lg">
  <app-dynamic-form
    #smsType
    *ngIf="selectedEventTypeCode === 2"
    [config]="smsTypeConfig"
    [controls]="smsTypeControls"
    [data]="selectedType"
  ></app-dynamic-form>
</div>
