<app-area layout="column">
  <app-area>
    <app-debt-grid></app-debt-grid>
  </app-area>
  <app-area>
    <app-tabview [fullHeight]="true" (selectTab)="onTabSelect($event)" [noMargin]="true">
      <app-tabview-tab [title]="'debtor.paymentsTab.title'">
        <app-payment-grid
          *ngIf="tabs[0].isInitialised"
          [debtId]="debtId$ | async"
        ></app-payment-grid>
      </app-tabview-tab>
      <app-tabview-tab [title]="'debtor.promisesTab.title'">
        <app-promise-grid
          *ngIf="tabs[1].isInitialised"
          [debtId]="debtId$ | async"
          [debtStatusCode]="debtStatusCode$ | async"
        ></app-promise-grid>
      </app-tabview-tab>
    </app-tabview>
  </app-area>
</app-area>
