<div
  class="content"
  (dblclick)="onDoubleClick($event)"
  (click)="onClick($event)"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
>
  <div *ngFor="let column of columns; let first = first;" [ngClass]="rowClass">
    <span *ngIf="first" [ngStyle]="{ 'padding-left': 16 * nestingLevel + 'px' }">
      <span style="display: inline-block; width: 16px;">
        <i *ngIf="hasChildren" [ngClass]="row.isExpanded ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" (mousedown)="onToggle($event)"></i>
      </span>
    </span>
    <span>{{ getFormattedValue(column) || '&nbsp;' }}</span>
  </div>
</div>

<div
  [ngClass]="dividerClass"
  (dragenter)="onDividerDragEnter($event)"
  (dragleave)="onDividerDragLeave($event)"
  (drop)="onDividerDrop($event)"
  (dragover)="onDividerDragOver($event)">
</div>

<ng-container *ngIf="row.isExpanded">
  <app-gridtree-rowgroup
    *ngFor="let child of row.children"
    [columns]="columns"
    [idGetter]="idGetter"
    [nestingLevel]="nestingLevel + 1"
    [row]="child">
  </app-gridtree-rowgroup>
</ng-container>
