@import '../../../styles/app/variables.scss';

:host {
  display: block;
  position: relative;
  user-select: none;
  overflow: visible;
}

.content {
  overflow: visible;
  white-space: nowrap;
  > div {
    border-bottom: 1px solid $app-gridtree-border-color-light;
    border-right: 1px solid $app-gridtree-border-color;
    display: inline-block;
    padding: 0 10px;
    width: 200px;
    &.is-dragged {
      background-color: $app-gridtree-dragged-row-bg-color;
    }
    &.is-dragged-over {
      background-color: $app-gridtree-dragged-over-row-bg-color;
    }
    &.is-selected {
      background-color: $app-gridtree-selection-color;
    }
  }
}

.divider {
  bottom: -2px;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  &.is-dragged-over {
    background-color: $app-gridtree-dragged-over-divider-bg-color;
  }
}
