@import '../../../styles/app/variables.scss';

:host {
  display: block;
  position: relative;
  user-select: none;
}

.content {
  &:before,
  &:after {
    display: block;
    content: '';
  }
  &:after {
    clear: both;
  }

  > div {
    border-bottom: 1px solid $app-gridtree-border-color-light;
    border-right: 1px solid $app-gridtree-border-color;
    float: left;
    padding: 0 10px;
    width: 250px;
    &.is-dragged {
      background-color: $app-gridtree-dragged-row-bg-color;
    }
    &.is-dragged-over {
      background-color: $app-gridtree-dragged-over-row-bg-color;
    }
  }
}

.divider {
  bottom: -2px;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  &.is-dragged-over {
    background-color: $app-gridtree-dragged-over-divider-bg-color;
  }
}
