  <form *ngIf="form" [formGroup]="form" novalidate>
    <div class="form-group">
      <label>Id
        <input type="number" class="form-control" formControlName="id">
      </label>
    </div>
    <div class="form-group">
      <label>Name</label>
      <div>
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>

    <div class="form-group">
      <label>Тип значения
        <select class="form-control" formControlName="typeCode">
          <option value="1">Число</option>
          <option value="2">Дата</option>
          <option value="3">Строка</option>
          <option value="4">Булево</option>
          <option value="5">Деньги</option>
          <option value="6">Словарь</option>
        </select>
      </label>
    </div>
    <div [ngSwitch]="form.controls['typeCode'].value">

      <div *ngSwitchCase="1" class="form-group">
        <label>Значение
          <input type="number" class="form-control" formControlName="value">
        </label>
      </div>

      <div *ngSwitchCase="2" class="form-group">
        <label>Значение</label>
        <div>
          <!--<app-input-datepicker [form]="form" controlName="value"></app-input-datepicker>-->
        </div>
      </div>

      <div *ngSwitchCase="4" class="form-group">
        <label>Значение</label>
        <div>
          <label class="radio-inline">
            <input type="radio" formControlName="value" value="1"> True
          </label>
          <label class="radio-inline">
            <input type="radio" formControlName="value" value="0"> False
          </label>
        </div>
      </div>

      <div *ngSwitchDefault class="form-group">
        <label>Значение</label>
        <div>
          <input type="text" class="form-control" formControlName="value">
        </div>
      </div>

    </div>

    <!--<div class="form-group">
      <label>Age
        <input
          type="number"
          formControlName="age"
          class="form-control"
          currencyMask
          [options]="{ align: 'left', prefix: '', suffix: '', thousands: ' ', decimal: '.' }"
        >
      </label>
    </div>-->

    <div class="form-group">
      <label>Коментарий
        <textarea
          formControlName="dsc"
          class="form-control"
          rows="2"
        ></textarea>
      </label>
    </div>
    <div class="form-group">
      <label>Альтернативный коментарий
        <textarea
          formControlName="altDsc"
          class="form-control"
          rows="2"
        ></textarea>
      </label>
    </div>
  </form>
