<div class="row">
  <div class="col-md-5">
    <app-grid
      columnTranslationKey="users.ldap.groups"
      selectionType="single"
      [columns]="groupsColumns"
      [footerHeight]="false"
      [rows]="groups$ | async"
      [styles]="{ height: '200px' }"
      (onSelect)="onGroupSelect($event)">
    </app-grid>
  </div>
  <div class="col-md-7">
    <app-grid
      columnTranslationKey="users.ldap.users"
      selectionType="single"
      [columns]="usersColumns"
      [footerHeight]="false"
      [rows]="users$ | async"
      [styles]="{ height: '200px' }"
      (onSelect)="onUserSelect($event)"
      (onDblClick)="onSubmit($event)">
    </app-grid>
  </div>
</div>
