<app-dialog *ngIf="isDialog('ext')" (close)="onCloseDialog()">
  <div dialog-header>
    <h3>{{ 'header.account.editPhoneExtension' | translate }}</h3>
  </div>

  FORM GOES HERE

  <div dialog-footer>
    <app-button type="ok" (click)="onPhoneExtensionSubmit()"></app-button>
    <app-button type="cancel" (click)="onCloseDialog()"></app-button>
  </div>
</app-dialog>

<ul class="list-group mb0">
  <li class="list-group-item" (click)="showPhoneExtensionDialog($event)">
    <i class="icon-phone"></i> {{ 'header.account.editPhoneExtension' | translate }}
  </li>
  <li class="list-group-item" (click)="resetSettings($event)">
    <i class="icon-settings"></i> {{ 'header.account.reset' | translate }}
  </li>
  <li class="list-group-item" (click)="logout($event)">
    <i class="icon-lock"></i> {{ 'header.account.logout' | translate }}
  </li>
</ul>
