@import '../../../styles/app/variables.scss';

:host {
  border-bottom: 1px solid $app-gridtree-border-color-dark;
  display: block;
  &:before,
  &:after {
    content: '';
    display: block;
  }
  &:after {
    clear: both;
  }
}

div {
  border-right: 1px solid $app-gridtree-border-color;
  float: left;
  font-weight: bold;
  padding: 5px 10px 4px;
  width: 250px;
}
