<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.debt.dialogs.nextCall.title' | translate }}</h3>
  </div>
  <div>
    <app-dynamic-form [controls]="controls" [data]="data"></app-dynamic-form>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.ok' | translate }}
    </button>
    <button class="btn btn-default" (click)="onClose()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
