<div class="datepicker">
  <span class="input-group">
    <input
      #input
      [attr.placeholder]="placeholder | translate"
      [disabled]="isDisabled"
      [ngClass]="inputClass"
      [ngModel]="formattedDate"
      (change)="onValueChange($event)"
    />

    <span class="input-group-btn">
      <button
        #trigger
        type="button"
        [disabled]="isDisabled"
        [ngClass]="buttonClass"
        (click)="toggleCalendar()"
      >
        <i class="fa fa-calendar"></i>
      </button>
    </span>
  </span>

  <div #dropdown>
    <div *ngIf="isExpanded" class="dropdown" [ngStyle]="style$ | async">
      <p-calendar
        [inline]="true"
        [locale]="locale"
        [monthNavigator]="true"
        [ngModel]="value"
        [yearNavigator]="true"
        [yearRange]="'1900:2050'"
        (ngModelChange)="onValueChange($event)">
      </p-calendar>
    </div>
  </div>
</div>
