<app-constant-edit
  *ngIf="display"
  [editedEntity]="selectedRecord"
  (submit)="onSubmit($event)"
  (cancel)="onCancel()"
>
</app-constant-edit>

<app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>

<app-grid
  selectionType="single"
  [autoLoad]="false"
  [columns]="columns"
  columnTranslationKey="constants"
  [dataSource]="dataSource"
  editPermission="CONST_VALUE_EDIT"
  [parseFn]="parseFn"
  [rows]="rows"
  (onEdit)="onBeforeEdit()"
  (onRowSelect)="onSelectRecord($event)"
>
</app-grid>
