<p-dialog
    appendTo="body"
    [header]="dialogTitle"
    [draggable]="true"
    [modal]="true"
    [resizable]="false"
    [responsive]="false"
    [width]="600"
    [height]="650"
    [(visible)]="display">

  <app-dynamic-form [form]="form"></app-dynamic-form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
      <button type="button" class="ui-button-success" pButton icon="fa-check" (click)="display=false" label="Save"></button>
    </div>
  </p-footer>

</p-dialog>

<app-tabstrip>
  <app-tab *ngFor="let tab of tabs" [title]="tab.title" (onClose)="onClose($event)" [active]="tab.active">
    <app-grid
      [columns]="columns"
      [parseFn]="parseFn"
      [dataSource]="dataSource"
      (onEdit)="onEdit($event)">
    </app-grid>
  </app-tab>
</app-tabstrip>
