<app-constant-edit
  *ngIf="isDialog('editConstant')"
  [constant]="selectedRecord$ | async"
  (submit)="onSubmit($event)"
  (cancel)="onCloseDialog()"
>
</app-constant-edit>

<app-titlebar [titlebar]="titlebar"></app-titlebar>

<!-- <app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2> -->

<app-grid
  selectionType="single"
  [columns]="columns"
  [selection]="selection"
  columnTranslationKey="constants"
  [emptyMessage]="emptyMessage$ | async"
  [rows]="rows"
  (onDblClick)="onDblClick()"
  (onSelect)="onSelect($event)">
</app-grid>
