<app-debt-grid-status-dialog
  *ngIf="isDialog('changeStatus')"
  [debt]="selectedDebt$ | async"
  (submit)="onChangeStatusDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-status-dialog>

<app-debt-grid-close-dialog
  *ngIf="isDialog('closeDebt')"
  [debt]="selectedDebt$ | async"
  [statusCode]="debtCloseDialogStatus$ | async"
  (submit)="onCloseDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-close-dialog>

<app-debt-grid-call-dialog
  *ngIf="isDialog('nextCall')"
  [debt]="selectedDebt$ | async"
  (submit)="onCloseDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-call-dialog>

<app-simple-grid
  persistenceKey="[grid] workplaces/debtor-card/debts"
  [columns]="columns"
  [rows]="debts"
  [toolbar]="toolbar"
  (dblClick)="onDoubleClick($event)"
  (selectRow)="onSelect($event)">
</app-simple-grid>
