@import "./shared/styles/app/variables";

.loader {
  position: fixed;
  z-index: $zindex-app-loader;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.loader-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:host /deep/ .toaster-container {
  top: 64px;
  left: 12%;
  right: 12%;
  padding-left: $layout-sidebar-width;
  transition: padding-left 0.2s ease;

  .toast {
    width: 100% !important;
    opacity: 0.9 !important;
    .icon-info:before {
      content: "";
    }
  }
}

:host /deep/ .collapsed .toaster-container {
  padding-left: $layout-sidebar-width-collapsed;
}
