<app-block-dialog
  *ngIf="dialog === 1"
  titleTranslationKey="widgets.phone.dialogs.block.title"
  labelTranslationKey="widgets.phone.dialogs.block.blockReasonCode"
  [dictionaryId]="blockDialogDictionaryId"
  (action)="onBlockDialogSubmit($event)"
  (close)="onDialogClose()">
</app-block-dialog>

<app-dialog-action
  *ngIf="dialog === 2"
  titleTranslationKey="widgets.phone.dialogs.unblock.title"
  actionTranslationKey="widgets.phone.dialogs.unblock.confirmMessage"
  actionMessage="default.yesNo.Yes"
  actionMode="success"
  [messageParams]="selectedAddress$ | async"
  (action)="onUnblockDialogSubmit($event)"
  (cancel)="onDialogClose()">
</app-dialog-action>

<app-dialog-action
  *ngIf="dialog === 3"
  titleTranslationKey="widgets.phone.dialogs.delete.title"
  actionTranslationKey="widgets.phone.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedAddress$ | async"
  (action)="onRemoveDialogSubmit($event)"
  (cancel)="onDialogClose()">
</app-dialog-action>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  *ngIf="canDisplayGrid"
  columnTranslationKey="debtor.information.phone"
  selectionType="single"
  [styles]="{height: '230px'}"
  [columns]="columns"
  [rowClass]="getRowClass()"
  [rows]="phones"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>
