<app-attribute-version-edit
  *ngIf="isDialog('edit')"
  [selectedVersion]="selectedVersion$ | async"
  [selectedAttribute]="selectedAttribute"
  [entityTypeId]="entityTypeId"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-attribute-version-edit>

<div class="flex vertical">
  <div class="flex-item grow">
    <app-simple-grid
      [columns]="columns"
      [rows]="rows"
      [toolbar]="toolbarItems"
      (selectRow)="onRowSelect($event)"
      (dblClick)="onRowDblClick($event)">
    </app-simple-grid>
  </div>
</div>
