<div class="row">
  <div class="col-md-6">
    <app-button type="back" (click)="onBack()"></app-button>
    <app-button color="primary" type="save" (click)="onSubmit()" [disabled]="!canSubmit()"></app-button>
  </div>
  <div class="col-md-6 text-right">
    <app-button
      [disabled]="!canViewManagers"
      [label]="'contractors.buttons.managers' | translate"
      (click)="onManagersClick()"
    ></app-button>
    <app-button
      [disabled]="!canViewAttributes"
      [label]="'contractors.buttons.attributes' | translate"
      (click)="onAttributesClick()"
    ></app-button>
    <app-button
      [disabled]="!canViewObjects"
      [label]="'contractors.buttons.objects' | translate"
      (click)="onObjectsClick()"
    ></app-button>
    <app-button
      [disabled]="!canViewDocuments"
      [label]="'contractors.buttons.documents' | translate"
      (click)="onDocumentsClick()"
    ></app-button>
  </div>
</div>

<br>

<app-dynamic-form *ngIf="controls" [controls]="controls" [data]="formData"></app-dynamic-form>
