<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'routes.utilities.formulas.calculate.title' | translate }}</h3>
  </div>

  <div class="pb-lg">
    <app-dynamic-form
      *ngIf="controls"
      [config]="config"
      [controls]="controls"
      [data]="{}"
    ></app-dynamic-form>
  </div>

  <div class="pb-lg">
    <app-simple-grid
      persistenceKey="[grid] utilities/formulas/calculate"
      [columns]="columns"
      [rows]="[ result || {} ]"
      style="height: 10vh"
    ></app-simple-grid>
  </div>

  <div dialog-footer>
    <app-button color="primary" [label]="'default.buttons.calculate'" (click)="onCalculate()" [disabled]="!canCalculate"></app-button>
    <app-button type="close" (click)="onClose()"></app-button>
  </div>
</app-dialog>
