<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'routes.utilities.formulas.calculate.title' | translate }}</h3>
  </div>

  <div class="pb-lg">
    <app-dynamic-form
      *ngIf="paramControls"
      [config]="config"
      [controls]="paramControls"
      [data]="{}"
    ></app-dynamic-form>
  </div>

  <div class="pb-lg">
    <app-dynamic-form
      *ngIf="resultControls"
      [config]="config"
      [controls]="resultControls"
      [data]="result"
    ></app-dynamic-form>
  </div>

  <div dialog-footer>
    <app-button [label]="'default.buttons.calculate'" (click)="onCalculate()" [disabled]="!canCalculate"></app-button>
    <app-button type="close" (click)="onClose()"></app-button>
  </div>
</app-dialog>
