<div class="flex vertical">

  <!-- Titlebar -->
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
    <h1>{{ 'routes.workplaces.debtorCard.guarantee.card.titles.addGuarantor' | translate }}</h1>
  </div>

  <!-- Forms -->
  <div class="flex-item grow mb-lg" style="overflow-y: auto;">
    <div class="flex horizontal">

      <!-- Contract Form -->
      <div *ngIf="showContractForm$ | async" class="flex-item grow pr">
        <app-titlebar [titlebar]="contractTitlebar"></app-titlebar>
        <app-metadata-form
          #contractForm
          [config]="contractFormConfig"
        ></app-metadata-form>
        <app-button type="clear"></app-button>
      </div>

      <!-- Guarantor Form -->
      <div class="flex-item grow ph">
        <app-titlebar [titlebar]="guarantorTitlebar"></app-titlebar>
        <app-metadata-form
          #guarantorForm
          [config]="guarantorFormConfig"
          [data]="guarantor$ | async"
          [disabled]="isGuarantorFormDisabled$ | async"
        ></app-metadata-form>
        <app-button type="clear" (click)="onGuarantorFormClear()"></app-button>
      </div>
    </div>
  </div>

  <!-- Additional Info -->
  <div *ngIf="edit$ | async" class="flex-item grow mb-lg">
    <app-tabview [fullHeight]="true">

      <!-- Identifications -->
      <app-tabview-tab title="Удостоверения личности">
        <app-identity-grid
          [personId]="guarantorId"
          (add)="onIdentityAdd()"
          (dblClick)="onIdentityEdit($event)"
          (edit)="onIdentityEdit($event)"
        ></app-identity-grid>
      </app-tabview-tab>

      <!-- Employment -->
      <app-tabview-tab title="Трудоустройство">
        <app-employment-grid
          [personId]="guarantorId"
          (add)="onEmploymentAdd()"
          (dblClick)="onEmploymentEdit($event)"
          (edit)="onEmploymentEdit($event)"
        ></app-employment-grid>
      </app-tabview-tab>

      <!-- Phones -->
      <app-tabview-tab title="Телефоны">
        <app-phone-grid
          [contactType]="phoneContactType"
          [debtId]="debtId"
          [personId]="guarantorId"
          [personRole]="guarantorRole"
          (add)="onPhoneAdd()"
          (dblClick)="onPhoneRegister($event)"
          (edit)="onPhoneEdit($event)"
          (register)="onPhoneRegister($event)"
        ></app-phone-grid>
      </app-tabview-tab>

      <!-- Addresses -->
      <app-tabview-tab title="Адреса">
        <app-address-grid
          [debtId]="debtId"
          [personId]="guarantorId"
          [personRole]="guarantorRole"
          (add)="onAddressAdd()"
          (dblClick)="onAddressRegister($event)"
          (edit)="onAddressEdit($event)"
          (register)="onAddressRegister($event)"
        ></app-address-grid>
      </app-tabview-tab>

      <!-- Documents -->
      <app-tabview-tab title="Документы">
        <!-- Documents for debt (term 19 in dictionary 55) -->
        <app-document-grid
          [entityType]="19"
          [entityId]="debtId"
        ></app-document-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>

  <!-- Toolbar -->
  <div class="flex-item">
    <app-button type="save" [disabled]="!canSubmit" (click)="onSave()"></app-button>
  </div>
</div>
