<div class="flex vertical">
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
    <h1>{{ 'routes.workplaces.debtorCard.guarantee.card.titles.addGuarantor' | translate }}</h1>
  </div>
  <div class="flex-item grow mb-lg">
    <app-dynamic-layout
      [layout]="layoutConfig"
      [data]="formData$ | async"
      [templates]="templates"
    ></app-dynamic-layout>
  </div>
  <div class="flex-item">
    <app-button type="save" [disabled]="isSubmitDisabled$ | async" (click)="onSave()"></app-button>
  </div>
</div>

<ng-template #identification>
  <app-identity-grid
    [personId]="contactId"
    (add)="onIdentityAdd()"
    (dblClick)="onIdentityEdit($event)"
    (edit)="onIdentityEdit($event)"
  ></app-identity-grid>
</ng-template>

<ng-template #employment>
  <app-employment-grid
    [personId]="contactId"
    (add)="onEmploymentAdd()"
    (dblClick)="onEmploymentEdit($event)"
    (edit)="onEmploymentEdit($event)"
  ></app-employment-grid>
</ng-template>

<ng-template #phones>
  <app-phone-grid
    [contactType]="1"
    [debtId]="debtId"
    [personId]="contactId"
    [personRole]="contactPersonRole"
    (add)="onPhoneAdd()"
    (dblClick)="onPhoneRegister($event)"
    (edit)="onPhoneEdit($event)"
    (register)="onPhoneRegister($event)"
  ></app-phone-grid>
</ng-template>

<ng-template #addresses>
  <app-address-grid
    [debtId]="debtId"
    [debtorId]="debtorId"
    [personId]="contactId"
    [personRole]="contactPersonRole"
    (add)="onAddressAdd()"
    (dblClick)="onAddressRegister($event)"
    (edit)="onAddressEdit($event)"
    (register)="onAddressRegister($event)"
  ></app-address-grid>
</ng-template>

<ng-template #documents>
  <app-document-grid
    [contractId]="contractId"
    [debtId]="debtId"
    [entityType]="entityType"
    [entityId]="contactId"
    [personId]="contactId"
  ></app-document-grid>
</ng-template>

<ng-template #contractTitlebar>
  <app-titlebar [titlebar]="contractTitlebarConfig"></app-titlebar>
</ng-template>

<ng-template #personTitlebar>
  <app-titlebar [titlebar]="personTitlebarConfig"></app-titlebar>
</ng-template>

<ng-template #contractClearButton>
  <app-button *ngIf="!(edit$ | async)" type="clear" (click)="onContactFormClear()"></app-button>
</ng-template>

<ng-template #personClearButton>
  <app-button *ngIf="!(edit$ | async)" type="clear" (click)="onPersonFormClear()"></app-button>
</ng-template>
