<app-action-dialog
  *ngIf="isLdapUserBeingSelected"
  titleTranslationKey="users.ldap.title"
  actionTranslationKey="default.buttons.ok"
  [canSubmit]="!!ldapDialog.selectedUser"
  [autoWidth]="false"
  (action)="onApplyLdapUser(ldapDialog.selectedUser.name)"
  (cancel)="onCloseLdapUser()"
>
  <app-user-ldap-dialog #ldapDialog>
  </app-user-ldap-dialog>
</app-action-dialog>

<div>
  <button class="btn btn-success" (click)="onSubmit()" [disabled]="!canSubmit()">
    <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
  </button>
  <button class="btn btn-default" (click)="onClose()">
    <i class="fa fa-remove"></i> {{ 'default.buttons.back' | translate }}
  </button>
</div>

<app-dynamic-form #form *ngIf="controls" [controls]="controls" [data]="formData"></app-dynamic-form>
