<app-object-grid-add
  *ngIf="isDialog('add')"
  [roleId]="masterRoleId$ | async"
  [typeCode]="selectedTypeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()"
></app-object-grid-add>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.object.dialogs.delete.title"
  actionTranslationKey="widgets.object.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedObject$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="flex vertical">
  <div class="flex-item panel m0 pt">
    <app-select
      [ngModel]="selectedTypeCode"
      [isRequired]="true"
      [options]="typeCodeOptions"
      (select)="onSelectType($event)"
    ></app-select>
  </div>

  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] admin/roles/objects"
      [columns]="columns"
      [rows]="rows"
      [toolbar]="toolbarItems"
      (selectRow)="onSelect($event)"
    ></app-simple-grid>
  </div>
</div>
