<div class="mv">
  <label>
    <span class="form-label">
      Тип связи
      <b class="text-danger">*</b>
    </span>
  </label>
  <app-select-wrapper [(ngModel)]="linkTypeCode" [dictCode]="32"></app-select-wrapper>
</div>

<app-grid2
  *ngIf="columns$ | async"
  [columns]="columns$ | async"
  [ngClass]="'person-search-grid'"
  [persistenceKey]="'person-search-grid'"
  [rowIdKey]="rowIdKey"
  [rows]="rows"
  [rowCount]="rowCount"
  (onFilter)="onRequest()"
  (onPage)="onRequest()"
  (onPageSize)="onRequest()"
  (onSort)="onRequest()"
  (onSelect)="onSelect()"
></app-grid2>
