@import '../../../shared/styles/app/variables.scss';

.titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  border-bottom: 1px solid $form-toolbar-border-color;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 7px;
  user-select: none;

  .no-border & {
    border-bottom: 0;
  }
}

/*
 * The titlebar has the zone: left, center and right.
 * The left zone holds the title, the right zone - action buttons,
 * and the center zone - arbitrary content throught the use of ng-content.
 */
.titlebar-zone {
  order: 0;
  flex: 1 0 0px;
  align-self: auto;
  // The middle part should shrink
  &.center {
    flex: 0 1 20%;
  }
  // The toolbar with buttons
  &.right {
    flex: 1 0 0px;
  }

  color: $form-toolbar-title-color;
  height: 30px;
  line-height: 30px;

  .form-title {
    font-size: 20px;
    font-weight: 500;
  }

  .icon-section {
    text-align: right;
    color: $form-toolbar-icon-color;
  }
}

.icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 3px;
  margin-right: 4px;
  border: 0;
  background-color: $form-toolbar-icon-bg-color;
  transition: all 150ms ease-in-out;

  &:not(:disabled):hover {
    box-shadow: 0 0 10px 1px rgba(0,0,0, 0.1);
    cursor: pointer;
  }
  &:disabled {
    color: $form-toolbar-icon-disabled-color;
  }

  .fa {
    font-size: 18px;
  }
}

$checkbox-size: 15px;

.checkbox {
  display: inline-block;
  label {
    padding-left: $checkbox-size;
  }
  input[type="checkbox"] {
    margin-left: -$checkbox-size;
  }
}
