<div class="titlebar" [ngClass]="borderCls">

  <div *ngIf="title" class="titlebar-zone left">
    <div class="form-title mt0">{{ title | translate }}</div>
  </div>

  <div *ngIf="!suppressCenterZone" class="titlebar-zone center">
    <ng-content></ng-content>
  </div>

  <div *ngIf="items?.length" class="titlebar-zone right">
    <div class="icon-section">
      <ng-container *ngFor="let item of items">
          <ng-container *ngIf="item.children; else button">
            <app-dropdown
              #dropdown
              position="right"
              class="icon"
              [ngClass]="item.classes | async"
              [title]="getTitle(item)"
              [enabled]="!(item.enabled | async)"
            >
              <i trigger class="co" [ngClass]="getIconCls(item)" aria-hidden="true"></i>
              <app-menu [items]="item.children"></app-menu>
            </app-dropdown>
          </ng-container>
          <ng-template #button>
            <button
              class="icon"
              [ngClass]="item.classes | async"
              [disabled]="!(item.enabled | async)"
              [title]="getTitle(item) | translate"
              (click)="item.action()"
            >
              <i class="co" [ngClass]="getIconCls(item)" aria-hidden="true"></i>
            </button>
          </ng-template>
      </ng-container><!-- item -->
    </div><!-- icon-section -->
  </div><!-- titlebar-zone -->

</div><!-- titlebar -->
