<div class="titlebar" [ngClass]="borderCls">

  <div *ngIf="title" class="titlebar-zone left">
    <div class="form-title mt0">{{ title | translate }}</div>
  </div>

  <div *ngIf="!suppressCenterZone" class="titlebar-zone center">
    <ng-content></ng-content>
  </div>

  <div *ngIf="items?.length" class="titlebar-zone right">
    <div class="icon-section">

      <button
        *ngFor="let item of items"
        class="icon"
        [disabled]="isDisabled(item) | async"
        [title]="getTitle(item)"
        (click)="item.action()"
      >
        <i class="co" [ngClass]="getIconCls(item)" aria-hidden="true"></i>
      </button><!-- item -->

    </div><!-- icon-section -->
  </div><!-- titlebar-zone -->

</div><!-- titlebar -->
