@import '../../../shared/styles/app/variables.scss';

::ng-deep .icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: $titlebar-button-size;
  height: $titlebar-button-size;
  padding: 0;
  padding-top: 4px;
  margin-right: 4px;
  border: 0;
  background-color: $form-toolbar-icon-bg-color;
  transition: all 150ms ease-in-out;

  &:not(:disabled):hover {
    background-color: rgba(251, 204, 140, 0.3);
    cursor: pointer;
  }
  &:disabled {
    color: $form-toolbar-icon-disabled-color;
  }

  .co {
    font-size: 18px;
    width: 1em;
    height: 1em;
  }
  // display: inline-block;
  // width: $toolbar-button-size;
  // height: $toolbar-button-size;
  // border: 1px solid transparent;
  // text-align: center;
  // font-size: 18px;
  // padding: 0;
  &.btn-default {
    color: $form-toolbar-icon-color;
    border-color: transparent;
    &:hover {
      color: $form-toolbar-icon-color;
      border-color: transparent;
    }
    &[disabled] {
      color: $form-toolbar-icon-disabled-color;
    }
  }
  transition: 100ms all ease-in-out;
  // i {
  //   display: inline-block;
  //   font-size: inherit;
  //   height: 1em;
  //   width: 1em;
  // }
  // // This prevents changing default button styles on hover
  // &[disabled] {
  //   color: $form-toolbar-icon-disabled-color;
  //   &:hover {
  //     background-color: #fff;
  //     border-color: transparent;
  //   }
  // }
}

$checkbox-size: 15px;

.checkbox {
  display: inline-block;
  label {
    padding-left: $checkbox-size;
  }
  input[type="checkbox"] {
    margin-left: -$checkbox-size;
  }
}
