<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <!-- Autocomment ID -->
  <div>
    <label>
      <span class="form-label">
        {{ 'routes.workplaces.shared.contactRegistration.edit.form.autoComment.comment' | translate }}
      </span>
      <app-select
        formControlName="autoCommentId"
        [options]="autoCommentIdOptions$ | async"
      ></app-select>
    </label>
  </div>

  <!-- Autocomment Text -->
  <div>
    <app-textarea
      formControlName="autoComment"
      label="routes.workplaces.shared.contactRegistration.edit.form.autoComment.autoComment"
    ></app-textarea>
  </div>

  <hr>
</div>
