<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <!-- Autocomment ID -->
  <div>
    <label>
      <span class="form-label">
        <!-- TODO(d.maltsev): i18n -->
        Выберите автокомментарий
      </span>
      <app-select
        formControlName="autoCommentId"
        [nullable]="true"
        [options]="autoCommentIdOptions$ | async"
      ></app-select>
    </label>
  </div>

  <!-- Autocomment Text -->
  <div>
    <label>
      <span class="form-label">
        {{ 'modules.contactRegistration.misc.autoComment' | translate }}
      </span>
    </label>
    <app-html-textarea
      formControlName="autoComment"
    ></app-html-textarea>
  </div>

  <hr>
</div>
