<app-metadata-filter
  [metadataKey]="metadataKey"
  (filter)="onFilterHandler()"
></app-metadata-filter>

<app-grid2
  *ngIf="initialized"
  [actions]="gridActionsForSelected$ | async"
  [columnIds]="columnIds"
  [columns]="columns"
  [fullHeight]="fullHeight"
  [ngClass]="ngClass"
  [persistenceKey]="persistenceKey"
  [rowCount]="rowCount"
  [rowIdKey]="rowIdKey"
  [rows]="rows"
  (action)="onAction($event)"
  (onDblClick)="onDblClickHandler($event)"
  (onFilter)="onFilterHandler()"
  (onPage)="onPageHandler()"
  (onPageSize)="onPageSizeHandler()"
  (onSort)="onSortHandler()"
  (onSelect)="onSelectHandler($event)"
></app-grid2>
