<div class="mv">
  <app-metadata-filter
    [metadataKey]="metadataKey"
    (filter)="onFilterHandler()"
  ></app-metadata-filter>
</div>

<app-grid2
  *ngIf="initialized"
  [actions]="gridActions$ | async"
  [columns]="columns"
  [columnIds]="columnIds"
  [ngClass]="ngClass"
  [persistenceKey]="persistenceKey"
  [rowIdKey]="rowIdKey"
  [rows]="rows"
  [rowCount]="rowCount"
  (action)="onAction($event)"
  (onDblClick)="onDblClickHandler($event)"
  (onFilter)="onFilterHandler()"
  (onPage)="onPageHandler()"
  (onPageSize)="onPageSizeHandler()"
  (onSort)="onSortHandler()"
  (onSelect)="onSelectHandler($event)"
></app-grid2>
