<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div>
    <label>
      <span class="form-label">
        {{ 'routes.workplaces.shared.contactRegistration.edit.form.refusal.form.refusal' | translate }}
        <b class="text-danger">*</b>
      </span>
      <!-- TODO(d.maltsev): filter by parent 3 -->
      <app-select-wrapper
        formControlName="refusalReasonCode"
        [dictCode]="statusChangeReasonDictCode"
        [nullable]="false"
        [required]="true"
      ></app-select-wrapper>
    </label>
  </div>

  <hr>
</div>
