<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <div>
    <label>
      <span class="form-label">
        {{ '' | translate }}
        <b class="text-danger">*</b>
      </span>
      <!-- TODO(d.maltsev): filter by parent 3 -->
      <app-select
        formControlName="refusalReasonCode"
        [dictCode]="statusChangeReasonDictCode"
        label="routes.workplaces.shared.contactRegistration.edit.form.refusal.form.refusal"
        [isRequired]="true"
      ></app-select>
    </label>
  </div>

  <hr>
</div>
