app-grid2 {
  line-height: 0;
}

.app-grid {
  width: 100%;

  .header-item-wrapper {
    width: 100%;
  }

  .header-item-wrapper:hover {
    .header-filter-item {
      visibility: visible;
    }
  }

  .header-item-wrapper > * {
    display: inline-block;
  }

  .header-display-item {
    padding-left: 1.2rem;
    float: left;
  }

  .header-filter-item {
    visibility: hidden;
  }

  .header-filter-item, .header-sort-item {
    width: 20px;
    float: right;
    cursor: pointer;
  }
}
