<div class="grid grid-default">
    <!--<app-toolbar
      *ngIf="hasToolbar"
      class="app-toolbar"
      [actions]="toolbarActions"
      (actionClick)="onActionClick($event)"
    >
    </app-toolbar>-->
    <ag-grid-angular
      class="app-grid2 ag-contact2"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [ngStyle]="styles"
      [overlayNoRowsTemplate]="'default.grid.empty' | translate"
      [overlayLoadingTemplate]="'default.grid.empty' | translate"
      [rowSelection]="rowSelection"
      (dragStarted)="onDragStarted()"
      (dragStopped)="onDragStopped()"
      (rowSelected)="onSelect($event)"
      (rowDoubleClicked)="onRowDoubleClicked()"
    >
    </ag-grid-angular>
</div>
<!--<app-toolbar
  *ngIf="gridToolbarActions"
  class="app-toolbar"
  [actions]="gridToolbarActions"
  (actionClick)="onToolbarActionClick($event)"
  (actionSelect)="onToolbarActionSelect($event)"
>
</app-toolbar>-->
