@import '../../../../shared/styles/app/variables.scss';

$toolbar-button-size: 32px;

.toolbar-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.toolbar-item-checkbox {
  margin-left: 5px;
  line-height: 30px;
  color: $text;
}

.disabled {
  opacity: .5;
}

::ng-deep .toolbar-button {
  width: $toolbar-button-size;
  height: $toolbar-button-size;
  border: 1px solid transparent;
  text-align: center;
  font-size: 18px;
  padding: 0;
  line-height: $toolbar-button-size + 2px;
  &.btn-default {
    color: $form-toolbar-icon-color;
    border-color: transparent;
    &:hover {
      color: $form-toolbar-icon-color;
      border-color: transparent;
    }
    &[disabled] {
      color: $form-toolbar-icon-disabled-color;
    }
  }
  transition: 100ms all ease-in-out;
  // This prevents changing default button styles on hover
  &[disabled] {
    color: $form-toolbar-icon-disabled-color;
    &:hover {
      background-color: #fff;
      border-color: transparent;
    }
  }
}
