<ng-container *ngIf="hasViewPermission | async">
  <app-toolbar-2
    class="app-toolbar bordered"
    [items]="toolbarActions"
    (actionClick)="onSaveChanges()"
  >
  </app-toolbar-2>
  <app-tree
    *ngIf="value"
    [selectionMode]="(hasEditPermission | async) ? 'checkbox' : ''"
    [style]="{height: '100%', width: '100%', border: 'none'}"
    [value]="value"
    (selectionChange)="onSelectionChange($event)"
    [selection]="selection">
  </app-tree>
  <div
    *ngIf="!value"
    class="message-container">
    {{ 'default.grid.empty' | translate }}
  </div>
</ng-container>
<ng-container *ngIf="!(hasViewPermission | async)">
  <div class="message-container">
    {{ 'roles.permissions.tree.access_denied' | translate }}
  </div>
</ng-container>
