<div class="flex vertical">
  <app-toolbar
    class="flex-item bordered"
    [toolbar]="toolbar"
    (actionClick)="onSaveChanges()"
  ></app-toolbar>

  <ng-container *ngIf="hasViewPermission | async; else message">
    <div *ngIf="value" class="flex-item grow">
      <app-tree
        [selection]="selection"
        [selectionMode]="(hasEditPermission | async) ? 'checkbox' : ''"
        [style]="{ height: '100%', width: '100%', border: 'none' }"
        [value]="value"
        (selectionChange)="onSelectionChange($event)"
      ></app-tree>
    </div>

    <div *ngIf="!value" class="message-container">
      {{ 'default.grid.empty' | translate }}
    </div>
  </ng-container>
</div>

<ng-template #message>
  <div class="message-container">
    {{ 'roles.permissions.tree.access_denied' | translate }}
  </div>
</ng-template>
