<app-accordion>
  <app-accordion-item title="modules.contactRegistration.outcomeForm.title">
    <app-contact-registration-outcome
      [debtId]="debtId"
      [contactTypeCode]="contactTypeCode">
    </app-contact-registration-outcome>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.promise.title">
    <app-contact-registration-promise></app-contact-registration-promise>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.payment.title">
    <app-contact-registration-payment></app-contact-registration-payment>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.phone.title">
    <app-contact-registration-phone></app-contact-registration-phone>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.fileAttach.title">
    <app-contact-registration-attachment></app-contact-registration-attachment>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.misc.title">
    <app-contact-registration-misc></app-contact-registration-misc>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.attributesTitle">
    <app-contact-registration-attributes
      [debtId]="debtId"
      [contactTypeCode]="contactTypeCode">
    </app-contact-registration-attributes>
  </app-accordion-item>
  <app-accordion-item title="modules.contactRegistration.parametersForm.commentTitle">
    <app-contact-registration-comment></app-contact-registration-comment>
  </app-accordion-item>
</app-accordion>
