<div class="mb">
  <p-steps [model]="steps" [(activeIndex)]="step" [readonly]="false"></p-steps>
</div>

<div [hidden]="step != 0">
  <app-outcome-form
    [debtId]="debtId"
    [contactTypeCode]="contactTypeCode">
  </app-outcome-form>
</div>

<div [hidden]="step != 1">
  <app-tabstrip [disableScrollbar]="true" [inverse]="true">
    <app-tab [title]="'tab 1'" [closable]="false">
      Tab 1
    </app-tab>
    <app-tab [title]="'tab 2'" [closable]="false">
      Tab 2
    </app-tab>
    <app-tab [title]="'tab 3'" [closable]="false">
      Tab 3
    </app-tab>
    <app-tab [title]="'tab 4'" [closable]="false">
      Tab 4
    </app-tab>
    <app-tab [title]="'tab 5'" [closable]="false">
      Tab 5
    </app-tab>
    <app-tab [title]="'tab 6'" [closable]="false">
      Tab 6
    </app-tab>
    <app-tab [title]="'tab 7'" [closable]="false">
      Tab 7
    </app-tab>
    <app-tab [title]="'tab 8'" [closable]="false">
      Tab 8
    </app-tab>
    <app-tab [title]="'tab 9'" [closable]="false">
      Tab 9
    </app-tab>
    <app-tab [title]="'tab 10'" [closable]="false">
      Tab 10
    </app-tab>
    <app-tab [title]="'tab 11'" [closable]="false">
      Tab 11
    </app-tab>
    <app-tab [title]="'tab 12'" [closable]="false">
      Tab 12
    </app-tab>
  </app-tabstrip>
</div>
