<app-dialog-action
  *ngIf="isDialog('confirm')"
  actionMode="success"
  actionTranslationKey="debtor.paymentsTab.confirm.message"
  actionMessage="default.buttons.ok"
  titleTranslationKey="debtor.paymentsTab.confirm.title"
  (action)="onConfirm()"
  (cancel)="onCancel()"
></app-dialog-action>

<app-dialog-action
  *ngIf="isDialog('cancel')"
  actionMode="warning"
  actionTranslationKey="debtor.paymentsTab.cancel.message"
  actionMessage="default.buttons.save"
  titleTranslationKey="debtor.paymentsTab.cancel.title"
  (action)="onCancelConfirm()"
  (cancel)="onCancel()"
></app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/shared/payment"
  [columns]="columns"
  [rows]="rows"
  [toolbar]="hideToolbar ? null : toolbarItems"
  (select)="onSelect($event)"
  (dblClick)="onDoubleClick($event)"
></app-simple-grid>
