<label (click)="onLabelClick($event)">
  <span *ngIf="label" class="form-label">
    {{ label | translate }}
    <i class="fa fa-language"></i>
    <b *ngIf="isRequired" class="text-danger">*</b>
  </span>

  <div class="input-group" appDropdown>

    <div class="input-group-btn">

      <button type="button" class="btn btn-default" #dropdownTrigger>
        <span class="button-label">{{ buttonText | translate }}</span>
        <i class="caret"></i>
      </button>

      <ul class="list-group m0" #dropdownContent>
        <li
          *ngFor="let option of langOptions"
          class="list-group-item b0 clickable"
          (click)="onLanguageChange(option)"
          [ngClass]="{'main-language': !!option.isMain}"
        >
          {{ option.label | translate }}
        </li>
      </ul>

    </div><!-- input-group-btn -->

    <div class="input-wrapper">
      <input
        #input
        class="form-control"
        type="text"
        [ngModel]="value"
        [attr.placeholder]="(placeholder || '') | translate"
        (ngModelChange)="onValueChange($event)"
        (focusout)="onFocusOut()"
      >
      <i *ngIf="value != null && !isDisabled" class="co co-clear clear-btn" (click)="onClear($event)"></i>
    </div><!-- input-wrapper -->

  </div><!-- input-group -->
</label>
