<div class="input-group">
  <div class="input-group-btn">
    <app-dropdown [fullWidth]="true">
      <ng-container trigger>
        <button type="button" class="btn btn-default dropdown-toggle">
          <span style="display: inline-block; width: 100px; text-align: left;">{{ label | translate }}</span>
          <span class="caret"></span>
        </button>
      </ng-container>
      <div>
        <ul class="list-group m0">
          <li
            *ngFor="let option of langOptions"
            class="list-group-item b0 clickable"
            (click)="onLanguageChange(option)"
            [ngClass]="{'main-language': !!option.isMain}"
          >
            {{ option.label | translate }}
          </li>
        </ul>
      </div>
    </app-dropdown>
  </div>
  <div class="input-wrapper">
    <input
      class="form-control"
      type="text"
      [ngModel]="model"
      [disabled]="controlDisabled"
      (ngModelChange)="onValueChange($event)"
    >
    <i *ngIf="model !== null" class="fa fa-close" (click)="onClear()"></i>
  </div>

</div>
