@import '../../../styles/app/variables';

.input-wrapper {
  position: relative;
  &:hover {
    .fa-close {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      cursor: pointer;
      z-index: 2;
    }
  }
}

.input-group-btn {
  font-size: inherit;
}

.main-language {
  text-decoration: underline lighten($brand-primary-light, 20%);
}
