<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.object.dialogs.add.title' | translate }}</h3>
  </div>
  <div style="height: 75vh;">
    <app-simple-grid
      persistenceKey="[grid] admin/roles/objects/add"
      selectionType="multiple"
      [columns]="columns"
      [rows]="rows"
      (select)="onSelect()"
    ></app-simple-grid>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.add' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
