@import '../shared/styles/app/variables.scss';

.wrapper {
  height: 100%;
  padding: $layout-content-border-width;
  background-color: $layout-content-background-color;
  overflow: auto;
  .content {
    overflow-y: auto;
    height: 100%;
    padding: $layout-content-padding;
    background-color: white;
    box-shadow: 0px 2px 3px 0 rgba(10, 9, 14, .25);
  }
}

::ng-deep app-progressbar .progress {
  height: 8px;
  margin-bottom: 0;
}
