<app-pledgor-grid
  *ngIf="isDialog('findPledgor')"
  [searchParams]="searchParams"
  (close)="onCloseDialog()"
  (select)="onSelect($event)">
</app-pledgor-grid>

<div>
  <button class="btn btn-default" (click)="onClear()">
    <i class="fa fa-times"></i> {{ 'default.buttons.clear' | translate }}
  </button>
  <button class="btn btn-default" (click)="onSearch()" [disabled]="!(canSearch$ | async)">
    <i class="fa fa-search"></i> {{ 'widgets.pledgor.search.title' | translate }}
  </button>
</div>

<div class="pb-lg">
  <app-dynamic-form *ngIf="controls" [controls]="controls" [data]="pledgor"></app-dynamic-form>
</div>
