<div class="flex vertical">
  <app-titlebar class="flex-item" [titlebar]="titlebar"></app-titlebar>

  <div class="flex-item grow">
    <app-simple-grid
      [columns]="columns"
      [rows]="users"
      (select)="onSelect($event)"
      (dblClick)="onEdit($event)"
    ></app-simple-grid>
  </div>
</div>

<!-- <app-toolbar-2 class="bordered" [items]="toolbarItems"></app-toolbar-2> -->

<!--
<app-grid
  selectionType="single"
  [columns]="columns"
  columnTranslationKey="users"
  [emptyMessage]="emptyMessage$ | async"
  [filter]="filter"
  [selection]="selection"
  [rows]="users"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>
-->
