<app-user-edit
  *ngIf="isEntityBeingCreated"
  title="users.create.title"
  (submit)="onAddSubmit($event)"
  (cancel)="cancelAction()">
</app-user-edit>

<app-user-edit
  *ngIf="isEntityBeingEdited"
  title="users.edit.title"
  [editedEntity]="selectedEntity"
  (submit)="onEditSubmit($event)"
  (cancel)="cancelAction()">
</app-user-edit>

<app-grid
  selectionType="single"
  [columns]="columns"
  [columnTranslationKey]="'users'"
  [dataSource]="dataSource"
  [filter]="filter"
  [parseFn]="parseFn"
  [bottomActions]="bottomActions"
  (onRowSelect)="onSelectedRowChange($event)"
  (onAction)="onAction($event)"
  (onEdit)="onEdit()">
</app-grid>
