<app-user-edit
  *ngIf="isEntityBeingCreated"
  title="users.create.title"
  [roles]="roles"
  [languages]="languages"
  (submit)="onAddSubmit($event)"
  (cancel)="cancelAction()">
</app-user-edit>

<app-user-edit
  *ngIf="isEntityBeingEdited"
  title="users.edit.title"
  [roles]="roles"
  [languages]="languages"
  [editedEntity]="editedEntity"
  (submit)="onEditSubmit($event)"
  (cancel)="cancelAction()">
</app-user-edit>

<app-toolbar-2
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  selectionType="single"
  [autoLoad]="false"
  [columns]="columns"
  [columnTranslationKey]="'users'"
  [dataSource]="dataSource"
  [filter]="filter"
  [rows]="(state | async).users"
  (onRowSelect)="onSelectedRowChange($event)"
  (onEdit)="onEdit()">
</app-grid>
