<div>
  <div *ngFor="let column of columns" class="gridtree-cell">
    <span *ngIf="column.prop == displayTreeProp" class="gridtree-cell-expand" [ngStyle]="{ 'padding-left': 10 * nestingLevel + 'px' }">
      <span class="gridtree-cell-expand-icon" (click)="toggle()">
        <i *ngIf="hasChildren" class="fa fa-plus-square-o"></i>&nbsp;
      </span>
    </span>
    {{ row.data[column.prop] }}
  </div>
</div>

<ng-container *ngIf="isExpanded">
  <app-gridtree-row
    *ngFor="let item of row.children"
    [columns]="columns"
    [displayTreeProp]="displayTreeProp"
    [nestingLevel]="nestingLevel + 1"
    [row]="item">
  </app-gridtree-row>
</ng-container>
