<div
  class="gridtree-row"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
>
  <app-gridtree-row-content
    [row]="row"
    [columns]="columns"
    [displayTreeProp]="displayTreeProp"
    [nestingLevel]="nestingLevel"
    [isExpanded]="isExpanded"
    [isHighlighted]="isMouseOver"
    (toggle)="onToggle()"
  ></app-gridtree-row-content>
</div>

<ng-container *ngIf="isExpanded">
  <app-gridtree-row
    *ngFor="let item of row.children"
    [columns]="columns"
    [displayTreeProp]="displayTreeProp"
    [nestingLevel]="nestingLevel + 1"
    [row]="item">
  </app-gridtree-row>
</ng-container>
