<app-tabview [noMargin]="true" (select)="onTabSelect($event)">

  <!-- Select from persons linked to debt -->
  <app-tabview-tab [title]="'modules.contactRegistration.contactGrid.tabs.selectFromDebt.title'" [closable]="false">
    <app-contact-registration-contact-select-grid
      [debtId]="debtId"
      [excludeCurrentPersonId]="excludeCurrentPersonId"
      [personId]="personId"
    ></app-contact-registration-contact-select-grid>
  </app-tabview-tab>

  <!-- Select from all persons -->
  <app-tabview-tab [title]="'modules.contactRegistration.contactGrid.tabs.selectFromAll.title'" [closable]="false">
    <div class="mt">
      <app-contact-registration-contact-select-search></app-contact-registration-contact-select-search>
    </div>
  </app-tabview-tab>

  <!-- Add manually -->
  <app-tabview-tab [title]="'modules.contactRegistration.contactGrid.tabs.add.title'" [closable]="false">
    <div class="mt">
      <app-contact-registration-contact-select-card></app-contact-registration-contact-select-card>
    </div>
  </app-tabview-tab>
</app-tabview>
