@import "../../../shared/styles/app/variables";

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: $zindex-app-dialog;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $modal-backdrop-bg;
}

.dialog {
  position: relative;
  display: inline-block;
  background-color: $modal-content-bg;
  width: 50%;
  // max-width: 50%;
  cursor: default;
}

.dialog_header,
.dialog_content,
.dialog_footer {
  position: relative;
}

.dialog_header {
  /* can be extended wherever necessary */
  outline: none;
}

.dialog_header /deep/ {
  [dialog-header] {
    padding: 14px 24px;
    background-color: $app-dialog-header-bg-color;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    color: $app-dialog-header-color;
  }
}

.dialog_footer {
  padding: 12px 24px;
  text-align: right;
  background-color: $modal-footer-bg;
  border-top: 1px solid $modal-footer-border-color;
}

.dialog_content {
  padding: 16px 24px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: $modal-content-bg;
  & /deep/ .dialog_message {
    padding: 30px 10px 50px;
  }
}

.dialog_close {
  position: absolute;
  top: 20px;
  right: 12px;
  font-size: 16px;
  line-height: 16px;
  color: $app-dialog-close-color;
  cursor: pointer;
  &:hover {
    color: $app-dialog-close-hover-color;
  }
}
