<app-dynamic-layout
  *ngIf="templates"
  [layout]="layout"
  [templates]="templates"
></app-dynamic-layout>

<ng-template #campaigns>
  <app-action-grid
    metadataKey="pbxCampaigns"
    persistenceKey="pbxCampaigns"
    [fullHeight]="true"
    [rows]="rows"
    [rowCount]="rowCount"
    (request)="onRequest()"
    (selectRow)="onSelectRow($event)"
  ></app-action-grid>
</ng-template>

<ng-template #statistics>
  <app-genesys-statistics
    [statistics]="statisticsRows"
  ></app-genesys-statistics>
</ng-template>

