<section [formGroup]="formGroup">
  <div class="form-group">
    <app-text
      formControlName="text1"
      label="Empty"
    ></app-text>
  </div>

  <div class="form-group">
    <app-text
      formControlName="text2"
      label="Not so empty"
    ></app-text>
  </div>

  <div class="form-group">
    <app-text
      formControlName="text3"
      label="Validation (required)"
      [errors]="errors.text3"
      [required]="true"
    ></app-text>
  </div>

  <div class="form-group">
    <app-text
      formControlName="text4"
      label="Validation (min length = 5, max length = 10)"
      minLength="5"
      maxLength="10"
      [errors]="errors.text4"
    ></app-text>
  </div>

  <div class="form-group">
    <app-text
      formControlName="text5"
      label="Disabled"
    ></app-text>
  </div>
</section>
