<section [formGroup]="formGroup">
  <div class="form-group">
    <label>Empty</label>
    <app-text formControlName="text1"></app-text>
  </div>

  <div class="form-group">
    <label>Not so empty</label>
    <app-text formControlName="text2"></app-text>
  </div>

  <div class="form-group">
    <label>Validation (min length = 5, max length = 10)</label>
    <app-text formControlName="text3" minLength="5" maxLength="10"></app-text>
    <div class="mv-sm"><em>Validation errors:</em></div>
    <pre>{{ errors | json }}</pre>
  </div>

  <div class="form-group">
    <label>Disabled</label>
    <app-text formControlName="text4"></app-text>
  </div>
</section>
