<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.attribute.dialogs.version.title' | translate }}</h3>
  </div>
  <div>
    <app-dynamic-form *ngIf="controls" [controls]="controls" [data]="formData"></app-dynamic-form>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
