<app-dialog-action
  *ngIf="(dialog$ | async) === 'delete'"
  titleTranslationKey="widgets.debt.component.remove.title"
  actionTranslationKey="widgets.debt.component.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDebtComponent$ | async"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/shared/debt-component"
  [columns]="columns"
  [toolbar]="displayToolbar ? toolbar : null"
  [rows]="components"
  (selectRow)="onSelect($event)"
  (dblClick)="onDoubleClick($event)">
</app-simple-grid>
