@import "../../../styles/app/variables.scss";

:host {
  display: block;
}

.group-titlebar {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 5px;
  padding: 5px 0;
}

.vertical-group {
  overflow-y: auto;
}

.horizontal-group {
  overflow-x: auto;
}
