<app-contractor-objects-grid-add
  *ngIf="isDialog('add')"
  [contractorId]="contractorId"
  [typeCode]="selectedTypeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()"
></app-contractor-objects-grid-add>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.contractorObject.dialogs.delete.title"
  actionTranslationKey="widgets.contractorObject.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedObject$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="">
  <app-select
    [ngModel]="selectedTypeCode"
    [nullable]="false"
    [options]="typeCodeOptions"
    (onSelect)="onSelectType($event)"
  ></app-select>
</div>

<div class="flex vertical">
  <div class="flex-item">
    <app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>
  </div>

  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] admin/contractors/edit/objects-grid"
      selectionType="multiple"
      [columns]="columns"
      [rows]="rows"
      (onSelect)="onSelect($event)"
    ></app-simple-grid>
  </div>
</div>
