<!-- single-option-select -->
<label>
  <span *ngIf="label" class="form-label">
    {{ label | translate }}
    <b *ngIf="isRequired" class="text-danger">*</b>
  </span>

  <div
    class="ui-select-container dropdown open"
    [ngStyle]="styles"
    [attr.disabled]="disabled || undefined"
    [appOffClick]="clickedOutside"
    >

    <div *ngIf="!inputMode" class="ui-select-match">
      <span
        class="form-control no-select"
        (click)="onMatchClick($event)"
      >
        <span>{{ activeLabel }}</span>
        <i *ngIf="!disabled" class="caret app-select-caret"></i>
      </span>
    </div>

    <input
      #input
      type="text"
      *ngIf="inputMode"
      class="form-control app-select-search"
      autocomplete="off"
      [ngClass]="{ 'no-select': !this.isInputVisible() }"
      (click)="onInputClick($event)"
      [placeholder]="displayPlaceholder"
    >
    <ul
      *ngIf="optionsOpened"
      class="ui-select-choices dropdown-menu"
      appAlignment
      [alignTarget]="input"
      [autoAlign]="autoAlign"
    >
      <li *ngFor="let option of options | rawDataFilter: { sortType: sortType }">
        <div
          class="ui-select-item"
          [ngClass]="{ active: isActive(option) }"
          (click)="onSelectMatch($event, option)"
        >
          <div class="dropdown-item" [innerHtml]="toDisplayValue(option)"></div>
        </div>
      </li>

    </ul>
  </div>

</label>
