@import '../../../styles/app/variables.scss';

i.co {
  font-size: 15px;
  width: 1em;
  height: 1em;
}

.select-search {
  width: 100%;
  padding-right: 3.5em;
}

.select-clear {
  position: absolute;
  top: 0.4em;
  right: 1.5em;
  cursor: pointer;
}

.select-caret {
  position: absolute;
  top: 0.35em;
  right: 0.3em;
  transition: transform 400ms ease;
  transform: rotateZ(270deg);
  &.up {
    transform: rotateZ(90deg);
    top: 0.4em;
  }
  cursor: pointer;
}

.select-choices {
  width: 100%;
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
  margin-top: 0;

  &.dropdown-menu {
    border-top: 0;
    min-width: unset;
  }
}

.select-container {
  font-weight: normal;
  > .select-match > .form-control {
    padding-right: 24px;
    white-space: nowrap;
  }
  &[disabled] {
    > .select-match > .form-control {
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

.select-container[disabled] * {
  background-color: $gray-lighter;
  cursor: not-allowed;
}

.select-item {
  &.active {
    .dropdown-item {
      color: #fff;
      background-color: #23b7e5;
    }
  }
  &:hover {
    background-color: #eee;
  }
  .dropdown-item {
    padding: 3px $padding-base-horizontal;
    line-height: 1.42857143;
    color: #333;
    font-weight: normal;
    cursor: pointer;
  }
}
