<ng-template #optionsTemplate>
  <ul
    *ngIf="optionsOpened"
    alignment
    role="menu"
    class="ui-select-choices dropdown-menu"
    [alignTarget]="inputRef"
    [autoAlignEnabled]="autoAlignEnabled"
  >
    <li *ngIf="filterEnabled"
        class="app-select-search-wrapper">
      <input
        focus
        type="text"
        class="form-control app-select-search"
        [(ngModel)]="filterValue"
      >
    </li>
    <li
      *ngFor="let action of actions"
      role="menuitem"
      class="app-select-unselectable"
    >
      <div
        class="app-select-tool"
        (click)="actionClick(action, $event)"
      >
        {{ action.text | translate }}
        <span
          *ngIf="action.actionIconCls"
          class="{{action.actionIconCls}}">
        </span>
      </div>
    </li>
    <li
      *ngFor="let rawItem of rawData | rawDataFilter: { sortType: sortType }"
      role="menuitem"
    >
      <div
        class="ui-select-choices-row"
        [ngClass]="{ active: isActive(rawItem) }"
        (mouseenter)="selectActive(rawItem)"
        (click)="onSelectMatch($event, rawItem)"
      >
        <div
          class="dropdown-item"
          [innerHtml]="toDisplayValue(rawItem)">
        </div>
      </div>
    </li>
  </ul>
</ng-template>

<div
  class="ui-select-container dropdown open"
  *ngIf="multiple === false"
  [ngStyle]="styles"
  [attr.disabled]="disabled"
  [offClick]="clickedOutside"
  (keyup)="mainClick($event)"
>
  <div
    *ngIf="!inputMode"
    class="ui-select-match"
  >
    <span
      tabindex="-1"
      class="form-control app-select-unselectable"
      (click)="matchClick($event)"
    >
      <span
        *ngIf="active.length"
        [innerHTML]="toDisplayValue(active[0])"
      >
      </span>
      <i class="caret app-select-caret"></i>
    </span>
  </div>
  <input
    #input
    *ngIf="inputMode"
    tabindex="-1"
    type="text"
    autocomplete="false"
    [attr.readonly]="readonly"
    [ngClass]="{ hidden: !isInputVisible()}"
    class="form-control app-select-search app-select-unselectable"
    (click)="onInputClick($event)"
    [placeholder]="displayPlaceholder"
  >
  <ng-container *ngTemplateOutlet="optionsTemplate">
  </ng-container>
</div>

<div tabindex="0"
     [ngStyle]="styles"
     [attr.disabled]="disabled"
     *ngIf="multiple === true"
     (keyup)="mainClick($event)"
     [offClick]="clickedOutside"
     class="ui-select-container ui-select-multiple dropdown form-control open">
      <span class="ui-select-match">
          <span *ngFor="let activeItem of active"
                class="ui-select-match-item btn btn-default btn-secondary btn-xs"
                tabindex="-1"
                type="button"
                (click)="activeItemClick(activeItem, $event)"
                [ngClass]="{'btn-default': true, 'selected': activeItem.selected, 'context-exist': isItemContextExist(activeItem)}">
             <span
               *ngIf="canCloseSelectedItem(activeItem)"
               class="app-select-close-action"
               (click)="removeClick(activeItem, $event)">&times;
             </span>
             <span [innerHtml]="toDisplayValue(activeItem)"></span>
          </span>
          <i class="caret app-select-caret"></i>
    </span>
  <input
    #input
    type="text"
    (click)="matchClick($event)"
    [attr.readonly]="readonly"
    [ngClass]="{ hidden: !isInputVisible()}"
    autocomplete="false"
    class="form-control app-select-search app-select-unselectable"
    [placeholder]="displayPlaceholder"
    role="combobox"
  >
  <ng-container *ngTemplateOutlet="optionsTemplate">
  </ng-container>
</div>
