<h4>По номеру телефона</h4>

<div class="mb">
  <app-grid
    columnTranslationKey="debtor.information.address"
    selectionType="single"
    [styles]="{ height: '200px' }"
    [columns]="columns"
    [rows]="addresses"
    (onSelect)="onSelect($event)"
    (onDblClick)="onDoubleClick($event)"
  ></app-grid>
</div>

<app-button
  color="primary"
  type="registerContact"
  label="Зарегистрировать выбранный адрес"
  [disabled]="!(canRegisterSelectedAddress$ | async)"
  (click)="onSubmit()"
></app-button>
