<app-toolbar-2 class="bh bt" [items]="toolbarItems"></app-toolbar-2>

<app-contact-registration-attachment-edit
  *ngIf="isDialog('edit')"
  (submit)="onEditDialogSubmit($event)"
  (close)="onCloseDialog()"
></app-contact-registration-attachment-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.document.dialogs.delete.title"
  actionTranslationKey="widgets.document.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDocument$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="mb">
  <app-grid
    columnTranslationKey="widgets.document"
    selectionType="single"
    [styles]="{ height: '200px' }"
    [columns]="columns"
    [rows]="documents"
    (onDblClick)="onDoubleClick($event)"
    (onSelect)="onSelect($event)"
  ></app-grid>
</div>

<app-button type="next" [disabled]="formDisabled$ | async" (click)="onNextClick()"></app-button>
