<nav class="flex vertical" [ngClass]="{ collapsed: isCollapsed }" (transitionend)="onTransitionEnd($event)">
  <!-- Menu -->
  <ul class="flex-item grow">
    <li *ngFor="let item of menuItems$ | async" [routerLink]="item.link" routerLinkActive="active" [title]="item.text | translate">
      <div class="menu-item">
        <div class="icon-container">
          <i *ngIf="item.icon" [ngClass]="item.icon"></i>
        </div>
        <div class="menu-item-title" [ngClass]="{ showTitle: showTitle }">{{ item.text | translate }}</div>
      </div>
    </li>
  </ul>
  <!-- Menu -->
  <!-- Collapse button -->
  <div class="flex-item">
    <div class="sidebar-collapse text-center" (click)="onSidebarToggle()">

      <ng-container *ngIf="isCollapsed; else collapse">
        <i class="fa fa-angle-double-right"></i>
      </ng-container>
      <ng-template #collapse>
        <i class="fa fa-angle-double-left"></i>
        <span class="toggle-title" [ngClass]="{ showTitle: showTitle }">
          {{ 'sidebar.nav.hide' | translate }}
        </span>
      </ng-template>

    </div>
  </div>
  <!-- Collapse button -->
</nav>
