@import "../../shared/styles/app/variables";

nav {
  background-color: #f5f7fa;
  border-right: 1px solid #ddd;
  width: $layout-sidebar-width;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;

    li {
      border-left: 3px solid transparent;
      color: $brand-primary-dark;
      cursor: pointer;
      padding: 10px 18px;

      &.active {
        border-left-color: $brand-secondary;
      }

      i {
        padding-right: 8px;
      }
    }
  }

  .sidebar-collapse {
    color: #aaa;
    cursor: pointer;
    padding: 10px 18px;
    text-align: right;
  }
}
