.sidebar-nav {
  padding-bottom: 40px;
}
.aside-inner {
  padding-top: 0 !important;
  position: relative;
  :after {
    content: "";
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    -webkit-transform: translateZ(0px)
  }
}

.nav:before,
.nav:after {
  content: none;
}

.sidebar:after {
  content: none;
}

