<nav class="flex vertical" [ngClass]="{ collapsed: isCollapsed }" (transitionend)="onTransitionEnd($event)">
  <!-- Menu -->
  <ul class="flex-item grow">
    <ng-container *ngFor="let item of menuItems$ | async">
      <li *ngIf="item.permission | async" [routerLink]="item.link" routerLinkActive="active" [title]="item.text | translate">
        <div class="flex align-center menu-item">
          <div class="flex icon-container flex">
            <i class="flex align-center" *ngIf="item.icon" [ngClass]="item.icon"></i>
          </div>
          <div class="menu-item-title" [ngClass]="{ showTitle: showTitle }">{{ item.text | translate }}</div>
        </div>
      </li>
    </ng-container>
  </ul>
  <!-- Menu -->
  <!-- Collapse button -->
  <div class="flex-item">
    <div class="sidebar-collapse text-center" (click)="onSidebarToggle()">

      <ng-container *ngIf="isCollapsed; else collapse">
        <i class="fa fa-angle-double-right"></i>
      </ng-container>
      <ng-template #collapse>
        <i class="fa fa-angle-double-left"></i>
        <span class="toggle-title" [ngClass]="{ showTitle: showTitle }">
          {{ 'sidebar.nav.hide' | translate }}
        </span>
      </ng-template>

    </div>
  </div>
  <!-- Collapse button -->
</nav>
