<div class="aside-inner sidebar-aside">
  <nav class="sidebar sidebar-nav" sidebar-anyclick-close="" [class.show-scrollbar]="settings.layout.asideScrollbar">
      <ul class="nav sidebar-nav__menu">
        <li *ngFor='let item of menuItems$ | async' [ngClass]="{ 'nav-heading': item.heading }" routerLinkActive="active">
          <a
            *ngIf="item.text"
            [routerLink]="item.link"
            [attr.route]="item.link"
            [title]="item.text | translate"
          >
            <em [class]="item.icon" *ngIf="item.icon"></em>
            <span>{{ item.text | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <app-sidebar-toggle></app-sidebar-toggle>
</div>
