<section class="flex vertical">
  <div class="flex-item">
    <h1>Simple Grid</h1>
  </div>
  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] help/grids"
      [columns]="columns"
      [rows]="rows"
      [showToolbar]="true"
    ></app-simple-grid>
  </div>
</section>

<section class="flex vertical">
  <div class="flex-item">
    <h1>Entity Grid</h1>
  </div>
  <div class="flex-item grow">
    <app-entity-grid [config]="config">
      <app-formula-calculate-action></app-formula-calculate-action>
    </app-entity-grid>
  </div>
</section>
