<div appDropdown style="position: relative;">
  <input
    #dropdownParent
    type="text"
    class="form-control"
    [ngModel]="momentValue | momentFormat:'MM/DD/YYYY HH:mm:SS'"
    [textMask]="mask"
    (blur)="onTouch()"
    (input)="onChange($event)"
    (wheel)="onWheel($event)"
  />
  <span class="toggle" #dropdownTrigger (click)="onTouch()">
    <i class="fa fa-calendar"></i>
  </span>
  <div #dropdownContent style="z-index: 60000;">
    <div class="datetimepicker">
      <app-date [minDateTime]="minDateTime" [maxDateTime]="maxDateTime" [ngModel]="value" (ngModelChange)="onDateChange($event)"></app-date>
      <app-time [minDateTime]="minDateTime" [maxDateTime]="maxDateTime" [ngModel]="value" (ngModelChange)="onTimeChange($event)"></app-time>
      <footer>
        <span (click)="setCurrentTime()">Сейчас</span>
        <span (click)="dropdown.close()">OK</span>
      </footer>
    </div>
  </div>
</div>
