<div appDropdown [fitWidthToContent]="true" style="position: relative;">
  <div #dropdownParent>
    <app-datetime-input
      format="MM/DD/YYYY HH:mm:ss"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
    ></app-datetime-input>
  </div>
  <span class="toggle" #dropdownTrigger (click)="onTouch()">
    <i class="fa fa-calendar"></i>
  </span>
  <div #dropdownContent class="datetimepicker-container">
    <div class="datetimepicker">
      <app-date [minDate]="minDateTime" [maxDate]="maxDateTime" [ngModel]="value" (ngModelChange)="onDateChange($event)"></app-date>
      <app-time [minTime]="minDateTime" [maxTime]="maxDateTime" [ngModel]="value" (ngModelChange)="onTimeChange($event)"></app-time>
      <footer>
        <span (click)="setCurrentTime()">{{ 'default.buttons.now' | translate }}</span>
        <span (click)="dropdown.close()">{{ 'default.buttons.ok' | translate }}</span>
      </footer>
    </div>
  </div>
</div>
