<div class="clearfix mhl ptl">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-add">

            </span>
            <span class="mls"> co-add</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-add-person">

            </span>
            <span class="mls"> co-add-person</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-attributes">

            </span>
            <span class="mls"> co-attributes</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-back">

            </span>
            <span class="mls"> co-back</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-calendar">

            </span>
            <span class="mls"> co-calendar</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-cancel">

            </span>
            <span class="mls"> co-call-cancel</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-incoming">

            </span>
            <span class="mls"> co-call-incoming</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-keypad">

            </span>
            <span class="mls"> co-call-keypad</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-outgoing">

            </span>
            <span class="mls"> co-call-outgoing</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-pause">

            </span>
            <span class="mls"> co-call-pause</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-transfer">

            </span>
            <span class="mls"> co-call-transfer</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-call-unpause">

            </span>
            <span class="mls"> co-call-unpause</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-change-status">

            </span>
            <span class="mls"> co-change-status</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-checkbox-mark">

            </span>
            <span class="mls"> co-checkbox-mark</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-close">

            </span>
            <span class="mls"> co-close</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-confirm">

            </span>
            <span class="mls"> co-confirm</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-contact-registration">

            </span>
            <span class="mls"> co-contact-registration</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-copy">

            </span>
            <span class="mls"> co-copy</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-delete">

            </span>
            <span class="mls"> co-delete</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-dialog-exclamation">

            </span>
            <span class="mls"> co-dialog-exclamation</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-dialog-info">

            </span>
            <span class="mls"> co-dialog-info</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-dialog-question">

            </span>
            <span class="mls"> co-dialog-question</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-download">

            </span>
            <span class="mls"> co-download</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-download-excel">

            </span>
            <span class="mls"> co-download-excel</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-edit">

            </span>
            <span class="mls"> co-edit</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-filter">

            </span>
            <span class="mls"> co-filter</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-filter-params">

            </span>
            <span class="mls"> co-filter-params</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-history">

            </span>
            <span class="mls"> co-history</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-image">

            </span>
            <span class="mls"> co-image</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-lock">

            </span>
            <span class="mls"> co-lock</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-action-log">

            </span>
            <span class="mls"> co-m-action-log</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-mail">

            </span>
            <span class="mls"> co-mail</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-managers">

            </span>
            <span class="mls"> co-managers</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-attributes">

            </span>
            <span class="mls"> co-m-attributes</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-call-campaigns">

            </span>
            <span class="mls"> co-m-call-campaigns</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-call-center">

            </span>
            <span class="mls"> co-m-call-center</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-call-incoming">

            </span>
            <span class="mls"> co-m-call-incoming</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-communication-out">

            </span>
            <span class="mls"> co-m-communication-out</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-constants">

            </span>
            <span class="mls"> co-m-constants</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-contact-log">

            </span>
            <span class="mls"> co-m-contact-log</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-contact-tree">

            </span>
            <span class="mls"> co-m-contact-tree</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-courts">

            </span>
            <span class="mls"> co-m-courts</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-courts-proceedings">

            </span>
            <span class="mls"> co-m-courts-proceedings</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-currencies">

            </span>
            <span class="mls"> co-m-currencies</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-data-upload">

            </span>
            <span class="mls"> co-m-data-upload</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-debtor-card">

            </span>
            <span class="mls"> co-m-debtor-card</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-debt-processing">

            </span>
            <span class="mls"> co-m-debt-processing</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-debts">

            </span>
            <span class="mls"> co-m-debts</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-dictionaries">

            </span>
            <span class="mls"> co-m-dictionaries</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-formulae">

            </span>
            <span class="mls"> co-m-formulae</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-groups">

            </span>
            <span class="mls"> co-m-groups</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-help">

            </span>
            <span class="mls"> co-m-help</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-home">

            </span>
            <span class="mls"> co-m-home</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-mail">

            </span>
            <span class="mls"> co-m-mail</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-message-scenarios">

            </span>
            <span class="mls"> co-m-message-scenarios</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-more">

            </span>
            <span class="mls"> co-more</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-org-structure">

            </span>
            <span class="mls"> co-m-org-structure</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-move">

            </span>
            <span class="mls"> co-move</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-payments">

            </span>
            <span class="mls"> co-m-payments</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-portfolios">

            </span>
            <span class="mls"> co-m-portfolios</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-roles">

            </span>
            <span class="mls"> co-m-roles</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-schedule">

            </span>
            <span class="mls"> co-m-schedule</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-search-groups">

            </span>
            <span class="mls"> co-m-search-groups</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-tasks">

            </span>
            <span class="mls"> co-m-tasks</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-upload-templates">

            </span>
            <span class="mls"> co-m-upload-templates</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-m-users">

            </span>
            <span class="mls"> co-m-users</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-notice">

            </span>
            <span class="mls"> co-notice</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-pause">

            </span>
            <span class="mls"> co-pause</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-person-params">

            </span>
            <span class="mls"> co-person-params</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-refresh">

            </span>
            <span class="mls"> co-refresh</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-reports">

            </span>
            <span class="mls"> co-reports</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-save">

            </span>
            <span class="mls"> co-save</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-search">

            </span>
            <span class="mls"> co-search</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-settings">

            </span>
            <span class="mls"> co-settings</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-sms">

            </span>
            <span class="mls"> co-sms</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-start">

            </span>
            <span class="mls"> co-start</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-stop">

            </span>
            <span class="mls"> co-stop</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-templates">

            </span>
            <span class="mls"> co-templates</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-time">

            </span>
            <span class="mls"> co-time</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-undo">

            </span>
            <span class="mls"> co-undo</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-unlock">

            </span>
            <span class="mls"> co-unlock</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-upload">

            </span>
            <span class="mls"> co-upload</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-version-history">

            </span>
            <span class="mls"> co-version-history</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="co-visit">

            </span>
            <span class="mls"> co-visit</span>
        </div>
    </div>
</div>
