<div class="container">
  <ul class="glyphs css-mapping">
    <li>
      <div class="icon co-action-log"></div>
      <input type="text" readonly="readonly" value="action-log">
    </li>
    <li>
      <div class="icon co-add"></div>
      <input type="text" readonly="readonly" value="add">
    </li>
    <li>
      <div class="icon co-attributes"></div>
      <input type="text" readonly="readonly" value="attributes">
    </li>
    <li>
      <div class="icon co-attributes-sm"></div>
      <input type="text" readonly="readonly" value="attributes-sm">
    </li>
    <li>
      <div class="icon co-calendar"></div>
      <input type="text" readonly="readonly" value="calendar">
    </li>
    <li>
      <div class="icon co-call-campaigns"></div>
      <input type="text" readonly="readonly" value="call-campaigns">
    </li>
    <li>
      <div class="icon co-call-cancel"></div>
      <input type="text" readonly="readonly" value="call-cancel">
    </li>
    <li>
      <div class="icon co-call-center"></div>
      <input type="text" readonly="readonly" value="call-center">
    </li>
    <li>
      <div class="icon co-call-incoming"></div>
      <input type="text" readonly="readonly" value="call-incoming">
    </li>
    <li>
      <div class="icon co-call-transfer"></div>
      <input type="text" readonly="readonly" value="call-transfer">
    </li>
    <li>
      <div class="icon co-call-unpause"></div>
      <input type="text" readonly="readonly" value="call-unpause">
    </li>
    <li>
      <div class="icon co-change-status"></div>
      <input type="text" readonly="readonly" value="change-status">
    </li>
    <li>
      <div class="icon co-checkbox-mark"></div>
      <input type="text" readonly="readonly" value="checkbox-mark">
    </li>
    <li>
      <div class="icon co-close"></div>
      <input type="text" readonly="readonly" value="close">
    </li>
    <li>
      <div class="icon co-communication-out"></div>
      <input type="text" readonly="readonly" value="communication-out">
    </li>
    <li>
      <div class="icon co-confirm"></div>
      <input type="text" readonly="readonly" value="confirm">
    </li>
    <li>
      <div class="icon co-constants"></div>
      <input type="text" readonly="readonly" value="constants">
    </li>
    <li>
      <div class="icon co-contact-log"></div>
      <input type="text" readonly="readonly" value="contact-log">
    </li>
    <li>
      <div class="icon co-contact-registration"></div>
      <input type="text" readonly="readonly" value="contact-registration">
    </li>
    <li>
      <div class="icon co-contact-tree"></div>
      <input type="text" readonly="readonly" value="contact-tree">
    </li>
    <li>
      <div class="icon co-copy"></div>
      <input type="text" readonly="readonly" value="copy">
    </li>
    <li>
      <div class="icon co-court"></div>
      <input type="text" readonly="readonly" value="court">
    </li>
    <li>
      <div class="icon co-currencies"></div>
      <input type="text" readonly="readonly" value="currencies">
    </li>
    <li>
      <div class="icon co-data-upload"></div>
      <input type="text" readonly="readonly" value="data-upload">
    </li>
    <li>
      <div class="icon co-debt-list"></div>
      <input type="text" readonly="readonly" value="debt-list">
    </li>
    <li>
      <div class="icon co-debt-processing"></div>
      <input type="text" readonly="readonly" value="debt-processing">
    </li>
    <li>
      <div class="icon co-delete"></div>
      <input type="text" readonly="readonly" value="delete">
    </li>
    <li>
      <div class="icon co-dialog-exclamation"></div>
      <input type="text" readonly="readonly" value="dialog-exclamation">
    </li>
    <li>
      <div class="icon co-dialog-info"></div>
      <input type="text" readonly="readonly" value="dialog-info">
    </li>
    <li>
      <div class="icon co-dialog-question"></div>
      <input type="text" readonly="readonly" value="dialog-question">
    </li>
    <li>
      <div class="icon co-dictionaries"></div>
      <input type="text" readonly="readonly" value="dictionaries">
    </li>
    <li>
      <div class="icon co-download"></div>
      <input type="text" readonly="readonly" value="download">
    </li>
    <li>
      <div class="icon co-download-excel"></div>
      <input type="text" readonly="readonly" value="download-excel">
    </li>
    <li>
      <div class="icon co-edit"></div>
      <input type="text" readonly="readonly" value="edit">
    </li>
    <li>
      <div class="icon co-email"></div>
      <input type="text" readonly="readonly" value="email">
    </li>
    <li>
      <div class="icon co-filter"></div>
      <input type="text" readonly="readonly" value="filter">
    </li>
    <li>
      <div class="icon co-filter-params"></div>
      <input type="text" readonly="readonly" value="filter-params">
    </li>
    <li>
      <div class="icon co-formulae"></div>
      <input type="text" readonly="readonly" value="formulae">
    </li>
    <li>
      <div class="icon co-groups"></div>
      <input type="text" readonly="readonly" value="groups">
    </li>
    <li>
      <div class="icon co-help"></div>
      <input type="text" readonly="readonly" value="help">
    </li>
    <li>
      <div class="icon co-home"></div>
      <input type="text" readonly="readonly" value="home">
    </li>
    <li>
      <div class="icon co-legal"></div>
      <input type="text" readonly="readonly" value="legal">
    </li>
    <li>
      <div class="icon co-load-templates"></div>
      <input type="text" readonly="readonly" value="load-templates">
    </li>
    <li>
      <div class="icon co-lock"></div>
      <input type="text" readonly="readonly" value="lock">
    </li>
    <li>
      <div class="icon co-mail"></div>
      <input type="text" readonly="readonly" value="mail">
    </li>
    <li>
      <div class="icon co-managers"></div>
      <input type="text" readonly="readonly" value="managers">
    </li>
    <li>
      <div class="icon co-menu-v"></div>
      <input type="text" readonly="readonly" value="menu-v">
    </li>
    <li>
      <div class="icon co-message-scenarios"></div>
      <input type="text" readonly="readonly" value="message-scenarios">
    </li>
    <li>
      <div class="icon co-move"></div>
      <input type="text" readonly="readonly" value="move">
    </li>
    <li>
      <div class="icon co-org-structure"></div>
      <input type="text" readonly="readonly" value="org-structure">
    </li>
    <li>
      <div class="icon co-payments"></div>
      <input type="text" readonly="readonly" value="payments">
    </li>
    <li>
      <div class="icon co-picture"></div>
      <input type="text" readonly="readonly" value="picture">
    </li>
    <li>
      <div class="icon co-portfolios"></div>
      <input type="text" readonly="readonly" value="portfolios">
    </li>
    <li>
      <div class="icon co-refresh"></div>
      <input type="text" readonly="readonly" value="refresh">
    </li>
    <li>
      <div class="icon co-reports"></div>
      <input type="text" readonly="readonly" value="reports">
    </li>
    <li>
      <div class="icon co-roles"></div>
      <input type="text" readonly="readonly" value="roles">
    </li>
    <li>
      <div class="icon co-save"></div>
      <input type="text" readonly="readonly" value="save">
    </li>
    <li>
      <div class="icon co-schedule"></div>
      <input type="text" readonly="readonly" value="schedule">
    </li>
    <li>
      <div class="icon co-search"></div>
      <input type="text" readonly="readonly" value="search">
    </li>
    <li>
      <div class="icon co-search-groups"></div>
      <input type="text" readonly="readonly" value="search-groups">
    </li>
    <li>
      <div class="icon co-settings"></div>
      <input type="text" readonly="readonly" value="settings">
    </li>
    <li>
      <div class="icon co-sms"></div>
      <input type="text" readonly="readonly" value="sms">
    </li>
    <li>
      <div class="icon co-tasks"></div>
      <input type="text" readonly="readonly" value="tasks">
    </li>
    <li>
      <div class="icon co-template"></div>
      <input type="text" readonly="readonly" value="template">
    </li>
    <li>
      <div class="icon co-time"></div>
      <input type="text" readonly="readonly" value="time">
    </li>
    <li>
      <div class="icon co-unlock"></div>
      <input type="text" readonly="readonly" value="unlock">
    </li>
    <li>
      <div class="icon co-upload"></div>
      <input type="text" readonly="readonly" value="upload">
    </li>
    <li>
      <div class="icon co-users"></div>
      <input type="text" readonly="readonly" value="users">
    </li>
    <li>
      <div class="icon co-version-history"></div>
      <input type="text" readonly="readonly" value="version-history">
    </li>
    <li>
      <div class="icon co-visit"></div>
      <input type="text" readonly="readonly" value="visit">
    </li>
  </ul>
</div>
