<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.document.dialogs.delete.title"
  actionTranslationKey="widgets.document.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDocumentMessageParams$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onDialogClose()">
</app-dialog-action>

<app-simple-grid
  persistenceKey="[grid] workplaces/shared/documents"
  [columns]="columns"
  [rows]="documents"
  [toolbar]="hideToolbar ? null : toolbarItems"
  (dblClick)="onDoubleClick($event)"
  (select)="onSelect($event)">
</app-simple-grid>

<app-downloader
  #downloader
  [entityTranslationKey]="'entities.documents.gen.singular'"
  [name]="selectedDocumentFileName$ | async"
  [url]="selectedDocumentURL$ | async">
</app-downloader>
