<app-toolbar-2
  *ngIf="!hideToolbar"
  class="bh"
  [items]="toolbarItems"
></app-toolbar-2>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.document.dialogs.delete.title"
  actionTranslationKey="widgets.document.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDocument$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onDialogClose()">
</app-dialog-action>

<app-grid
  columnTranslationKey="widgets.document"
  selectionType="single"
  [styles]="{ height: callCenter? '300px' : '500px' }"
  [columns]="columns"
  [rows]="documents"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>

<app-downloader
  #downloader
  [entityTranslationKey]="'entityTranslationKey'"
  [name]="selectedDocumentFileName$ | async"
  [url]="selectedDocumentURL$ | async">
</app-downloader>
