<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.document.dialogs.delete.title"
  actionTranslationKey="widgets.document.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDocument$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onDialogClose()">
</app-dialog-action>

<div class="flex vertical">
  <div *ngIf="!hideToolbar" class="flex-item">
    <app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>
  </div>
  <div class="flex-item grow">
    <app-simple-grid
      persistenceKey="[grid] workplaces/shared/documents"
      [columns]="columns"
      [rows]="documents"
      (dblClick)="onDoubleClick($event)"
      (select)="onSelect($event)">
    </app-simple-grid>
  </div>
</div>

<app-downloader
  #downloader
  [entityTranslationKey]="'entityTranslationKey'"
  [name]="selectedDocumentFileName$ | async"
  [url]="selectedDocumentURL$ | async">
</app-downloader>
