<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'roles.roles.copy.title' | translate:role }}</h3>
  </div>

  <app-dynamic-form *ngIf="controls" [config]="config" [controls]="controls" [data]="{}"></app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="!canSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onClose()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
