.notifications {
  margin: 0;
  width: 380px;
}
.notifications_heading {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}
.notifications_item {
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #f5faff;
    & > .notifications_dismiss {
      display: block;
    }
  }
  &.list-group-item:last-child {
    border-width: 0;
    border-bottom-width: 1px;
  }
}
.notifications_dismiss {
    display: none;
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    &:hover {
      color: #000;
    }
}
.notifications_message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  i {
    font-size: 16px;
    padding-right: 5px;
  }
}

.notifications_list_wrapper {
  height: 320px;
}
