.notifications {
  margin: 0;
  width: 380px;
}
.notifications_heading {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}
.notifications_message {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
