<div class="panel mb0">
  <div class="panel-heading">
    <input type="checkbox"> Info
    <input type="checkbox"> Warning
    <input type="checkbox"> Error
  </div>

  <scrollable height="320">
    <ul class="list-group">
      <li *ngFor="let notification of notifications" class="list-group-item">
        <div class="media">
          <div class="media-left">
            <i [class]="getIconClass(notification)"></i>
          </div>
          <div class="media-body">
            <p class="m0">{{ notification.message }}</p>
            <p class="m0 text-muted">
              <!-- TODO: translate -->
              <small>{{ notification.created | date:'medium' }}</small>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </scrollable>

  <div class="panel-footer">
    <button class="btn btn-default">Clear</button>
    <button class="btn btn-default">Close</button>
  </div>
</div>
