<ul [ngClass]="{ 'no-margin': noMargin }">
  <ng-container *ngFor="let tab of tabs$ | async">
    <li
      *ngIf="tab.hasPermission | async"
      [ngClass]="{ closable: tab.closable, disabled: tab.disabled }"
      [routerLink]="tab.link"
      routerLinkActive="active"
    >
      {{ tab.title | translate }}
      <button *ngIf="tab.closable" (click)="closeTab($event, tab.id)">
        <i class="fa fa-close"></i>
      </button>
      <div class="selection"></div>
    </li>
  </ng-container>
</ul>
