<ul [ngClass]="{ 'no-margin': noMargin }">
  <ng-container *ngFor="let tab of tabs$ | async; let index = index;">
    <li
      *ngIf="tab.hasPermission | async"
      [ngClass]="{ closable: tab.closable, disabled: tab.disabled }"
      [routerLink]="tab.link"
      (click)="onClick(index)"
      routerLinkActive="active"
    >
      {{ tab.title | translate }}
      <button *ngIf="tab.closable" (click)="closeTab($event, tab.id)"></button>
      <div class="selection"></div>
    </li>
  </ng-container>
</ul>
