<div class="flex vertical">

  <!-- Titlebar -->
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
    <h1>Добавление залогодателя</h1>
  </div>

  <!-- Forms -->
  <div class="flex-item grow" style="overflow-y: auto;">
    <div class="flex horizontal">

      <!-- Contract Form -->
      <div *ngIf="showContractForm$ | async" class="flex-item grow pr">
        <h2>Contract</h2>
        <app-metadata-form [config]="contractFormConfig"></app-metadata-form>
        <app-button type="clear"></app-button>
      </div>

      <!-- Pledgor Form -->
      <div *ngIf="showPledgorForm$ | async" class="flex-item grow ph">
        <h2 appPopupOutlet="select-person" [disabled]="edit$ | async">Pledgor</h2>
        <app-metadata-form #pledgorForm [config]="pledgorFormConfig" [data]="pledgor$ | async" [disabled]="isPledgorFormDisabled$ | async"></app-metadata-form>
        <app-button type="clear" (click)="onPledgorFormClear()"></app-button>
      </div>

      <!-- Property Form -->
      <div class="flex-item grow pl">
        <h2 appPopupOutlet="select-property" [disabled]="edit$ | async">Property</h2>
        <app-metadata-form #propertyForm [config]="propertyFormConfig" [data]="property$ | async" [disabled]="isPropertyFormDisabled$ | async"></app-metadata-form>
        <app-button type="clear" (click)="onPropertyFormClear()"></app-button>
      </div>
    </div>
  </div>

  <!-- Additional Info -->
  <div *ngIf="edit$ | async" class="flex-item grow">
    <app-tabview [fullHeight]="true">

      <!-- Identifications -->
      <app-tabview-tab title="Удостоверения личности">
        <app-identity-grid
          [personId]="4"
        ></app-identity-grid>
      </app-tabview-tab>

      <!-- Employment -->
      <app-tabview-tab title="Трудоустройство">
        <app-employment-grid
          [personId]="4"
        ></app-employment-grid>
      </app-tabview-tab>

      <!-- Phones -->
      <app-tabview-tab title="Телефоны">
        <app-phone-grid
          [contactType]="1"
          [debtId]="1"
          [personId]="4"
          [personRole]="1"
        ></app-phone-grid>
      </app-tabview-tab>

      <!-- Addresses -->
      <app-tabview-tab title="Адреса">
        <app-address-grid
          [debtId]="1"
          [personId]="4"
          [personRole]="1"
        ></app-address-grid>
      </app-tabview-tab>

      <!-- Documents -->
      <app-tabview-tab title="Документы">
        <app-document-grid
          [entityType]="19"
          [entityId]="1"
        ></app-document-grid>
      </app-tabview-tab>
    </app-tabview>
  </div>

  <!-- Toolbar -->
  <div class="flex-item">
    <app-button type="save" (click)="onSave()"></app-button>
  </div>
</div>
