<app-attribute-grid-edit
  *ngIf="isDialog('add')"
  [treeType]="treeType"
  [treeSubtype]="treeSubtype"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-attribute-grid-edit>

<app-attribute-grid-edit
  *ngIf="isDialog('edit')"
  [treeType]="treeType"
  [treeSubtype]="treeSubtype"
  [attributeId]="selectedAttributeId$ | async"
  (submit)="onEditDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-attribute-grid-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.attribute.dialogs.delete.title"
  actionTranslationKey="widgets.attribute.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedAttribute$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="panel m0 p ba">
  <div class="row">
    <div class="col-md-6">
      <label>
        <span>{{ 'widgets.attribute.treeType' | translate }}</span>
        <app-select
          [ngModel]="treeType"
          [options]="treeTypeOptions"
          (select)="onTreeTypeChange($event)">
        </app-select>
      </label>
    </div>
    <div class="col-md-6">
      <label>
        <span>{{ 'widgets.attribute.treeSubtype' | translate }}</span>
        <app-select
          [isDisabled]="isTreeSubtypeDisabled"
          [ngModel]="treeSubtype"
          [options]="treeSubtypeOptions"
          (select)="onTreeSubtypeChange($event)">
        </app-select>
      </label>
    </div>
  </div>
</div>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-gridtree2-wrapper
  *ngIf="attributes && attributes.length > 0"
  [columns]="columns"
  [dnd]="canEdit$ | async"
  [rows]="attributes"
  [translateColumnLabels]="true"
  (select)="onSelect($event)"
  (move)="onMove($event)"
  (dblclick)="onEdit($event)">
</app-gridtree2-wrapper>
