<app-action-grid
  #grid
  persistenceKey="[grid] workplaces/shared/contact-log"
  metadataKey="contactSearchFull"
  [actions]="actions"
  [toolbarItems]="hideToolbar ? null : toolbarItems"
  [fullHeight]="true"
  [rows]="contactLogList"
  [rowCount]="rowCount"
  (selectRow)="onSelect()"
  (dblClick)="onEdit($event)"
  (request)="onRequest()"
  (action)="onAction($event)"
></app-action-grid>

<app-downloader
  #downloader
  entityTranslationKey="entities.letters.gen.singular"
></app-downloader>
