<app-dialog (close)="cancel()">
  <div dialog-header>
    <h3>{{ title | translate }}</h3>
  </div>

  <div class="grid-wrapper">
    <app-simple-grid
      persistenceKey="[grid] mass-ops/attributes/dictionary"
      selectionType="single"
      idKey="nodeId"
      [columns]="columns"
      [rows]="terms"
      (select)="onSelect($event)">
    </app-simple-grid>
  </div>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="submit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
