<app-dialog-action
  *ngIf="showDialog$ | async"
  titleTranslationKey="routes.workplaces.shared.contactRegistration.cancelDialog.title"
  actionTranslationKey="routes.workplaces.shared.contactRegistration.cancelDialog.message"
  actionMessage="default.buttons.ok"
  actionMode="warning"
  (action)="onConfirm()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-contact-registration-tree [hidden]="showEdit$ | async"></app-contact-registration-tree>
<app-contact-registration-edit [hidden]="showTree$ | async"></app-contact-registration-edit>
