.sidebar-toggle {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  background-color: #f5f7fa;
  text-align: center;
  margin-right: 1px;
}
.sidebar-toggle__item {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
