<app-dialog [styles]="{ width: '80%' }" (onClose)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.contactProperty.dialogs.edit.title' | translate }}</h3>
  </div>
  <div>
    <app-tabstrip [disableScrollbar]="true" [inverse]="true">
      <app-tab [title]="'1'" [closable]="false">
        <div class="mt">
          <app-dynamic-form *ngIf="controls" [controls]="controls" [data]="data"></app-dynamic-form>
        </div>
      </app-tab>
      <app-tab [title]="'2'" [closable]="false">
        <div class="mt">
          <p-treeTable selectionMode="none" [value]="attributeTypes">
            <p-column field="code" header="Code"></p-column>
            <p-column field="name" header="Name"></p-column>
            <p-column field="isDisplayed" header="Display">
              <ng-template let-node="rowData" pTemplate="body">
                <input type="checkbox" [ngModel]="node.data.isDisplayed" (ngModelChange)="onIsDisplayedChange($event, node)">
              </ng-template>
            </p-column>
            <p-column field="isMandatory" header="Mandatory">
              <ng-template let-node="rowData" pTemplate="body">
                <input type="checkbox" [ngModel]="node.data.isMandatory" (ngModelChange)="onIsMandatoryChange($event, node)">
              </ng-template>
            </p-column>
          </p-treeTable>
          <!-- <pre>{{ attributeTypes | json }}</pre> -->
        </div>
      </app-tab>
    </app-tabstrip>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
