<app-dialog [styles]="{ width: '70%' }" (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.contactProperty.dialogs.edit.title' | translate }}</h3>
  </div>

  <div>
    <app-tabview [noMargin]="true" (select)="onTabSelect($event)">

      <app-tabview-tab [title]="'widgets.contactProperty.dialogs.edit.mainSettings'">
        <div class="mt">
          <app-dynamic-form
            *ngIf="controls"
            [config]="config"
            [controls]="controls"
            [data]="data"
          ></app-dynamic-form>
        </div>
      </app-tabview-tab>

      <app-tabview-tab [title]="'widgets.contactProperty.dialogs.edit.attributesSettings'">
        <div class="mt" *ngIf="tabs[1].isInitialised">
          <!-- TODO(d.topheenko): get rid of primeNg tree table (use app-gridtree2-wrapper instead) -->
          <p-treeTable selectionMode="none" [value]="attributeTypes">
            <p-column field="code" [header]="'widgets.contactProperty.dialogs.edit.attributes.code' | translate"></p-column>
            <p-column field="name" [header]="'widgets.contactProperty.dialogs.edit.attributes.name' | translate"></p-column>
            <p-column field="isDisplayed" [header]="'widgets.contactProperty.dialogs.edit.attributes.display' | translate">
              <ng-template let-node="rowData" pTemplate="body">
                <app-checkbox [ngModel]="node.data.isDisplayed" (ngModelChange)="onIsDisplayedChange($event, node)"></app-checkbox>
              </ng-template>
            </p-column>
            <p-column field="isMandatory" [header]="'widgets.contactProperty.dialogs.edit.attributes.mandatory' | translate">
              <ng-template let-node="rowData" pTemplate="body">
                  <app-checkbox [ngModel]="node.data.isMandatory" (ngModelChange)="onIsMandatoryChange($event, node)"></app-checkbox>
              </ng-template>
            </p-column>
          </p-treeTable>
        </div>
      </app-tabview-tab>

    </app-tabview>
  </div>

  <div dialog-footer>
    <app-button color="primary" type="save" (click)="onSubmit()" [disabled]="!canSubmit"></app-button>
    <app-button type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
