<app-dialog-action
  *ngIf="isDialog('errorLogPrompt')"
  titleTranslationKey="modules.paymentsUpload.dialogs.error.title"
  actionTranslationKey="modules.paymentsUpload.dialogs.error.message"
  actionMessage="default.buttons.ok"
  actionMode="primary"
  (action)="onErrorLogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-dialog-action
  *ngIf="isDialog('cancel')"
  titleTranslationKey="modules.paymentsUpload.dialogs.cancel.title"
  actionTranslationKey="modules.paymentsUpload.dialogs.cancel.message"
  actionMessage="default.buttons.ok"
  actionMode="danger"
  (action)="onCancelSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="mb">
  <app-button label="Открыть файл" [disabled]="hasFile" (click)="onFileOpenClick()"></app-button>
  <app-button label="Сохранить в БД" [disabled]="!hasFile || hasErrors" (click)="onSaveClick()"></app-button>
  <app-button label="Отмена" [disabled]="!hasFile" (click)="onCancelClick()"></app-button>
</div>

<div hidden>
  <input #fileInput type="file" accept=".xls,.xlsx" (change)="onFileChange()">
</div>

<app-grid2
  *ngIf="columns"
  [actions]="actions"
  [columns]="columns"
  [ngClass]="'payments-upload'"
  [persistenceKey]="'payments-upload'"
  [rowIdKey]="rowIdKey"
  [rows]="rows"
  [rowCount]="rowCount"
  (action)="onAction($event)"
  (onFilter)="onRequest()"
  (onPage)="onRequest()"
  (onPageSize)="onRequest()"
  (onSort)="onRequest()"
  (cellValueChange)="onCellValueChange($event)"
></app-grid2>
