<app-dialog [display]="displayProperties.addPermit"
            (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>Выберите доступ</h3>
  </div>

  <app-grid
    #addPermitGrid
    [styles]="{height: '200px'}"
    [columns]="columns"
    [parseFn]="parseFn"
    [autoLoad]="false"
    [dataSource]="dataSource"
    (onEdit)="onAddPermissions()"
    (onRowSelect)="onSelectPermissions($event)">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-danger"
            [disabled]="!canAddPermissions()"
            (click)="onAddPermissions()">
      <i class="fa fa-check"></i> Добавить
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> Отмена
    </button>
  </div>
</app-dialog>
