<app-dialog [display]="displayProperties.addPermit"
            (displayChange)="onDisplayChange($event)">
  <div dialog-header>
    <h3>{{ 'roles.permissions.add.title' | translate }}</h3>
  </div>

  <app-grid
    #addPermitGrid
    [styles]="{height: '200px'}"
    [columns]="columns"
    [parseFn]="parseFn"
    [autoLoad]="false"
    [dataSource]="dataSource"
    (onEdit)="onAddPermissions()"
    (onRowSelect)="onSelectPermissions($event)">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-success"
            [disabled]="!canAddPermissions()"
            (click)="onAddPermissions()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
