.ngx-datatable {
  height: 450px;

  &.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: .2rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
}
