@import '../../../../styles/app/variables.scss';

$size: 18px;
$dotSize: 10px;

input {
  left: -10000px;
  position: absolute;
  visibility: hidden;

  & + span {
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: $size;
    margin: 0;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    vertical-align: bottom;
    width: $size;

    &.disabled {
      background-color: $gray-light;
      border-color: $gray;
      cursor: default;
    }

    &:not(.disabled):hover {
      border-color: $link-color;
    }
  }

  &:checked + span {
    &:not(.disabled) {
      border-color: $link-color;
    }

    &:before {
      background-color: $link-color;
      border-radius: 50%;
      content: ' ';
      height: $dotSize;
      left: 50%;
      margin-left: -$dotSize / 2;
      margin-top: -$dotSize / 2;
      position: absolute;
      top: 50%;
      width: $dotSize;
    }

    &.disabled {
      &:before {
        background-color: darken(grayscale($gray), 25%);
      }
    }
  }
}
