<app-tabview (select)="onTabSelect($event)" [noMargin]="true">

  <app-tabview-tab [title]="tabs[0].title">
    <app-grid
      *ngIf="tabs[0].isInitialised"
      columnTranslationKey="widgets.debt.portfolioLog"
      [selectionType]="null"
      [styles]="{ height: '300px' }"
      [columns]="columns"
      [rows]="getEntries(1)">
    </app-grid>
  </app-tabview-tab>

  <app-tabview-tab [title]="tabs[1].title">
    <app-grid
      *ngIf="tabs[1].isInitialised"
      columnTranslationKey="widgets.debt.portfolioLog"
      [selectionType]="null"
      [styles]="{ height: '250px' }"
      [columns]="columns"
      [rows]="getEntries(2)">
    </app-grid>
  </app-tabview-tab>

</app-tabview>
