<div *ngIf="canDisplayForm$ | async" [formGroup]="formGroup">
  <label>
    <span class="form-label">
      {{ 'routes.workplaces.shared.contactRegistration.edit.form.debtReason.form.debtReason' | translate }}
      <b *ngIf="isDebtReasonCodeRequired$ | async" class="text-danger">*</b>
    </span>
    <app-select-wrapper
      formControlName="debtReasonCode"
      [dictCode]="debtReasonDictCode"
      [nullable]="!(isDebtReasonCodeRequired$ | async)"
      [required]="isDebtReasonCodeRequired$ | async"
    ></app-select-wrapper>
  </label>

  <hr>
</div>
