<div appDropdown [disabled]="disabled" [fitWidthToContent]="true" style="position: relative;">
  <div #dropdownParent>
    <app-datetime-input
      format="L"
      [disabled]="disabled"
      [label]="label"
      [minDateTime]="minDate"
      [maxDateTime]="maxDate"
      [ngModel]="value"
      [required]="required"
      (ngModelChange)="onChange($event)"
    ></app-datetime-input>
  </div>
  <span [ngClass]="{ toggle: true, disabled: disabled }" #dropdownTrigger (click)="onTouch()">
    <i class="fa fa-calendar"></i>
  </span>
  <div #dropdownContent class="datetimepicker-container">
    <div class="datetimepicker">
      <app-date
        [minDate]="minDate"
        [maxDate]="maxDate"
        [ngModel]="value"
        (ngModelChange)="onDateChange($event)"
      ></app-date>
      <footer>
        <span (click)="setCurrentTime()">{{ 'default.buttons.today' | translate }}</span>
      </footer>
    </div>
  </div>
</div>
