<div [ngClass]="{ control: true, 'has-error': displayErrors }">
  <ng-container [ngSwitch]="control.type" [formGroup]="parentFormGroup">

    <ng-container *ngSwitchCase="'text'">
      <label>
        <span>{{ label | translate }}<span *ngIf="control.required">*</span></span>
        <input type="text" class="form-control" [attr.placeholder]="(control.placeholder || '') | translate" [formControlName]="control.name">
      </label>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <label>
        <span>{{ label | translate }}<span *ngIf="control.required">*</span></span>
        <textarea class="form-control" rows="control.nRows || 2" [attr.placeholder]="(control.placeholder || '') | translate" [formControlName]="control.name">
        </textarea>
      </label>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <div class="checkbox mt0 mb0">
        <label>
          <input type="checkbox" [formControlName]="control.name"/>
          <span>{{ label | translate }}<span *ngIf="control.required">*</span></span>
        </label>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <label>
        <span>{{ label | translate }}<span *ngIf="control.required">*</span></span>
        <app-select
          [formControlName]="control.name"
          [isDisabled]="control.disabled"
          [options]="control.options"
          [placeholder]="control.placeholder"
        ></app-select>
      </label>
    </ng-container>
  </ng-container>

  <ul *ngIf="displayErrors" class="error">
    <li *ngFor="let error of errors">
      {{ getErrorTranslationKey(error) | translate:getErrorParams(error) }}
    </li>
  </ul>
</div>
