<div [ngClass]="{ control: true, 'has-error': displayErrors }">
  <ng-container [ngSwitch]="control.type" [formGroup]="parentFormGroup">

    <app-text
      *ngSwitchCase="'text'"
      [formControlName]="control.name"
      [label]="label"
      [required]="control.required"
    ></app-text>

    <app-textarea
      *ngSwitchCase="'textarea'"
      [formControlName]="control.name"
      [label]="control.label"
      [required]="control.required"
      [rows]="control.nRows || 2"
    ></app-textarea>

    <app-checkbox
      *ngSwitchCase="'checkbox'"
      [formControlName]="control.name"
      [label]="label"
    ></app-checkbox>

    <app-select
      *ngSwitchCase="'select'"
      [formControlName]="control.name"
      [disabled]="control.disabled"
      [label]="label"
      [options]="control.options"
    ></app-select>
  </ng-container>

  <ul *ngIf="displayErrors" class="error">
    <li *ngFor="let error of errors">
      {{ getErrorTranslationKey(error) | translate:getErrorParams(error) }}
    </li>
  </ul>
</div>
