<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.contractorObject.dialogs.add.title' | translate }}</h3>
  </div>
  <div>
    <app-grid
      columnTranslationKey="widgets.contractorObject"
      selectionType="multi"
      [columns]="columns"
      [rows]="rows"
      [styles]="{ height: '320px' }"
      (onSelect)="onSelect()">
    </app-grid>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.add' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
