<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.contractorObject.dialogs.add.title' | translate }}</h3>
  </div>
  <div>
    <app-grid
      columnTranslationKey="widgets.contractorObject"
      selectionType="multi"
      [columns]="columns"
      [rows]="rows"
      [styles]="{ height: '320px' }"
      (onSelect)="onSelect()"
    ></app-grid>
  </div>
  <div dialog-footer>
    <app-button color="primary" type="add" (click)="onSubmit()" [disabled]="!canSubmit"></app-button>
    <app-button type="cancel" (click)="onCancel()"></app-button>
  </div>
</app-dialog>
