<div>
  <app-button type="back" (click)="onBack()"></app-button>
</div>

<br>

<app-objects-grid-dialog
  *ngIf="isDialog('add')"
  [contractorId]="contractorId"
  [typeCode]="selectedTypeCode"
  (submit)="onAddDialogSubmit($event)"
  (cancel)="onCloseDialog()"
></app-objects-grid-dialog>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.contractorObject.dialogs.delete.title"
  actionTranslationKey="widgets.contractorObject.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedObject$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="row">
  <div class="col-xs-6 col-lg-3 col-md-4">
    <app-select
      [ngModel]="selectedTypeCode"
      [required]="true"
      [options]="typeCodeOptions"
      (select)="onSelectType($event)"
    ></app-select>
  </div>
</div>

<app-simple-grid
  persistenceKey="[grid] admin/contractors/edit/objects-grid"
  selectionType="multiple"
  [columns]="columns"
  [toolbar]="toolbar"
  [rows]="rows"
  (selectRow)="onSelect($event)"
></app-simple-grid>
