<app-campaigns-edit
  *ngIf="isDialog('CAMPAIGN_ADD')"
  (submit)="createCampaign($event)"
  (cancel)="closeDialog()">
</app-campaigns-edit>

<app-campaigns-edit
  *ngIf="isDialog('CAMPAIGN_EDIT')"
  [campaign]="selectedCampaign | async"
  (submit)="updateCampaign($event)"
  (cancel)="closeDialog()">
</app-campaigns-edit>

<app-dialog-action
  *ngIf="isDialog('CAMPAIGN_REMOVE')"
  [titleTranslationKey]="'utilities.campaigns.remove.title'"
  [actionTranslationKey]="'utilities.campaigns.remove.confirmMessage'"
  [messageParams]="selectedCampaign | async"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemove()"
  (cancel)="closeDialog()">
</app-dialog-action>

<div class="flex vertical">
  <div class="flex-item">
    <app-titlebar [titlebar]="titlebar"></app-titlebar>
  </div>
  <div class="flex-item grow">
    <app-simple-grid
      [columns]="columns"
      [columnTranslationKey]="'utilities.campaigns'"
      [rows]="campaigns"
      [toolbar]="toolbarItems"
      (select)="onSelectCampaign($event)"
      (dblClick)="onCampaignDblClick($event)">
    </app-simple-grid>
  </div>
  <div class="flex-item grow">
    <app-tabview [fullHeight]="true" [noMargin]="true" (select)="onTabSelect($event)">
      <app-tabview-tab [title]="'utilities.campaigns.tabs.participants'">
        <app-participants *ngIf="tabs[0].isInitialised"></app-participants>
      </app-tabview-tab>
      <app-tabview-tab [title]="'utilities.campaigns.tabs.statistics'">
        <app-statistics *ngIf="tabs[1].isInitialised"></app-statistics>
      </app-tabview-tab>
    </app-tabview>
  </div>
</div>
