<app-grid
  class="flat"
  [styles]="{ height: '250px' }"
  [columns]="columns"
  [columnTranslationKey]="'utilities.campaigns'"
  [rows]="campaigns"
  selectionType="multiClick"
  (onSelect)="onSelectCampaign($event)">
</app-grid>

<app-campaigns-edit
  *ngIf="isEntityBeingCreated"
  (submit)="createCampaign($event)"
  (cancel)="cancelAction()">
</app-campaigns-edit>

<app-campaigns-edit
  *ngIf="isEntityBeingEdited"
  [editedEntity]="selectedCampaign | async"
  (submit)="updateCampaign($event)"
  (cancel)="cancelAction()">
</app-campaigns-edit>

<app-dialog-action
  *ngIf="isEntityBeingRemoved"
  [titleTranslationKey]="'utilities.campaigns.remove.title'"
  [actionTranslationKey]="'utilities.campaigns.remove.confirmMessage'"
  [actionMessage]="'default.buttons.remove'"
  [actionMode]="'danger'"
  (action)="onRemove()"
  (cancel)="cancelAction()">
</app-dialog-action>


<app-toolbar-2 class="bordered" [items]="toolbarItems">
</app-toolbar-2>

<app-tabstrip [disableScrollbar]="true" [inverse]="true">
  <app-tab [title]="'utilities.campaigns.tabs.participants'" [closable]="false">
    <app-participants></app-participants>
  </app-tab>
  <app-tab [title]="'utilities.campaigns.tabs.statistics'" [closable]="false">
    <app-statistics></app-statistics>
  </app-tab>
</app-tabstrip>
