<app-block-dialog
  *ngIf="isDialog('block')"
  titleTranslationKey="widgets.email.dialogs.block.title"
  labelTranslationKey="widgets.email.dialogs.block.inactiveReasonCode"
  [dictionaryId]="blockDialogDictionaryId"
  (action)="onBlockDialogSubmit($event)"
  (close)="onCloseDialog()"
></app-block-dialog>

<app-dialog-action
  *ngIf="isDialog('unblock')"
  titleTranslationKey="widgets.email.dialogs.unblock.title"
  actionTranslationKey="widgets.email.dialogs.unblock.confirmMessage"
  actionMessage="default.yesNo.Yes"
  actionMode="success"
  [messageParams]="selectedEmail$ | async"
  (action)="onUnblockDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-email-grid-schedule
  *ngIf="isDialog('schedule')"
  [debtId]="debtId$ | async"
  [personId]="entityId"
  [personRole]="personRole"
  [emailId]="selectedEmailId$ | async"
  (submit)="onScheduleDialogSubmit($event)"
  (cancel)="onCloseDialog()"
></app-email-grid-schedule>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.email.dialogs.delete.title"
  actionTranslationKey="widgets.email.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedEmail$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-simple-grid
  *ngIf="canDisplayGrid"
  persistenceKey="[grid] workplaces/debtor-card/information/email"
  [columns]="columns"
  [rowClass]="getRowClass()"
  [rows]="emails"
  [toolbar]="toolbarItems"
  (dblClick)="onDoubleClick($event)"
  (selectRow)="onSelect($event)"
></app-simple-grid>
