<div *ngFor="let item of items">
  <ng-container [ngSwitch]="item.type">

    <!-- Control -->
    <app-dynamic-layout-control
      *ngSwitchCase="'control'"
      [control]="item"
    ></app-dynamic-layout-control>

    <!-- Attribute -->
    <app-dynamic-layout-attribute
      *ngSwitchCase="'attribute'"
      [attribute]="item"
    ></app-dynamic-layout-attribute>

    <!-- Group -->
    <app-dynamic-layout-group
      *ngSwitchCase="'group'"
      [group]="item"
    ></app-dynamic-layout-group>

    <!-- Template -->
    <app-dynamic-layout-template
      *ngSwitchCase="'template'"
      [template]="item"
    ></app-dynamic-layout-template>
  </ng-container>
</div>
