<app-dialog
  [display]="!!editedRole"
  (displayChange)="onDisplayChange($event)"
>
  <div dialog-header>
    <h3>{{ title }}</h3>
  </div>

  <app-dynamic-form *ngIf="!!form" [form]="form" [controls]="controls"></app-dynamic-form>

  <div dialog-footer>
    <button class="btn btn-primary" (click)="save()">
      <i class="fa fa-check"></i>
      OK
    </button>
    <button class="btn btn-default" (click)="cancel()">
      <i class="fa fa-remove"></i>
      Cancel
    </button>
  </div>
</app-dialog>

<app-grid
  selectionType="single"
  [columns]="columns"
  [dataSource]="dataSource"
  [parseFn]="parseFn"
  (onRowSelect)="onSelectedRowChange($event)"
  (onEdit)="onEdit($event)"
  [bottomActions]="bottomActions"
  (onAction)="onAction($event)">
</app-grid>

