.gridtree-viewport {
  // TODO(d.maltsev) calculate height dynamically
  height: 300px;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

.gridtree-dragged-row {
  position: absolute;
  left: 0;
  right: 0;
  outline: 1px dotted blue;
}
