<ul class="gridtree-viewport" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
  <li *ngFor="let row of viewportRows">
    <app-gridtree-row
      [columns]="columns"
      [displayTreeProp]="displayTreeProp"
      [row]="row"
      (mousedown)="onMouseDown($event)">
    </app-gridtree-row>
  </li>
  <div *ngIf="draggedRow" class="gridtree-dragged-row" [ngStyle]="draggedRowStyle">
    <app-gridtree-row
      [columns]="columns"
      [displayTreeProp]="displayTreeProp"
      [row]="draggedRow">
    </app-gridtree-row>
  </div>
</ul>
