<app-dialog (onClose)="onCancel()">
  <div dialog-header>
    <h3>{{ 'widgets.messageTemplate.dialogs.edit.title' | translate }}</h3>
  </div>
  <div>
    <app-dynamic-form [controls]="controls" [data]="template"></app-dynamic-form>
    <app-list [items]="variables" [getName]="getName" (doubleClick)="onInsert($event)"></app-list>
  </div>
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canSubmit" (click)="onSubmit()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
