<app-dialog [autoWidth]="true" (close)="onCancel()">
  <div dialog-header>
    <h3>{{ titleTranslationKey | translate:titleParams }}</h3>
  </div>

  <div class="dialog_message">{{ actionTranslationKey | translate:messageParams }}</div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div dialog-footer>
    <button class="btn btn-{{ actionMode }}" (click)="onAction()">
      <i class="fa fa-check"></i> {{ actionMessage | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ cancelMessage | translate }}
    </button>
  </div>
</app-dialog>
