<div class="content-heading">
    {{ 'departments.TITLE' | translate }}
</div>

<div class="panel panel-default">
    <div class="panel-body">
      <app-tree
        #tree
        [value]="value"
        layout="horizontal"
        selectionMode="single"
        [dragulaOptions]="dragulaOptions"
        (changeLocation)="onChangeLocation($event)"
        (onNodeSelect)="onNodeSelect($event)"
        (onNodeExpand)="onNodeExpand($event)"
        [(selection)]="selection">
      </app-tree>
    </div>
</div>
