<app-dialog (close)="onClose()">
  <div dialog-header>
    <h3>{{ 'widgets.visit.dialog.title' | translate }}</h3>
  </div>
  
  <app-visit-card></app-visit-card>
  
  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canCreate" (click)="onCreate()">
      <i class="fa fa-check"></i> {{ 'default.buttons.select' | translate }}
    </button>
    <button class="btn btn-default" (click)="onClose()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
