<h3>
  {{ 'routes.workplaces.shared.contactRegistration.edit.form.attachments.title' | translate }}
  <span class="form-label">
    <b *ngIf="isRequired$ | async" class="text-danger">*</b>
  </span>
</h3>

<app-contact-registration-attachment-edit
  *ngIf="isDialog('edit')"
  (submit)="onEditDialogSubmit($event)"
  (close)="onCloseDialog()"
></app-contact-registration-attachment-edit>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="routes.workplaces.shared.contactRegistration.edit.form.attachments.dialogs.delete.title"
  actionTranslationKey="routes.workplaces.shared.contactRegistration.edit.form.attachments.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedDocument$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="attachment-grid">
  <app-simple-grid
    persistenceKey="workplaces/shared/contact-registration/attachments"
    [columns]="columns"
    [rows]="documents"
    [toolbar]="toolbarItems"
    (select)="onSelect($event)"
  ></app-simple-grid>
</div>
