<app-dialog-action
  *ngIf="isDialog('errorLogPrompt')"
  titleTranslationKey="modules.dataUpload.dialogs.error.title"
  actionTranslationKey="modules.dataUpload.dialogs.error.message"
  actionMessage="default.buttons.ok"
  actionMode="primary"
  (action)="onErrorLogSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<app-dialog-action
  *ngIf="isDialog('cancel')"
  titleTranslationKey="modules.dataUpload.dialogs.cancel.title"
  actionTranslationKey="modules.dataUpload.dialogs.cancel.message"
  actionMessage="default.buttons.ok"
  actionMode="danger"
  (action)="onCancelSubmit()"
  (cancel)="onCloseDialog()"
></app-dialog-action>

<div class="flex vertical">
  <!-- Toolbar -->
  <div class="flex-item">
    <div hidden>
      <input #fileInput type="file" accept=".xls,.xlsx" (change)="onFileChange()">
    </div>
    <!-- Main Toolbar -->
    <div class="row mb">
      <div class="col-md-9">
        <app-button label="modules.dataUpload.buttons.open" [disabled]="hasFile" (click)="onFileOpenClick()"></app-button>
        <app-button label="modules.dataUpload.buttons.save" [disabled]="!hasFile || hasErrors" (click)="onSaveClick()"></app-button>
        <app-button label="modules.dataUpload.buttons.cancel" [disabled]="!hasFile" (click)="onCancelClick()"></app-button>
      </div>
      <div class="col-md-3">
        <app-select-wrapper
          *ngIf="isSelectVisible"
          [dictCode]="dictCode"
          [disabled]="hasFile"
          [ngModel]="format"
          [nullable]="false"
          (ngModelChange)="onFormatChange($event)"
        ></app-select-wrapper>
      </div>
    </div>
    <!-- Grid Toolbar -->
    <div class="mb">
      <app-button label="modules.dataUpload.buttons.nextProblematicCell" (click)="onNextProblematicCellClick()"></app-button>
      <app-button label="modules.dataUpload.buttons.nextCriticalCell" (click)="onNextCriticalCellClick()"></app-button>
    </div>
  </div>

  <!-- Grid -->
  <div *ngIf="columns" class="flex-item grow grid-container">
    <app-grid2
      [actions]="actions"
      [columns]="columns"
      [fullHeight]="true"
      [ngClass]="'data-upload'"
      [persistenceKey]="'data-upload'"
      [rowCount]="rowCount"
      [rowIdKey]="rowIdKey"
      [rows]="rows"
      (action)="onAction($event)"
      (onFilter)="onRequest()"
      (onPage)="onRequest()"
      (onPageSize)="onRequest()"
      (onSort)="onRequest()"
      (cellValueChange)="onCellValueChange($event)"
    ></app-grid2>
  </div>
</div>
