<section [formGroup]="formGroup">
  <div class="form-group">
    <app-textarea
      formControlName="textarea1"
      label="Empty"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea2"
      label="Not empty"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea3"
      label="Custom height"
      rows="5"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea4"
      label="With a scrollbar"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea5"
      label="Non-resizable"
      [resizable]="false"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea6"
      label="Validation (required)"
      [errors]="errors.textarea6"
      [required]="true"
    ></app-textarea>
  </div>

  <div class="form-group">
    <app-textarea
      formControlName="textarea7"
      label="Disabled"
    ></app-textarea>
  </div>
</section>
