.toolbar-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
}

.quick-filter {
  padding: 0 10px;
  width: 240px;
}

app-simple-grid {
  .toolbar {
    padding: 6px 0 4px !important;
    border-bottom: 1px solid #eaeaea;
  }
}
