<div class="flex vertical">
  <div *ngIf="toolbar" class="flex-item">
    <app-toolbar [toolbar]="toolbar">
      <div class="toolbar-content">
        <div class="quick-filter">
          <app-text
            ngModel=""
            [placeholder]="'shared.components.grids.grid.quickFilter' | translate"
            (ngModelChange)="onQuickFilterChange($event)"
          ></app-text>
        </div>
      </div>
    </app-toolbar>
  </div>

  <div class="flex-item grow">
    <ag-grid-angular
      *ngIf="colDefs"
      class="ag-theme-material"
      style="width: 100%; height: 100%;"
      [treeData]="treeData"
      [getDataPath]="getDataPath"
      [columnDefs]="colDefs"
      [getRowClass]="rowClassCallback"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [rowSelection]="selectionType"
      [autoGroupColumnDef]="autoGroupColumnDef"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>

  <app-grid-toolbar
    *ngIf="showToolbar && gridApi"
    class="flex-item"
    [gridApi]="gridApi"
  ></app-grid-toolbar>
</div>
