<div class="flex vertical">
  <div *ngIf="toolbar" class="flex-item">
    <app-toolbar-2 [items]="toolbar"></app-toolbar-2>
  </div>

  <div class="flex-item grow">
    <ag-grid-angular
      *ngIf="colDefs"
      class="ag-theme-material"
      style="width: 100%; height: 100%;"
      [treeData]="treeData"
      [animateRows]="true"
      [groupDefaultExpanded]="groupDefaultExpanded"
      [getDataPath]="getDataPath"
      [getRowNodeId]="getRowNodeId"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [columnDefs]="colDefs"
      [getRowClass]="rowClassCallback"
      [gridOptions]="gridOptions"
      [rowData]="rows"
      [rowSelection]="selectionType"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>

  <app-grid-toolbar
    *ngIf="showToolbar && gridApi"
    class="flex-item"
    [gridApi]="gridApi"
  ></app-grid-toolbar>
</div>

<!--
<ag-grid-angular
  *ngIf="columns"
  class="ag-theme-material"
  style="height: 500px;"
  [columnDefs]="columns"
  [rowData]="rows"
  [deltaRowDataMode]="true"
  [treeData]="true"
  [animateRows]="true"
  [groupDefaultExpanded]="groupDefaultExpanded"
  [getDataPath]="getDataPath"
  [getRowNodeId]="getRowNodeId"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [rowSelection]="rowSelection"
  [gridOptions]="gridOptions"
  (cellValueChanged)="onCellValueChanged($event)"
  (gridReady)="onGridReady($event)"
  (selectionChanged)="onSelect($event)"
  (rowDoubleClicked)="onDblClick($event)"
  (rowDragEnd)="onDragEnd($event)"
></ag-grid-angular>
-->
