<app-dynamic-form *ngIf="controls" [controls]="controls" [data]="data"></app-dynamic-form>

<h4>{{ 'modules.contactRegistration.parametersForm.attributesTitle' | translate }}</h4>
<p-treeTable selectionMode="none" [value]="attributes">
  <p-column field="code" header="Code"></p-column>
  <p-column field="name" header="Name"></p-column>
  <p-column field="value" header="Value">
    <ng-template let-node="rowData" pTemplate="body">
      <app-value-input [(ngModel)]="node.data"></app-value-input>
    </ng-template>
  </p-column>
  <p-column field="mandatory" header="Mandatory">
    <ng-template let-node="rowData" pTemplate="body">
      <input type="checkbox" [ngModel]="node.data.mandatory" [disabled]="true">
    </ng-template>
  </p-column>
</p-treeTable>

<button [disabled]="!canSubmit" (click)="onSubmit()">OK</button>
