<div class="toolbar">
  <div class="toolbar-item" [ngClass]="getItemCls(item)" *ngFor="let item of items">

    <!-- Button -->
    <ng-container *ngIf="isButton(item)">

      <!-- Dropdown Group -->
      <div *ngIf="item.children; else button">
        <app-dropdown #dropdown position="left" [enabled]="!(isDisabled(item) | async)">
          <app-button2
            trigger
            [disabled]="isDisabled(item) | async"
            [icon]="item.icon"
            [label]="false"
            [title]="item.label"
            [type]="getButtonType(item)"
            (click)="onClick(item)">
          </app-button2>
          <ul class="list-group mb0">
            <li *ngFor="let child of item.children" class="list-group-item p0 b0">
              <app-button2
                color="none"
                [disabled]="isDisabled(child) | async"
                [label]="child.label"
                (click)="onClick(child)">
              </app-button2>
            </li>
          </ul>
        </app-dropdown>
      </div>

      <!-- Simple Button -->
      <ng-template #button>
        <app-button2
          [disabled]="isDisabled(item) | async"
          [icon]="item.icon"
          [label]="false"
          [title]="item.label"
          [type]="getButtonType(item)"
          (click)="onClick(item)">
        </app-button2>
      </ng-template>
    </ng-container>

    <!-- Checkbox -->
    <span *ngIf="isCheckbox(item)">
      <app-checkbox
        [disabled]="item.disabled | async"
        [label]="item.label"
        [ngModel]="item.state | async"
        (change)="onClick(item)"
      ></app-checkbox>
    </span>
  </div>
</div>
