$checkbox-size: 15px;

.toolbar {
  width: 100%;
  // padding: 8px;
  background-color: #fff;
  user-select: none;
}

:host(.bordered) > .toolbar {
  border: 1px solid #d5d5d5;
  border-bottom: none;
}

:host(.bh) > .toolbar {
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}

:host(.bt) > .toolbar {
  border-top: 1px solid #d5d5d5;
}

:host(.bb) > .toolbar {
  border-bottom: 1px solid #d5d5d5;
}

.toolbar-item {
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.align-right {
    float: right;
    margin-right: 0;
    padding-left: 8px;
  }
}

.checkbox {
  display: inline-block;
  label {
    padding-left: $checkbox-size;
  }
  input[type="checkbox"] {
    margin-left: -$checkbox-size;
  }
}
