@import "../../styles/app/variables";

.panel {
  border: 1px solid $app-widget-border-color-dark;
}

.panel-heading {
  background: $panel-footer-bg;
  border-bottom: 1px solid $app-widget-border-color;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}
