.ngx-datatable {
  height: 600px;
  & .datatable-body-cell {
    text-align: left;
    padding: 0 1.2rem;
    vertical-align: middle;
    border-top: 1px solid lightgrey;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    line-height: 1.825;
  }
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper .datatable-body-row {
  border-top: 1px solid lightgrey;
}
