<div class="panel panel-default">

  <div class="panel-body">
    <ngx-datatable
      class="material"
      [cssClasses]="cssClasses"
      [columns]="columns"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="25"
      [rows]="rows"
      [limit]="20"
      [selected]="selected"
      [selectionType]="'multiClick'"
      [scrollbarV]="true"
      [scrollbarH]="false"
      (activate)="onActivate($event)"
      (select)="onSelect($event)">
    </ngx-datatable>
  </div>
</div>
