<app-dialog *ngIf="isDialog('property-search')" (close)="onCloseDialog()">
  <h3>{{ 'routes.workplaces.shared.propertySearch.title' | translate }}</h3>
  <div style="height: 50vh;">
    <app-property-search [personId]="pledgorId"></app-property-search>
  </div>
  <div dialog-footer>
    <app-button type="ok" (click)="onPropertySearchSubmit()"></app-button>
    <app-button type="cancel" (click)="onCloseDialog()"></app-button>
  </div>
</app-dialog>

<div class="flex vertical">
  <div class="flex-item">
    <app-button type="back" (click)="onBack()"></app-button>
    <app-button type="save" [disabled]="isSubmitDisabled$ | async" (click)="onSave()"></app-button>
  </div>
  <div class="flex-item grow" style="overflow-y: auto;">
    <app-dynamic-layout
      [layout]="layoutConfig"
      [data]="formData$ | async"
      [templates]="templates"
    ></app-dynamic-layout>
  </div>
</div>

<ng-template #propertyTitlebar>
  <app-titlebar [titlebar]="propertyTitlebarConfig"></app-titlebar>
</ng-template>

<ng-template #propertyClearButton>
  <app-button type="clear" (click)="onPropertyFormClear()"></app-button>
</ng-template>
