<app-add-permission
  *ngIf="isDialog(1)"
  [availablePermissions]="availablePermissions"
  (add)="onAddPermissions($event)"
  (cancel)="onCancel()"
>
</app-add-permission>

<app-edit-permission
  *ngIf="isDialog(2)"
  [record]="currentPermission"
  (save)="onAfterEditPermission($event)"
  (cancel)="onCancel()"
>
</app-edit-permission>

<app-dialog-action
  *ngIf="isDialog(3)"
  [actionMode]="'danger'"
  [actionMessage]="'default.buttons.remove'"
  [actionTranslationKey]="'roles.permissions.remove.confirmMessage'"
  [messageParams]="currentPermission"
  [titleTranslationKey]="'roles.permissions.remove.title'"
  (action)="onRemovePermission()"
  (cancel)="onCancel()"
>
</app-dialog-action>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  [columns]="columns"
  [columnTranslationKey]="'roles.permissions'"
  [emptyMessage]="emptyMessage$ | async"
  [rows]="permissions$ | async"
  [selectionType]="'single'"
  [styles]="{height: '400px'}"
  (onDblClick)="onBeforeEditPermission()"
  (onSelect)="onSelectPermissions($event)">
</app-grid>
