<app-add-permission
  *ngIf="isDialog(1) | async"
  [currentRole]="currentRole"
  (add)="onAddPermissions($event)"
  (cancel)="onCancel()"
>
</app-add-permission>

<app-edit-permission
  *ngIf="isDialog(2) | async"
  [record]="currentPermission"
  (save)="onAfterEditPermission($event)"
  (cancel)="onCancel()"
>
</app-edit-permission>

<app-dialog-action
  *ngIf="isDialog(3) | async"
  [actionMode]="'danger'"
  [actionMessage]="'default.buttons.remove'"
  [actionTranslationKey]="'roles.permissions.remove.confirmMessage'"
  [messageParams]="currentPermission"
  [titleTranslationKey]="'roles.permissions.remove.title'"
  (action)="onRemovePermission()"
  (cancel)="onCancel()"
>
</app-dialog-action>

<app-toolbar-2 [items]="toolbarItems"></app-toolbar-2>

<app-grid
  [autoLoad]="false"
  [columns]="columns"
  [columnTranslationKey]="'roles.permissions'"
  [dataSource]="dataSource"
  [editPermission]="'PERMIT_EDIT'"
  [parseFn]="parseFn"
  [selectionType]="'single'"
  [styles]="{height: '200px'}"
  (onEdit)="onBeforeEditPermission()"
  (onRowSelect)="onSelectPermissions($event)"
>
</app-grid>
