<div class="flex vertical">
  <div class="flex-item mb">
    <h4>{{ 'routes.workplaces.shared.contactRegistration.edit.dialogs.contactType.phone.title' | translate }}</h4>
  </div>
  <div class="flex-item grow mb">
    <app-simple-grid
      persistenceKey="[grid] workplaces/debtor-card/register-contact/phone"
      [columns]="columns"
      [rows]="phones"
      (select)="onSelect($event)"
      (dblClick)="onDoubleClick($event)"
    ></app-simple-grid>
  </div>
  <div class="flex-item">
    <app-button
      color="primary"
      type="registerContact"
      label="routes.workplaces.shared.contactRegistration.edit.dialogs.contactType.phone.button"
      [disabled]="!canRegisterSelectedPhone"
      (click)="onSubmit()"
    ></app-button>
  </div>
</div>
