<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'roles.permissions.add.title' | translate }}</h3>
  </div>

  <app-simple-grid
    persistenceKey="[grid] admin/roles/permissions/add"
    [columns]="columns"
    [parseFn]="parseFn"
    [rows]="availablePermissions"
    (dblClick)="onAddPermissions()"
    (select)="onSelectPermissions()"
  ></app-simple-grid>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canAddPermissions()" (click)="onAddPermissions()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
