<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'roles.permissions.add.title' | translate }}</h3>
  </div>

  <div style="height: 75vh;">
    <app-simple-grid
      persistenceKey="[grid] admin/roles/permissions/add"
      [columns]="columns"
      [rows]="availablePermissions"
      (dblClick)="onAddPermissions()"
      (selectRow)="onSelectPermissions()"
    ></app-simple-grid>
  </div>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canAddPermissions()" (click)="onAddPermissions()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
