<app-dialog (close)="onCancel()">
  <div dialog-header>
    <h3>{{ 'roles.permissions.add.title' | translate }}</h3>
  </div>

  <app-grid
    [columns]="columns"
    [columnTranslationKey]="'roles.permissions.add'"
    [parseFn]="parseFn"
    [rows]="availablePermissions"
    [styles]="{height: '300px'}"
    (onDblClick)="onAddPermissions()"
    (onSelect)="onSelectPermissions()">
  </app-grid>

  <div dialog-footer>
    <button class="btn btn-success" [disabled]="!canAddPermissions()" (click)="onAddPermissions()">
      <i class="fa fa-check"></i> {{ 'default.buttons.save' | translate }}
    </button>
    <button class="btn btn-default" (click)="onCancel()">
      <i class="fa fa-remove"></i> {{ 'default.buttons.cancel' | translate }}
    </button>
  </div>
</app-dialog>
