<ng-template #scrollWrapperTemplate>
  <perfect-scrollbar [config]="{ suppressScrollY: true, disabled: disableScrollbar }">
    <ng-container *ngTemplateOutlet="tabsTemplate"></ng-container>
  </perfect-scrollbar>
</ng-template>

<ng-template #tabsTemplate>
  <ul class="nav nav-tabs" [class.inverse]="inverse">
    <li *ngFor="let tab of tabs; let i = index" (click)="selectTab(tab)" [class.active]="tab.active" [class.disabled]="tab.disabled">
      <a>{{ tab.title | translate }}<i *ngIf="tab.closable && i > 0" (click)="closeTab(tab)" class="fa fa-close"></i></a>
    </li>
  </ul>
</ng-template>

<ng-container *ngIf="scrollerEnabled; else tabsTemplate">
  <table class="app-tabstrip-container">
    <tr>
      <td *ngIf="isToolsVisible"
          class="app-tabstrip-btn-wrapper"
      >
        <button
          class="btn btn-default app-tabstrip-btn app-tabstrip-backward-btn"
          type="button"
          (click)="onLeft()"
        >
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
      </td>
      <td class="app-tabstrip-scrollbar-wrapper">
        <ng-container *ngTemplateOutlet="scrollWrapperTemplate"></ng-container>
      </td>
      <td *ngIf="isToolsVisible"
          class="app-tabstrip-btn-wrapper"
      >
        <button
          class="btn btn-default app-tabstrip-btn app-tabstrip-forward-btn"
          type="button"
          (click)="onRight()"
        >
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </table>
</ng-container>
<ng-content></ng-content>
