.nav > li > a {
  padding-right: 20px;
}
.nav-tabs > li > a > i.fa {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.app-tabstrip-btn-wrapper {
  width: 36px;

  .btn {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.app-tabstrip-container {
  width: 100%;
  table-layout: fixed;
}
