<div>
  <button class="btn btn-default" (click)="onClose()">
    <i class="fa fa-remove"></i> {{ 'default.buttons.back' | translate }}
  </button>
</div>

<br>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  columnTranslationKey="contractors.managers"
  selectionType="single"
  [styles]="{height: '200px'}"
  [columns]="columns"
  [rows]="managers$ | async"
  [allowDblClick]="canEdit$ | async"
  (onDblClick)="onEdit($event)"
  (onSelect)="onSelect($event)">
</app-grid>

