<app-dialog-action
  *ngIf="isManagerBeingRemoved"
  titleTranslationKey="contractors.managers.remove.title"
  actionTranslationKey="contractors.managers.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedManager$ | async"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div>
  <button class="btn btn-default" (click)="onBack()">
    <i class="fa fa-arrow-left"></i> {{ 'default.buttons.back' | translate }}
  </button>
</div>

<br>

<app-toolbar-2
  class="bordered"
  [items]="toolbarItems">
</app-toolbar-2>

<app-grid
  columnTranslationKey="contractors.managers"
  selectionType="single"
  [styles]="{height: '200px'}"
  [columns]="columns"
  [rows]="managers$ | async"
  [allowDblClick]="canEdit$ | async"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>

