<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="contractors.managers.remove.title"
  actionTranslationKey="contractors.managers.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selection[0]"
  (action)="onRemoveSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<div class="mb">
  <button class="btn btn-default" (click)="onBack()">
    <i class="fa fa-arrow-left"></i> {{ 'default.buttons.back' | translate }}
  </button>
</div>

<app-simple-grid
  *ngIf="managers"
  persistenceKey="[grid] admin/contractors/managers"
  [selection]="selection"
  [columns]="columns"
  [rows]="managers"
  [toolbar]="toolbarItems"
  (dblClick)="onEdit()"
  (select)="onSelect($event)"
></app-simple-grid>

