<app-action-dialog
  *ngIf="isDialog('userId')"
  titleTranslationKey="modules.contactLog.filters.userId.title"
  actionTranslationKey="default.buttons.ok"
  [styles]="{ width: '80%', 'max-width': '80%' }"
  (action)="onFilterSelect()"
  (cancel)="onCloseDialog()"
>
  <div class="row">
    <div class="col-md-6">
      <app-grid
        [columns]="userColumns"
        [footerHeight]="false"
        [rows]="users"
        [styles]="{ height: '480px' }"
      ></app-grid>
    </div>
    <div class="col-md-6">
      <app-grid
        [columns]="userColumns"
        [footerHeight]="false"
        [rows]="[]"
        [styles]="{ height: '480px' }"
      ></app-grid>
    </div>
  </div>
</app-action-dialog>

<div class="mb">
  <app-dynamic-form
    *ngIf="controls"
    [controls]="controls"
    [data]="{}"
  ></app-dynamic-form>
</div>

<app-button type="search" (click)="onSearch()"></app-button>
