<label class="m0">
  <div *ngIf="label" class="form-label">
    {{ label | translate }}
    <b *ngIf="required" class="text-danger">*</b>
  </div>
  <div class="input-container">
    <input
      class="form-control"
      type="range"
      [min]="min"
      [max]="max"
      [disabled]="disabled"
      [readonly]="readonly"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
    />
  </div>
  <div>
    <span *ngIf="errors">{{ errors | json }}</span>
    <label *ngIf="!errors" class="form-inline range-label">
      <span class="range-text">{{ 'default.filter.value' | translate }}</span>
      <span *ngIf="!showInput" class="range-value">{{ formattedValue }}</span>
      <input *ngIf="showInput && !readonly"
        type="text"
        [ngModel]="formattedValue"
        (ngModelChange)="onInputChange($event)"
        class="form-control range-text">
    </label>
  </div>
</label>
