@import '../../../../styles/app/variables.scss';

i.co {
  font-size: 12px;
  width: 1em;
  height: 1em;
}

.select-search {
  width: 100%;

  &:not(.disabled) {
    padding-right: 3.5em;
  }
}

.select-controls {
  position: absolute;
  top: 0.55em;
  right: 0.3em;
  .select-caret {
    transition: transform 400ms ease;
    transform: rotateZ(270deg);
    &.up {
      transform: rotateZ(90deg);
      top: 0.4em;
    }
  }
  cursor: pointer;
}

.select-options {
  max-height: 180px;
  overflow-y: auto;

  & > li {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
  }

  &.dropdown-menu {
    border: 0;
    padding: 0;
    min-width: unset;
  }
}

.select-container {
  font-weight: normal;
  > .select-match > .form-control {
    padding-right: 24px;
    white-space: nowrap;
  }
  &[disabled] {
    > .select-match > .form-control {
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

.select-container[disabled] * {
  background-color: $gray-lighter;
  cursor: not-allowed;
}

.select-item {
  &.active {
    .dropdown-item {
      color: #fff;
      background-color: #23b7e5;
    }
  }
  &.closed {
    .dropdown-item {
      cursor: not-allowed;
      color: $text-light;
    }
  }
  &:hover {
    background-color: #eee;
  }
  .dropdown-item {
    padding: 3px $padding-base-horizontal;
    line-height: 1.42857143;
    color: #333;
    font-weight: normal;
    cursor: pointer;
  }
}

.select-clear {
  display: none;
}

.select-container:hover .select-dropdown-trigger > input:not(:disabled) {
  & ~ .select-controls {
    color: $text-light;
    .select-clear {
      display: inline-block;
    }
  }
  & ~ .select-controls .select-control:hover {
    color: $link-color;
  }
}

