<app-block-dialog
  *ngIf="isDialog('block')"
  titleTranslationKey="widgets.address.dialogs.block.title"
  labelTranslationKey="widgets.address.dialogs.block.inactiveReasonCode"
  [dictionaryId]="blockDialogDictionaryId"
  (action)="onBlockDialogSubmit($event)"
  (close)="onCloseDialog()">
</app-block-dialog>

<app-dialog-action
  *ngIf="isDialog('unblock')"
  titleTranslationKey="widgets.address.dialogs.unblock.title"
  actionTranslationKey="widgets.address.dialogs.unblock.confirmMessage"
  actionMessage="default.yesNo.Yes"
  actionMode="success"
  [messageParams]="selectedAddress$ | async"
  (action)="onUnblockDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="widgets.address.dialogs.delete.title"
  actionTranslationKey="widgets.address.dialogs.delete.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selectedAddress$ | async"
  (action)="onRemoveDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-address-grid-visits
  *ngIf="isDialog('visits')"
  [addressId]="selectedAddressId$ | async"
  [callCenter]="callCenter"
  [personId]="personId$ | async"
  (cancel)="onCloseDialog()">
</app-address-grid-visits>

<app-dialog-action
  *ngIf="isDialog('markConfirm')"
  titleTranslationKey="widgets.address.dialogs.markConfirm.title"
  actionTranslationKey="widgets.address.dialogs.markConfirm.confirmMessage"
  actionMessage="default.buttons.ok"
  actionMode="warning"
  (action)="onMarkConfirmDialogSubmit()"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-address-grid-mark
  *ngIf="isDialog('mark')"
  [callCenter]="callCenter"
  [debtorId]="debtorId"
  [personId]="personId$ | async"
  [personRole]="personRole"
  (submit)="onMarkDialogSubmit($event)"
  (cancel)="onCloseDialog()">
</app-address-grid-mark>

<app-simple-grid
  *ngIf="canDisplayGrid"
  persistenceKey="[grid] workplaces/shared/address"
  [columns]="columns"
  [rows]="addresses"
  [rowClass]="getRowClass()"
  [toolbar]="toolbarItems"
  (select)="onSelect($event)"
  (dblClick)="onDoubleClick($event)"
></app-simple-grid>
