<app-debt-grid-status-dialog
  *ngIf="(dialog$ | async) === 1"
  [debt]="selectedDebt$ | async"
  (submit)="onChangeStatusDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-status-dialog>

<app-debt-grid-close-dialog
  *ngIf="(dialog$ | async) === 2"
  [debt]="selectedDebt$ | async"
  [statusCode]="debtCloseDialogStatus$ | async"
  (submit)="onCloseDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-close-dialog>

<app-debt-grid-call-dialog
  *ngIf="(dialog$ | async) === 3"
  (submit)="onCallDialogSubmit()"
  (close)="onDialogClose()">
</app-debt-grid-call-dialog>

<app-toolbar-2 class="bh" [items]="toolbarItems"></app-toolbar-2>

<app-grid
  columnTranslationKey="widgets.debt"
  selectionType="single"
  [columns]="columns"
  [footerHeight]="false"
  [rows]="debts"
  [styles]="{ height: '230px' }"
  (onDblClick)="onDoubleClick($event)"
  (onSelect)="onSelect($event)">
</app-grid>
