<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="contractors.remove.title"
  actionTranslationKey="contractors.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="selection[0]"
  (action)="onRemove($event)"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-titlebar [titlebar]="titlebar"></app-titlebar>

<app-grid
  columnTranslationKey="contractors"
  selectionType="single"
  [styles]="{height: '300px'}"
  [columns]="columns"
  [rows]="contractors"
  [allowDblClick]="canEdit$ | async"
  (onDblClick)="onEdit()"
  (onSelect)="onSelect($event)">
</app-grid>
