<app-dialog-action
  *ngIf="isDialog('delete')"
  titleTranslationKey="contractors.remove.title"
  actionTranslationKey="contractors.remove.confirmMessage"
  actionMessage="default.buttons.remove"
  actionMode="danger"
  [messageParams]="grid.selection[0]"
  (action)="onRemove($event)"
  (cancel)="onCloseDialog()">
</app-dialog-action>

<app-titlebar [titlebar]="titlebar"></app-titlebar>

<app-simple-grid
  persistenceKey="[grid] admin/contractors"
  [columns]="columns"
  [rows]="contractors"
  (dblClick)="onEdit()"
  (select)="onSelect($event)"
></app-simple-grid>
